[2020-09-27 16:46] cagnulein opened #1 "Heart rate"

[2020-09-27 16:47] cagnulein opened #2 "Inclination write from zwift"

[2020-09-27 16:47] cagnulein opened #3 "Inclination write to domyos"

[2020-09-27 16:48] cagnulein opened #4 "Speed write from zwift"

[2020-09-27 16:48] cagnulein opened #5 "Write speed to domyos"

[2020-09-27 16:48] cagnulein opened #6 "Stop not possible from domyos"

[2020-09-27 16:49] cagnulein opened #7 "Fan doesn't work"

[2020-09-28 13:46] cagnulein opened #8 "getting manufacturer and model"

[2020-09-29 20:37] cagnulein opened #9 "Adding watts"

[2020-09-30 04:24] cagnulein commented on #2
It seems not possible, at least, now. https://forums.zwift.com/t/zwift-and-treadmill-control-questions-recommendations/128710

[2020-10-02 06:11] cagnulein commented on #6
solved from version 0.3.0

[2020-10-02 06:11] #6 closed

[2020-10-03 12:12] #1 closed

[2020-10-06 12:52] Martoni74 opened #13 "Logs from T900C"
Hello,

thanks for the great work.
I tested, by curiosity, with my Domyos T900C + RPi3 type B.
It fail during the BLE discovery. (I switch on T900C, launch the latest release)
Probably incompatible as it's older generation.

Here are the logs if it can helps : (didn't find anything else in /var/logs)
I'm no more really familiar with C++ but happy to test if required.

sudo ./qdomyos-zwift
Found ne

[2020-10-06 13:15] cagnulein commented on #13
Hi, from your log everything seems fine. From that point you should find the virtual interface into zwift or "nRF Connect".

[2020-10-06 14:01] Martoni74 commented on #13
Oh, one line was missing :-)
"stateChanged QLowEnergyService::ServiceState(InvalidService)
LowEnergy controller disconnected"
then I come back to prompt.

If I make an hciconfig, I only have an
"hci0:	Type: Primary  Bus: UART"

[2020-10-06 14:18] cagnulein commented on #13
i guess something inside btinit() hangs the bluetooth stack of the T900C.
In order to understand the issue i need a btsnoop_hci.log from a EConnected (Domyos app) session on Android. Could you get it? If you want i could follow you (maybe i could write it into the FAQ)

Otherwise we can play a little inside btinit() (for example, commenting line by line from the last to the top one) until we reach

[2020-10-07 05:49] Martoni74 commented on #13
I tried with my Xiaomi but I can't get this file even after enabling it in developper mode (not in /sdcard/ and no path in the /etc/bluetooth/bt_stack.conf).
I will have a look with another phone (rooted) during the day.

[2020-10-07 05:59] cagnulein commented on #13
ok thanks @Martoni74 . Sometimes you need to restart the phone before collecting the the log file (android seems to read the developer setting once on the startup). I'm using a Xiaomi Mi3 for this purpose.

[2020-10-08 06:12] cagnulein commented on #5
[debug.log](https://github.com/cagnulein/qdomyos-zwift/files/5345651/debug.log)

[2020-10-08 11:51] jampy opened #15 "Toorx TRX Route Key"
I saw your comment on https://www.runningforum.it/viewtopic.php?p=2406295&sid=a47271253baef7f6a8259d9d0ade916f#p2406295 and I'd be happy if you could help me reverse-engineer the Bluetooth protocol of the [TRX Route Key](http://www.toorx.it/prodotti/accessori-per-attrezzi-fitness/trx-route-key/). I tried to contact Toorx/Garlando, but they did not respond.

I'm not sure if I want to use Zwift but

[2020-10-08 12:13] cagnulein commented on #15
Hi Jampy, welcome aboard 👍

Ok, follow these steps:

1. you need to become developer on your phone https://wccftech.com/how-to/how-to-enable-developer-options-on-android-10-tutorial/
2. Go to Settings
3. Go into developer options
4. Enable the option Enable Bluetooth HCI snoop log
5. restart your phone
6. open the TRX app and play with it collecting inclination and speed
7. Disable the option Enab

[2020-10-08 12:17] cagnulein commented on #5
[debug.log](https://github.com/cagnulein/qdomyos-zwift/files/5347702/debug.log)

[2020-10-09 07:38] cagnulein commented on #15
Hi @jampy  did you try?

[2020-10-10 07:44] cagnulein commented on #13
@Martoni74 could you please try version 0.6.0? i guess i solved something for you too, thanks

[2020-10-10 11:44] Martoni74 commented on #13
Thanks,
I will try that this afternoon.
(Sorry for the late reply, my second phone generating By logs had a bug with the Decathlon app)
I keep you informed.

[2020-10-10 11:53] cagnulein commented on #5
implemented with

[2020-10-10 11:53] #5 closed

[2020-10-10 11:54] #3 closed

[2020-10-10 11:56] cagnulein opened #16 "Measure distance"

[2020-10-10 12:37] Martoni74 commented on #13
Here is the error I get :
pi@raspberrypi:~/qdomyos-zwift $ sudo ./qdomyos-zwift-v.6.0
qt.bluetooth.bluez: Bluez 5 detected.
qt.bluetooth.bluez: Creating QtBluezDiscoveryManager
qt.bluetooth.bluez: Discovered:  "00:00:0C:1B:15:01" "Domyos-TC-1441" Num UUIDs 4 total device 0 cached RSSI 0 Class 0
"Sat Oct 10 14:34:32 2020Found new device: Domyos-TC-1441 (00:00:0C:1B:15:01)\n"
qt.bluetooth.bluez: voi

[2020-10-10 12:42] cagnulein commented on #13
Could you connect with the phone to the treadmill on the same spot of the rpi?

It seems a radio error, not a C++ one :)

[2020-10-10 12:45] cagnulein commented on #13
With the nrf connect app I mean

[2020-10-10 13:08] Martoni74 commented on #13
Thanks, in fact 0.4.0 was also not working so signal issue.
I pulled a network cable and installed the RPi next to threadmill.
Connection work and the threadmill stay at 1kmh (if I put loweror upper, it stays 1kmh).
However it's detect as 0kmh in Zwift.
after a few minutes, it stops :
"Sat Oct 10 15:03:15 2020characteristicWritten f0 ac 9c\n"
"Sat Oct 10 15:03:15 2020 << f0 bc 00 00 00 00 00 0a 00

[2020-10-10 13:35] cagnulein commented on #13
Ok, one step further :) the next time upload the whole log file, it could be useful (with the 0.6 version I created a file for every session called debug-dateoftoday.log)

I'm going to a wedding party so have a nice day :)

[2020-10-10 13:49] cagnulein commented on #13
If the speed buttons doesn't work is because the buttons have a specific code, so I have to managed. Upload the full log and tell me, more or less, when you have pressed the up and down button

[2020-10-11 12:49] cagnulein opened #17 "Import GPX as train program"

[2020-10-11 16:59] cagnulein commented on #7
[fan.log](https://github.com/cagnulein/qdomyos-zwift/files/5361469/fan.log)

[2020-10-12 06:56] cagnulein opened #18 "Show KCal on UI"

[2020-10-12 06:57] cagnulein commented on #7
[fan.xlsx](https://github.com/cagnulein/qdomyos-zwift/files/5363404/fan.xlsx)
#18 #16

[2020-10-12 13:07] cagnulein opened #19 "Save session as GPX and/or FIT"

[2020-10-12 13:08] cagnulein opened #20 "add realtime charts"

[2020-10-12 16:09] jampy commented on #15
Hi @cagnulein , sorry for the delay (was busy).

I did what you requested. The tricky part was how to get the file off the phone. [This solution](https://stackoverflow.com/a/46674486/688869) did help.

Here is the dump: [btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5366145/btsnoop_hci.log)

I used [FitConsole](https://play.google.com/store/apps/details?id=com.pafers.fitconsole

[2020-10-12 16:27] cagnulein commented on #15
Hi @jampy
Thanks for the detailed debug session :)
Tomorrow I will check it

[2020-10-13 05:10] cagnulein commented on #7
[btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5369054/btsnoop_hci.log)

[2020-10-13 06:03] #18 closed

[2020-10-13 06:42] cagnulein commented on #15
Ok log seems fine, here i will write everything i will discover from your log as reference for the development.

Name of the device: "TRX ROUTE KEY"

[2020-10-13 07:11] cagnulein commented on #15
ok @jampy i think it should be easy to add the support for the TRX ROUTE KEY (check my previous comment). So i think we can do in this way:

i will create a branch for you and i'll start the development. We need some tries because i have to try some stuff on the bluetooth, so i need a hand from you in order to debug it.

Let me know if it is ok for you and i will proceed.

[2020-10-13 08:52] jampy commented on #15
Ok, I'll try to help you :-)

Note I currently do not have any Zwift account - is that a problem?

[2020-10-13 08:54] cagnulein commented on #15
no, no problem at all, Zwift is not mandatory 👍

[2020-10-13 08:55] cagnulein commented on #15
here you can follow me on the development https://github.com/cagnulein/qdomyos-zwift/tree/toorx

I'll tell you when i'm ready to test. Will you be able to compile from source or do you need the binary?

[2020-10-13 08:55] jampy commented on #15
Some quick notes: A while back I simply tried to connect to the TRX ROUTE KEY using simply a terminal. IIRC that thing had multiple virtual interfaces and none of them sent any data by itself. So I guess it needs some kind of initialization.

Also the treadmill (Toorx TRX 65 S EVO in my case) can be controlled via software. At least the inclination can be adjusted - don't know about speed or start

[2020-10-13 08:59] jampy commented on #15
Hmm, will try to compile your sources later - I'm current busy with other stuff. I'm using a special mostly-writeprotected Debian on my Raspberries, but I guess I can set up Raspbian somewhere. Is the Raspberry 3B good for testing?

[2020-10-13 08:59] cagnulein commented on #15
ok thanks for the info, i saw some commands from your phone to the TRX, so i guess there are init commands.

Ok for the writing attributes, but let's start reading first, after that we will introduce the writing.

[2020-10-13 09:00] cagnulein commented on #15
raspberry 3b is fine. Mmmh..ok maybe i will compile it and i will attach the binary here. I guess it's quicker :)

[2020-10-13 09:22] cagnulein commented on #15
_little curiosity: seems that TRX is not a BTLE (Bluetooth Low Enery Device) but a standard Bluetooth device. I don't know why Toorx has developed such a device in the 2020, maybe for simplicity_

[2020-10-13 09:59] cagnulein commented on #15
@jampy did the app ask the very first time for a bluetooth PIN to connect to the TRX?

[2020-10-13 12:23] jampy commented on #15
no, no PIN asked

[2020-10-13 12:35] cagnulein commented on #15
@jampy here you can download the binary https://github.com/cagnulein/qdomyos-zwift/blob/toorx/src/qdomyos-zwift?raw=true

once downloaded do the following steps:
1. chmod a+x qdomyos-zwift
2. sudo ./qdomyos-zwift
3. paste me all the outputs you get from the previous command

If everything works (**that is nearly impossible**) you should get the values on the UI.
The purpose of this test is underst

[2020-10-13 22:15] alpat59 commented on #15
@cagnulein I discovered your project to interconnect domyos with zwift. It's really interesting ... congratulationsù
I would ask two questions:
1) Is the "bridge" usable with a Domyos connected cyclette ? (E-Fold has bluetooth and can connect natively with Domyos app and Kinomap too)
2) is there a Mac version of your code?
Thank you in advance for your answers

[2020-10-14 04:24] cagnulein commented on #15
@alpat59
1. I didn't try with any cyclette, so the current code I guess it's not compatible with cyclettes. But if you want we could sniff the packets and add the support
2. Yes, Qt are available on Mac too.
3. If you want proceed, open a dedicated issue, thanks

[2020-10-14 05:56] cagnulein opened #22 "Domyos connected cyclette (E-Fold)"
@alpat59 let's continue here 👍

[2020-10-14 06:39] alpat59 commented on #22
Thank you Roberto. As you know, zWift has a wide adoption in the bikers community, so I think that extending your nice project to those devices could be really appreciated. I’ll support your enhancement development and I confirm you my availability to collaborate and test the code, if needed.
At the same time, I kindly ask you some few hints to run your code on Mac (ca I follow the same install in

[2020-10-14 06:57] cagnulein commented on #22
ok, so first of all you have to following the same steps that i described #15 to collect the packets from the cyclette.
About the Mac installation: download this http://download.qt.io/official_releases/qt/5.12/5.12.9/qt-opensource-mac-x64-5.12.9.dmg and clone my repository. Open my project with qtcreator and simply build it.

I will try the same this weekend on my mac air 2013.

[2020-10-14 07:26] #17 closed

[2020-10-14 14:21] cagnulein commented on #13
@Martoni74 did you have a chance to try it again?

[2020-10-14 14:22] cagnulein opened #24 "writing to display domyos treadmill console"

[2020-10-14 14:36] Martoni74 commented on #13
Hi,
Sorry for the delay, I had issues with the RPi.
I've done tests but I'm not sure I receive anything when checking the logs.
Here is the timeline of log file :
- 13:24 - press many times on "SPEED UP"
- 13:25 - press many times on "SPEED DOWN"
- 13:26 - press many times on "INCLINE UP"
- 13:27 - press many times on "INCLINE DOWN"

[debug-Oct-13-2020_touch.log](https://github.com/cagnulein/qdomy

[2020-10-14 14:57] cagnulein commented on #13
i saw the speed increasing by 0.1 km/h as expected from 1.0 to 1.6 kmh

i saw the speed decreasing by 0.1 km/h as expected from 1.6 to 1.1km/h

i saw the inclination increasing by 0.5 degrees as expected, but here the value it's different: from 1005 to 1050. Which inclination did you reach and start?

same as above

[2020-10-14 14:59] cagnulein commented on #13
@Martoni74 if you try with 0.7.0 version you will see the values in the UI

[2020-10-14 15:11] cagnulein commented on #16
[debug-Mon Oct 12 18:43:43 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5379158/debug-Mon.Oct.12.18.43.43.2020.log)
[debug-Mon Oct 12 20:47:31 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5379159/debug-Mon.Oct.12.20.47.31.2020.log)

[2020-10-14 20:02] cagnulein opened #25 "Convert ticks to RTC to avoid jittering"

[2020-10-14 20:03] cagnulein opened #26 "Add minimum, maximum speed as options"

[2020-10-15 04:25] cagnulein opened #27 "Sometimes units are in miles"

[2020-10-15 04:26] cagnulein opened #28 "Sometimes domyos bridge doesn't appear on zwift"

[2020-10-15 04:27] #16 closed

[2020-10-15 04:30] cagnulein opened #29 "Add train program as executable argument"

[2020-10-15 05:22] Martoni74 commented on #13
Great,
As Zwift was staying at 0kmh, I was suspecting my threadmill.
I will flash a new SD Card with Raspian to avoid conflict and try version 0.7.0

[2020-10-15 06:07] cagnulein commented on #13
@Martoni74 bonus info: if you use nRF Connect from play store, you should connect to DomyosBridge and check the speed and the inclination that i pass to zwift (with zwift closed)

[2020-10-15 06:18] #29 closed

[2020-10-15 07:26] jampy commented on #15
Hi @cagnulein

I downloaded a fresh copy of `Raspberry Pi OS (32-bit) Lite`, ran `sudo apt upgrade && sudo apt update`, waited for a huuuuuge wolfram-engine update, installed `git libqt5bluetooth5 libqt5widgets5 libqt5positioning5 libqt5xml5` and `qt5-qmake` IIRC, then downloaded your binary.

First I started it as unprivileged user:

[code]

Then tried as root:

[code]

The threadmill never indic

[2020-10-15 08:04] cagnulein commented on #15
@jampy could you please try this binary https://github.com/cagnulein/qdomyos-zwift/raw/toorx/src/qdomyos-zwift always with sudo? thanks

[2020-10-15 08:16] cagnulein commented on #27
[fogliano.log](https://github.com/cagnulein/qdomyos-zwift/files/5383340/fogliano.log)

[2020-10-15 08:41] jampy commented on #15
Here you are (uh oh - segfault!):

[code]

Due to the segfaule I ran it again with strace, in hope this might help you:

[code]

[output-2020-10-15-1039.txt](https://github.com/cagnulein/qdomyos-zwift/files/5383470/output-2020-10-15-1039.txt)

[2020-10-15 08:43] cagnulein commented on #15
@jampy could you please run with gdb? so

sudo gdb  ./qdomyos-zwift.bin --args -no-gui

[2020-10-15 08:49] jampy commented on #15
[code]

Funny: Still while in the qdb command line (a few seconds after the `bt`) my threadmill started to show a Bluetooth connection.

I'm currently still in the gdb session, the threadmill still shows the connection.

Waiting for your instructions.. ;-)

[2020-10-15 09:05] cagnulein commented on #15
@jampy i have to think about it...it's a good sign that you saw the bluetooth icon on the treadmill, but this SEGV seems not related to my code, but to the qt libs instead. i will build a new version with the debug symbols

[2020-10-15 09:08] cagnulein commented on #15
@jampy could you please try this binary https://github.com/cagnulein/qdomyos-zwift/raw/toorx/src/qdomyos-zwift with gdb?
thanks

[2020-10-15 09:11] jampy commented on #15
[code]

...and then again a BT connection signaled by the threadmill

[2020-10-15 09:14] cagnulein commented on #15
@jampy i guess we encountered a QT issue. I will post in the QT forums/bugs. Thanks for your patience

[2020-10-15 09:14] cagnulein commented on #15
@jampy could you please check if there are other threads bt?

[2020-10-15 09:14] jampy commented on #15
Maybe I should try building from source? However, I even fail to build `master`:

[code]

[2020-10-15 09:15] jampy commented on #15
what do you mean?

[2020-10-15 09:15] cagnulein commented on #15
you have to
git checkout toorx

[2020-10-15 09:16] cagnulein commented on #15
thread apply all bt
https://stackoverflow.com/questions/18391808/how-do-i-get-the-backtrace-for-all-the-threads-in-gdb

[2020-10-15 09:17] jampy commented on #15
yeah, I deliberately tried to build `master` because it probably should **build** just fine...

anyway:

[code]

[code]

[code]

[2020-10-15 09:18] cagnulein commented on #15
did you install libqt5bluetooth5  ?

[2020-10-15 09:19] jampy commented on #15
new run:

[code]

[2020-10-15 09:20] jampy commented on #15
[code]

[2020-10-15 09:21] cagnulein commented on #15
@jampy maybe you need qtconnectivity5-dev too

[2020-10-15 09:28] jampy commented on #15
Ideed! :-)

(perhaps update `README`) ;-)

No segfault now, but now it just exits gracefully..?

[code]

Note: The threadmill shows **no** connection.

[2020-10-15 09:29] cagnulein commented on #15
@jampy run it with gdb, it seems very strange

[2020-10-15 09:30] cagnulein commented on #15
i did it :)

[2020-10-15 09:33] jampy commented on #15
[code]

(with the binary built from source 15fdaec3)

[2020-10-15 09:38] cagnulein commented on #15
@jampy ok so is the same as with my binary. I will post on QTbugs and i will let you know

[2020-10-15 10:01] cagnulein commented on #15
https://bugreports.qt.io/browse/QTBUG-87620

[2020-10-15 12:06] cagnulein commented on #15
@jampy it's very strange: i used my android phone as a virtual treadmill and everything works...i guess something from the treadmill makes QT crazy...

[2020-10-15 13:11] jampy commented on #15
Perhaps your code does not handle unexpected situations well? Like, your Android phone accepts the connection, while the TRX ROUTE KEY for some reason does not? Just guessing...

Maybe you're connecting to the wrong "port" of the BT device?

Let me know if I can do some more tests...

[2020-10-15 13:55] cagnulein commented on #15
@jampy i guess QT developer needs the bt with QT debug symbol https://bugreports.qt.io/browse/QTBUG-87620?focusedCommentId=531315&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-531315

I think we (you :( ) need to recompile QT with debug symbol and retry again. I found this repo https://github.com/tranter/raspberry-pi-qt-builds that could be useful. Anyway we could

[2020-10-15 14:16] cagnulein commented on #15
@jampy the guy from QT says that he need the debug symbols, so i will compile the QT from scratch for you and i will create a repo with the binaries.

[2020-10-15 15:05] cagnulein commented on #15
![IMG_20201015_170351](https://user-images.githubusercontent.com/48216/96148436-8d514280-0f08-11eb-93a5-5988977dfc31.jpg)
It's Building :D

[2020-10-15 16:23] cagnulein commented on #22
@alpat59 any news?

[2020-10-15 17:28] alpat59 commented on #22
Roberto, sorry for my delay ...  I saw that the packets collection is bsed on android. I haven't android device. So I was trying to find another way by ios and mac (as documented here: https://www.bluetooth.com/blog/a-new-way-to-debug-iosbluetooth-applications/). I need some time to install prereqs and to try... If I'll bot have success I'll go to find an android device... this means some time mor

[2020-10-15 17:33] cagnulein commented on #22
@alpat59 my tool read and write (bidirectionally) info from/to domyos (custom protocol, no docs about it) and expose to zwift a classic fitness machine profile.

Zwift doesn't support (till now) writing to the treadmill, but if in the future they will do it, this tool is already compatible.

In the meanwhile you can play with the gpx import that I introduced in version 0.7

[2020-10-15 17:34] cagnulein commented on #22
@alpat59 for sniffing without an android device you will simply buy a bluetooth dongle and sniff the traffic by wireshark I guess

[2020-10-15 17:35] cagnulein commented on #22
Or buy an android device on ebay for 10€ :D

[2020-10-15 17:43] alpat59 commented on #22
I'll do my best ..! and again thank you for your kindness to support us .. and for the info. I was thinking if with your tool, our device could be supported also by other training app (Rouvy, ..). Zwift support the possibility to connect apple watch. It will be possible also using your tool ?

[2020-10-15 17:48] cagnulein commented on #22
Yes of course, exposing a fitness machine profile can work with all the apps on the market.

Yes adding an apple watch (for heart rate I guess?) Should be very easy. But if you can already connect to zwift is pointless, isn't it?

[2020-10-15 17:58] alpat59 commented on #22
do you think it will be possible to provide a docker version of the tool ?

[2020-10-15 18:13] cagnulein commented on #22
@alpat59 maybe it's faster creating a static executable, I'm already doing for #15

[2020-10-15 19:45] cagnulein commented on #24
[display.log](https://github.com/cagnulein/qdomyos-zwift/files/5387385/display.log)
elapsed time works

[2020-10-16 07:02] Martoni74 commented on #13
Hi,
after a clean setup, I confirm app works nice with the T900C.
Now, it looks my RPi don't broadcast BT after connecting to the Threadmill.
I can't detect anything with Zwift App (I tested on iPad, Win 10 and Macbook) as on nRF Connect.
I probably have a bug on my RPi (I tried 3 power supply but doesn't help)

[2020-10-16 07:24] cagnulein commented on #13
@Martoni74 sometimes it doens't discover it. When it happened i simply restart my app and it will be discovered (i have to fix it this weekend #28 ). Could you please try? Did you update everything on your raspi? bluez updated is very important

[2020-10-16 10:17] Martoni74 commented on #13
@cagnulein I've done a quick test at lunch and I think it's a power issue with my RPi :
- with the GUI mode, I can't get the app to work more than 10s;
- without GUI, I can run it smoothly however it's not broadcasting BT.
I have retried version 6.0 but same result.
I will have a look next week to test with another RPi

[2020-10-16 10:19] cagnulein commented on #13
did you try to close it and reopen it? did you update bluez?

[2020-10-16 18:57] cagnulein commented on #15
here you can find the binary built agains qt 5.15.1 https://github.com/cagnulein/qdomyos-zwift/raw/toorx/src/qdomyos-zwift
you need also the libs, i will upload it tonight, they are 1GB

first of all, run it without gdb, just to be sure that the bugs has already solved.
next, if the bug stills, run with gdb and post the results. thanks

my pi4 is on fire after 12 hours of building :D

[2020-10-16 20:42] cagnulein commented on #15
@jampy here the libs https://we.tl/t-SoEO8lXfJz
This link will expired the 23th of October, so please download it ASAP

[2020-10-17 12:14] #28 closed

[2020-10-17 12:46] cagnulein commented on #24
distance to 9.9km added, at least

[2020-10-17 12:50] cagnulein commented on #13
could you please try version 0.8.0 @Martoni74 ? I improved zwift connection

[2020-10-17 13:40] cagnulein commented on #22
@alpat59 i've compiled a version for macos, give it a try! (version 0.8.0 https://github.com/cagnulein/qdomyos-zwift/files/5395765/qdomyos-zwift-macOS-0.8.0.zip )

[2020-10-17 15:33] kenands commented on #22
Hi cagnulein,
I have a domyos bike 500 and it would be great if I can use it with zwift :)

I write in this topic because I think e-fold works like bike 500 (I had an e-fold before), they have the same console.

Some features works already with bike 500 without any change:
read speed
display elapsed time
display calories
display distance
start and stop button

I found:
position of cadence(rpm):

[2020-10-17 16:17] cagnulein commented on #22
Hi @kenands welcome aboard!
So you mean that all the connection chain works out of the box? Wow!

Yeah I know why zwift doesn't recognize my script as a bike, it should be easy to adapt.

Give me some days and I will give you a version to test!

Have a nice weekend!

[2020-10-17 17:06] kenands commented on #22
Yes it works :) great job.
I can already use zwift with my indoor bike as a treadmill.

I tried with changing 0x2ACD treadmill data characteristic uuid into 0x2AD2 (indoor bike data) and manipulate treadmillprovider function but I don't know wich format and position put the data in 'value'. Zwift see power provider, cadence but in some tries with 0 or incorrect data.

I'm not hurry.

Many thanks !

[2020-10-17 17:56] cagnulein commented on #22
@kenands the format should be described in these documents:
https://www.bluetooth.org/docman/handlers/downloaddoc.ashx?doc_id=261450
https://www.bluetooth.org/docman/handlers/downloaddoc.ashx?doc_id=261449

[2020-10-17 18:40] kenands commented on #22
Thanks, I will take a look.
I use a raspberry pi 4.

[2020-10-17 19:58] alpat59 commented on #22
@cagnulein and @kenands ... thank you for great job... I'm late with the data gathering on  my e-folder but I see that your are over that step... If you need more data, I'll give you but I have to arrange a way to obtain an android device (I have only iOS).. if I can help you to test the bridge I'll be happy to do it .. but, sorry for that, I can test only on macOS... I'm sure that in few days we'

[2020-10-17 20:07] drainuzzo commented on #15
Hello next days I would try my Toorx TR with bt key TRX App Gate USB, I don't know if it would work like the Route KEY.

So I have a Raspberry 3 and 4 I can try compiling the code from there? Then I should try to use the Toorx with Zwift and check the logs on the Raspberry?

[2020-10-17 20:25] cagnulein commented on #22
@alpat59 did you see that I released a macOs version?

[2020-10-17 20:29] cagnulein commented on #15
@drainuzzo hi, first of all try this binary https://github.com/cagnulein/qdomyos-zwift/raw/toorx/src/qdomyos-zwift

If you have the same issue as @jampy then use the new binary built against at 5.15.1 and download the libraries from my previous comment.

I'm very curious

[2020-10-17 20:37] alpat59 commented on #22
Yes .. thank you ... I tried to start but I need to install the qt prerequisites. I saw that you published a link to a specific version of qt library. Do I need that or standard version (for mac) will be good? Tks

[2020-10-17 20:40] cagnulein commented on #22
Just install this one http://download.qt.io/official_releases/qt/5.12/5.12.9/qt-opensource-mac-x64-5.12.9.dmg

I'll update the readme 👍

[2020-10-17 20:41] alpat59 commented on #22
tks

[2020-10-18 05:32] cagnulein opened #30 "SegFault when BTLE fails to connect to an unavaiable device"
When a treadmill was discovered, it remains in cache. If, in the future, the treadmill will be offline but still in cache, the code tries to connect without success: in this case it exits with a SEGFAULT

[2020-10-18 10:17] cagnulein commented on #22
@kenands something starts moving :+1:
![Screenshot_20201018_121545_com zwift zwiftgame](https://user-images.githubusercontent.com/48216/96364652-ea810a00-113b-11eb-8425-4b407ea8c08f.jpg)

[2020-10-18 11:02] kenands commented on #22
Cool :) if you need more input from me, don't hesitate.
Thanks.

[2020-10-18 15:43] Martoni74 commented on #13
Thanks I try that this evening.
I see also you have a MacOS version, I can run that on my MBP along with Zwift ?

[2020-10-18 16:00] cagnulein commented on #13
I do

[2020-10-18 16:01] cagnulein commented on #13
I don't know because I usually run zwift on my phone. Try and let me know but I guess it's quite impossible that zwift can run along this software

[2020-10-18 18:06] cagnulein commented on #22
@kenands did you detect the W in the frames? Did your app shows the Watt? It's mandatory on zwift

[2020-10-18 18:32] Martoni74 commented on #13
With version 8.0, i had to install libqt5xml5 package.
However, I get a bluetooth error when loading - I think it's my RPi that have a bug.
"Cannot find a running Bluez. Please check the Bluez installation.
"Sun Oct 18 20:25:08 2020no bluetooth dongle found!\n"
I will get a RPi at the office to make a comparison. (mine run with Jeedom, docker, ... since a few years now, probably not reliable for t

[2020-10-18 18:34] cagnulein commented on #13
Yes i wrote it in the readme

I guess it's something against blues. hciconfig works?

Oky!

Perfect! Have a nice evening

[2020-10-18 18:40] kenands commented on #22
Econnect doesn't show Watt but kinomap yes. I think this bike doesn't have watt sensor, apps like kinomap estimate watts from cadence and resistance data but I don't know how :/

[2020-10-18 18:49] cagnulein commented on #22
@kenands ok i will add the math as I did for the run

[2020-10-18 20:16] alpat59 commented on #22
@cagnulein I installed the QT package on my mac and then I launched your compiled 0.8 version.
But I'm obtained the following messages.
Have you some help for me?
Thank you

/Users/Alberto/Downloads/qdomyos-zwift ; exit;
Alberto@Albertos-MacBook-Pro ~ % /Users/Alberto/Downloads/qdomyos-zwift ; exit;
dyld: Library not loaded: @rpath/QtWidgets.framework/Versions/5/QtWidgets
  Referenced from: /Users

[2020-10-18 21:07] cagnulein commented on #22
@alpat59 very strange. Tomorrow I will looking for the root cause. Can you please try to open qt creator and rebuild from source?

[2020-10-18 21:33] alpat59 commented on #22
ok I'll try

[2020-10-19 06:21] cagnulein opened #31 "macOS binary issue"
@cagnulein I installed the QT package on my mac and then I launched your compiled 0.8 version.
But I'm obtained the following messages.
Have you some help for me?
Thank you

/Users/Alberto/Downloads/qdomyos-zwift ; exit;
Alberto@Albertos-MacBook-Pro ~ % /Users/Alberto/Downloads/qdomyos-zwift ; exit;
dyld: Library not loaded: @rpath/QtWidgets.framework/Versions/5/QtWidgets
  Referenced from: /Users

[2020-10-19 06:22] cagnulein commented on #31
@alpat59 if you rebuild from source, recompile this tree https://github.com/cagnulein/qdomyos-zwift/tree/0.8.0 not the master, because i'm working on it

[2020-10-19 09:05] cagnulein commented on #22
@kenands some questions:
1. on your bike you can write only the resistance (1-15), isn't it?
2. do you have a heart rate monitor on your bike? is it analogic or bluetooth? on my treadmill is analogic and the treadmill reads it

[2020-10-19 09:13] kenands commented on #22
Hi,
1. Yes, i can only write resistance and value is between 1 and 15.
2. Yes I have an analogic heartmoniter on the bike and it's already works with treadmill version of your app (from bike to zwift) :)
3. My bike doesn't have a fan.

Thanks

[2020-10-19 09:14] alpat59 commented on #22
@cagnulein waiting for @kenands answers, I'll give you answers by my side (e-folder byke) based on the native integration with the only two compatible app (e-domyos connected and kinomap):
1) yes, for sure resistance is applied on bike by app depending by workout you selected
2) my bike allows the use of analogic heartrate belt ... but I'm using apple watch connected (paired) to iphone app (kinoma

[2020-10-19 10:03] jampy commented on #15
downloading  & exctracting right now...

will try later today...

[2020-10-19 10:12] cagnulein commented on #22
@alpat59 @kenands do you already have a zwift account? Because i almost finished the implentation (for now i expose only the data to zwift, in the next days i will add the possibility to write the resistance from zwift, if possible) and this evening or tomorrow evening i would like to release an alpha version.

[2020-10-19 10:17] kenands commented on #22
@cagnulein yes I have a zwift account.
Good news :) you are fast.

[2020-10-19 10:22] cagnulein commented on #22
@kenands if you are able to compile the code, you should try to build the master tree and post me the log.

[2020-10-19 10:38] alpat59 commented on #22
I have a Zwift account. But I’m able to support you only on Mac but before I need to fix some installation problem. (I’m sorry because I have few time to dedicate to test but I’ll continue to support you at my best !)

[2020-10-19 12:23] cagnulein commented on #22
@kenands if you are able to compile from source, you can try https://github.com/cagnulein/qdomyos-zwift/commit/91db440047376ffaa4807751f6a7303af39fff01
I didn't test anything so it's up to you. post me the full log and in case of segfault, use gdb to give me a backtrace.

In the next days i will fix the UI for the bike.

Thanks

[2020-10-19 13:19] kenands commented on #22
@cagnulein thanks, ok I will do this night.

[2020-10-19 13:24] cagnulein commented on #31
@alpat59 i've to rebuild the macOS package with https://doc-snapshots.qt.io/qt5-5.9/osx-deployment.html#macdeploy
I will do this evening or tomorrow evening. If you will rebuild it from source you shouldn't have this issue

[2020-10-19 14:12] jampy commented on #15
[code]

[code]

Or with gdb:

[code]

Please notice the `index out of range` in the first run (without gdb).

[2020-10-19 14:20] cagnulein commented on #15
thanks @jampy let's see if the qt guys has some ideas about it

[2020-10-19 14:24] cagnulein commented on #15
@jampy gdb says `/usr/lib/arm-linux-gnueabihf/libQt5Bluetooth.so.5` i guess there is some issue on the linking, it still use your system library. Could you check it?

[2020-10-19 14:36] jampy commented on #15
Apparently `set environment LD_LIBRARY_PATH="/home/pi/QT-BUILD-cagnulein/opt/Qt5.15/lib/"` did not have the desired effect.

If I omit the quotes, then the program runs incredibly slow and at some point gdb crashes.

Dunno how to force the Qt lib path during a gdb session (I use that thing *very* rarely)...

[2020-10-19 14:39] cagnulein commented on #15
i think that it's the correct behaviour, infact the debug library are slower than the normal ones.

I guess it's a matter of RAM: "dmesg" says something after the gdb crash? If it's a RAM issue, you can try increasing your swap space.

Do you have a mac? We could try to run on it just to debug it...

[2020-10-19 18:40] kenands commented on #22
@cagnulein  , I did a try and it did not work at first time because I have a neigboor that have a domyos bike too ^^ (Domyos-Bike-1627).
I replaced: if(device.name().startsWith("Domyos-Bike") by if(device.name().startsWith("Domyos-Bike-1175")
in bluetooth.cpp and in domyosbike.cpp.
It's not work too, I replaced if(device.name().startsWith("Domyos") by if(device.name().startsWith("Domyosx") in blue

[2020-10-19 18:51] cagnulein commented on #22
Hahaha I never thought about 2 machine in the neighborhood :D I will add something to choose your machine :)

Ok for the power, it's totally untested code.
You did a great job on debugging!

I will check your log and I will fix the bugs.
The bike moves on zwift even if the power was a mess?

[2020-10-19 19:05] kenands commented on #22
Last time I tried it wasn't there, but I will move wednesday :). Maybe someone else coud be has the same case ^^

Many thanks :)

Yes bike moves very fast on zwift :D

[2020-10-19 20:00] jampy commented on #15
[code]

Why did it stop (wasn't me)? No clue... Let's bring it to foreground..

[code]

Does not look like a RAM issue...

I have a Mac Mini, but seldomly use it. I'm not sure what you what use you have for it..?

[2020-10-19 20:32] cagnulein commented on #22
ok, here we go, another round :) https://github.com/cagnulein/qdomyos-zwift/commit/dc5290ced95e12d285a2ebe527829af633443931

i fix the power bug, i added also a filter for your device, just pass to the argument
./qdomyos-zwift -name Domyos-Bike-1175

Let me know if it works :)

[2020-10-19 21:22] cagnulein commented on #15
@jampy I'm really out of ideas, let's wait for @drainuzzo and see if he will have the same behavior

[2020-10-19 22:21] kenands commented on #22
@cagnulein, bike connect to zwift but zwift doesn't see the bridge.
[debug-lun. oct. 19 23:52:55 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5405151/debug-lun.oct.19.23.52.55.2020.log)

I think there is a little issue on watt computation, it should be:

        if(currentCadence() < 41)
            return((((watt_cad40_max-watt_cad40_min) / (max_resistance - 1)) * (currentResistance

[2020-10-20 04:24] cagnulein commented on #22
Yes you're right about the computation of the Watt, I will fix it this morning but it's not related to the fact that zwift doesn't see the bridge. Did you try to restart zwift and the bridge? Sometimes zwift on my phone hangs the bluetooth and I need to reboot the phone.

[2020-10-20 05:34] kenands commented on #22
@cagnulein oups :/ I forgot to run as sudo, that's why zwift didn't see the bridge.
 It's work great, I can play zwift with my bike now :)
Zwfit get heart rate data and power data.
[debug-mar. oct. 20 07:22:10 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5406456/debug-mar.oct.20.07.22.10.2020.log)

Have a good day.
Thanks

[2020-10-20 06:18] alpat59 commented on #22
@cagnulein @kenands yesterday night I was able to compile and run code on a raspberry 3 normally used for home domotics. It worked. Not fully stable but it works. I mean that cadence is transferred to zWift (running on Mac) and bike moves. I didn’t test yet the interaction by zWift to Domyos related to resistance writing and changing... is it enabled?
Some comments:
1) the installation doc on home

[2020-10-20 06:20] cagnulein commented on #22
great news! I've also fix the watt math https://github.com/cagnulein/qdomyos-zwift/commit/384deeda164467fa9bfb7c0ccef2da41a43ec0ff

[2020-10-20 06:25] cagnulein commented on #22
no, not yet. I want to focus on stabilize the "domyos bike -> zwift" part.

for example? if you want you could create a pull request yourself for the doc

when it happens, send me the log, it's the only way to fix it. Anyway i run several 1h+ session without errors...are you sure about your power supply of the raspberry?

As i said, i guess you can connect the apple watch directly to zwift, isn't

[2020-10-20 07:16] kenands commented on #22
The tool doesn't goes down for me.

For me console displays values but values are at 0 for speed and cadence. The other values seems shown correct data.

I have done few tries with an old treadmill and found positions in the frame for cadence and speed
cadence: 16
speed: 8

Thanks

[2020-10-20 07:20] alpat59 commented on #22
I’ll be more precise later on the day. This morning I ran a  Zwift workout  (on iPhone) for 9 min without any crash and connecting also Apple Watch.

[2020-10-20 07:29] alpat59 commented on #22
I’m checking just now on Zwift web dashboard.
I saw my workout and in particular power, speed, heart rate but no cadence data. I understood that bike provides rpm to tool but maybe I was wrong. I attach an image.
![528ACE19-4E11-4153-8C40-4AA17FE83E91](https://user-images.githubusercontent.com/17791019/96554363-bed65f00-12b6-11eb-963b-136a00621082.png)

[2020-10-20 07:35] cagnulein commented on #22
ok so, just to summarize. Things to be done:
1. speed and cadence on display
2. cadence to zwift

[2020-10-20 07:36] cagnulein commented on #22
are you sure about speed: 8? because in the 7-8 bytes i have the odometer now (i'm talking about the frame for writing the display)

[2020-10-20 07:45] kenands commented on #22
Yes, I'm pretty sure when I put speed on position 8 of the frame write to display, bike console displays speed.

[2020-10-20 07:46] cagnulein commented on #22
so i delete the odometer?

[2020-10-20 07:48] cagnulein commented on #22
added https://github.com/cagnulein/qdomyos-zwift/commit/45d118b90e20c54d4b773db5476505e1ebdfd44f

[2020-10-20 07:53] cagnulein commented on #15
@jampy you could install Qt on Mac as i described on the readme and you could build with qt creator the project. On my MacBook Air works flawless, so it should be easy to debug it. What do you think?

[2020-10-20 08:10] kenands commented on #22
I will try again this night and confirm, because odometer works. Maybe I'm wrong.

[2020-10-20 08:26] cagnulein commented on #22
@kenands  i took another look to the log

and seems you're right: bytes 7-8 are the speed (multiplied by 10)

In this log: speed 0x14D so 33,3 KM/h.

But i can't see the odometer so i don't know why IT'S WORKING the odometer 😄
Maybe the odometer on your console it's updated directly from the machine?
Anyway I commit this change, i guess it's ok.

[2020-10-20 09:11] kenands commented on #22
Haha :)
I don't know how it works for odometer but it works, to be sure odometer it's the distance ?

[2020-10-20 09:12] cagnulein commented on #22
@kenands yes, the odometer is the distance. Let me know this night 👍

[2020-10-20 09:23] jampy commented on #15
okay, but this could take a couple of days, because the Mac and the Threadmill are at distant places and I'm currently very busy at work. Will try...

[2020-10-20 09:44] cagnulein commented on #15
@jampy oky, i'm not in a hurry 😃
In the meanwhile, maybe @drainuzzo will reappear 😸

[2020-10-20 09:47] cagnulein commented on #7
on version 0.8.0 it's working

[2020-10-20 09:47] #7 closed

[2020-10-20 10:01] cagnulein commented on #31
@alpat59 i guess i solve the issue with this https://github.com/cagnulein/qdomyos-zwift/commit/34e69f55ae6fcc5d69da9fcf457baa9a83f72595
tonight i will update the mac version

[2020-10-20 11:21] cagnulein commented on #31
[qdomyos-zwift.app.zip](https://github.com/cagnulein/qdomyos-zwift/files/5408274/qdomyos-zwift.app.zip)
@alpat59 could you please try?

[2020-10-20 11:22] cagnulein commented on #31
@martoni74 could you please try the binary that i attached in the previous comment?

[2020-10-20 11:23] cagnulein commented on #13
see #31

[2020-10-20 19:49] kenands commented on #22
@cagnulein you did a great work :)

I'm wrong for odometer, it's not display ^^ I maybe dreamed.

 to summarize:

_ in bike console:
Kcal - ok
heart rate - ok
cadence - ok
speed - it's display but value seems to be 10 times higher
odometer - it's not display

_ in zwift:
power - ok
heart rate - ok
candence - not yet
write the resistance - not yet

[debug-mar. oct. 20 21:25:56 2020.log](https://git

[2020-10-21 06:02] Martoni74 commented on #31
Hello,
We left in holliday for a few days (didn't find the time to test with the kids :-) ).
I will test on Sunday.
I got also a spare RPi 3 to compare now.
Have a nice week

[2020-10-21 06:18] cagnulein commented on #22
thanks, you too on debugging it :) it's a great team :D

hahahah

ok, fixed https://github.com/cagnulein/qdomyos-zwift/commit/6aeb3c475fd801b15115c49590a20038a015f7c5

when you catch the log the first time with the app on the phone, the odometer was working? Because, if with the app the odometer works, we should see the bytes in the logs.

ok, now i focus on this point

maybe this weekend :)

[2020-10-21 06:47] cagnulein commented on #22
@kenands i guess i fix also the cadence issue

https://github.com/cagnulein/qdomyos-zwift/commit/7b4a3d3aca66bd105c5c30d8ad9b1516fefac07f

i guess you should enable the cadence icon on zwift

![Screenshot_20201021_084402_com zwift zwiftgame](https://user-images.githubusercontent.com/48216/96683036-e9d5b700-1379-11eb-97ae-684294708569.jpg)

i also added some new debug prints in order to understand

[2020-10-21 10:11] kenands commented on #22
@cagnulein I agree for the great team :D

You are too fast ^^

I'm Moving today, I will try this night and keep you inform :)

Thanks to you I don't need to buy an expensive bike to use zwift, so I can buy a domyos treadmill instead :)

[2020-10-21 10:16] cagnulein commented on #22
@kenands hahahah thank to you too, now i'm thinking about adding some smart device to my dumb spin bike 😄
in short, i would like to read the analogic sensor of my spin bike with my raspberry in order to send the cadence to zwift 😄

[2020-10-21 18:21] drainuzzo commented on #15
My qdomyos-zwift  run!
But I cannot see a valid connection to my TR and app doesn't enable TR

pi@raspberrypi:~ $ ./qdomyos-zwift
libEGL warning: DRI2: failed to authenticate
qt5ct: using qt5ct plugin
qt.bluetooth.bluez: Bluez 5 detected.
qt.bluetooth.bluez: Missing CAP_NET_ADMIN permission. Cannot determine whether a found address is of random or public type.
qt.bluetooth.bluez: Creating QtBluezD

[2020-10-21 19:27] cagnulein commented on #15
@drainuzzo Is because I'm looking for a device called "TRX ROUTE KEY". Change the source code (in the toorx file and bluetooth.cpp) or wait tomorrow that I will push the modification.

[2020-10-21 20:37] kenands commented on #22
@cagnulein you are crazy :smile:
how will you read the analogic sensor ?

I did a new try and it works well :smile:

Speed is ok.
Odometer: when I did the btsnoop log session, odometer was working, I did a new try and I think the odometer show 0.1km approximately 30secondes after the start.
cadence is ok.

[debug-mer. oct. 21 21:58:29 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5418

[2020-10-21 20:57] cagnulein commented on #22
@kenands with a raspberry's  GPIO I will read the analogic value :D

Ok, thanks for the new log, tomorrow I will look into it.
Have a good night

[2020-10-22 04:23] cagnulein commented on #15
@drainuzzo could you please retry with this binary? and remember to run it with sudo
Thanks

[qdomyos-zwift-arm32-0.9.0.zip](https://github.com/cagnulein/qdomyos-zwift/files/5420035/qdomyos-zwift-arm32-0.9.0.zip)

[2020-10-22 05:59] cagnulein commented on #22
@kenands the last log is corrupt, but i should have discovered where the odometer was. Let's try with https://github.com/cagnulein/qdomyos-zwift/commit/60a8f7b93f42064710e696d8899e972da2792522

Today i will work on writing the resistance from zwift, cross your fingers :)

[2020-10-22 06:55] kenands commented on #22
@cagnulein , sorry for the log

Good new 😄  🤞

I have no time to try today becasue I'm moving but as soon as my bike and my computer are in place I will try and send you the log :)

Have a good day !

[2020-10-22 07:10] cagnulein commented on #22
@kenands i've already done https://github.com/cagnulein/qdomyos-zwift/commit/a6c369cb0b4608fba070d08307d870b377cd8fce
i don't know if it works, but the code makes sense to me 😄

of course you have to enable these ones

![Screenshot_20201021_084402_com zwift zwiftgame](https://user-images.githubusercontent.com/48216/96837287-751c7e80-1446-11eb-84cf-7d7f0c15565a.jpg)

[2020-10-22 07:34] drainuzzo commented on #15
sudo ./qdomyos-zwift
./qdomyos-zwift: error while loading shared libraries: libQt5Positioning.so.5: cannot open shared object file: No such file or directory

how to install them?

[2020-10-22 07:49] drainuzzo commented on #15
Just as information my BT App Gate doesn't connect to my phone also, it is refused from TR

New logs:

[code]

[2020-10-22 07:56] cagnulein commented on #15
ok @drainuzzo i think it's a completely different piece of hardware and software, so it's not compatible with @jampy one.
In order to get it works, you need to sniff via bluetooth, but, as you said, if your phone can't connect neither to it, i think we cannot do much more :(

@drainuzzo so how did you use your TOORX without your phone?

@jampy at this point i guess the only thing we can do is to t

[2020-10-22 08:03] drainuzzo commented on #15
@cagnulein I use my TR with my watch Garmin 945 that has a Treadmill application but not connecting it to the TR just as a separated function, or I used sometimes with Kinomapp that disovered the TR (not viceversa)

[2020-10-22 08:05] cagnulein commented on #15
@drainuzzo so, if you have time, you could sniffer the traffic of a kinomap session

[2020-10-22 08:07] drainuzzo commented on #15
@cagnulein Let me explain how I can do it
Notice that Kinomapp works for free just a week, then it locks the account and the user need to register another one or pay before it expires

[2020-10-22 08:30] cagnulein commented on #15
@drainuzzo

Ok, follow these steps (if you look in the firsts comment here, @jampy did the same):

1. you need to become developer on your phone https://wccftech.com/how-to/how-to-enable-developer-options-on-android-10-tutorial/
2. Go to Settings
3. Go into developer options
4. Enable the option Enable Bluetooth HCI snoop log
5. restart your phone
6. open the Kinomap app and play with it collectin

[2020-10-22 08:31] drainuzzo commented on #15
Ok I'll try later or tomorrow

Kinomap lock the asccount so you can't just login after a week

[2020-10-22 19:55] alpat59 commented on #22
@cagnulein Hi Roberto, i compiled on rPi3 the last version of the code and i saw a sort of regression.... I connected zwift (on iPad) with Bridge; "potenza" was connected, "frequenza cardiaca" was rightly connected with my apple watch (by zwift companion app running on iPhone). Same configuration adopted two days ago... but "cadenza" doesn't show anything to connect, no data seems to be transmitte

[2020-10-22 20:11] cagnulein commented on #22
Could you please restart the bridge when you saw this behavior? I don't think is a regression in the code, I guess there is something in the bluetooth instead

[2020-10-22 23:04] alpat59 commented on #22
Sorry for late answer. Yes, I restarted the bridge many times. Anyway tomorrow I’ll check again if there is something wrong by my side. Tks

[2020-10-23 04:21] cagnulein commented on #22
@alpat59 the only thing that I added was the control of the resistance by zwift. I will double check the code

[2020-10-23 05:56] cagnulein commented on #22
@alpat59 i checked the code and i don't see any relevant issue...if the error stills, please
1) send me the logs
2) try to chekout to this commit, rebuild and try. If this commit works, means that the control of the resistance by zwift has some issues.

[2020-10-23 09:48] drainuzzo commented on #15
I found also iConnect apps that works  with Toorx TR for free... I'll update the logs soon

[2020-10-23 09:52] cagnulein opened #32 "Toorx TR with bt key TRX App Gate USB"
I found also iConnect+ app that works  with Toorx TR for free... I'll update the logs soon

_Originally posted by @drainuzzo in https://github.com/cagnulein/qdomyos-zwift/issues/15#issuecomment-715232849_

[2020-10-23 09:53] cagnulein commented on #32
@drainuzzo post here the new log when you will be ready in order to keep clean the issue (i would like to keep an issue for every device)

[2020-10-23 09:54] drainuzzo commented on #32
It is iConsole+ app

[2020-10-23 10:03] cagnulein commented on #22
@alpat59 did you have a chance to try the mac build that i post here #31 ?

[2020-10-23 11:33] drainuzzo commented on #32
Here the logs you can check it with Wireshark

[2020-10-23 11:38] cagnulein commented on #32
@drainuzzo great! I will check it this weekend. Could you breafly describe me what you did in this session with the app? Speed, inclination, elapsed time...

Thanks

[2020-10-23 12:31] cagnulein commented on #32
ok here i will summarize the info extracted from the logs

init sequence
f0 a0 01 01 92
f0 a0 01 d3 64
f0 a1 01 d3 65

polling command every 500ms
f0 a2 01 d3 66

[2020-10-23 12:33] drainuzzo commented on #32
I am not sure because I had to make different tries before the logs were written in my device..

Checking at the date mybe the activity attached

Btw I changed inclination, speed and had the cardio from the TR

![Screenshot_20201023-142840.jpg](https://user-images.githubusercontent.com/1389932/97004038-b4c59200-153c-11eb-901f-fba4741d1bbd.jpg)

[2020-10-23 12:39] alpat59 commented on #22
yes I'll try this evening ..

[2020-10-23 13:07] cagnulein commented on #32
i don't think it was this session because on the log you sent me the session has a duration of 57 seconds

[2020-10-23 13:30] cagnulein commented on #32
@drainuzzo could you try to compile the https://github.com/cagnulein/qdomyos-zwift/commit/671c262288dda7f686712becb9bae89d697577d8 and try? If so, send me the logs that the qdomyos-zwift will generate.

It's just to see if the connection works and if some parameters will be read.
Thanks

[2020-10-23 13:45] cagnulein commented on #30
**ignore the device if it has RSSI equal to 0**

[2020-10-23 13:50] drainuzzo commented on #32
Then should be this session attached []()![Screenshot_20201023-154930.jpg](https://user-images.githubusercontent.com/1389932/97011811-708bbf00-1547-11eb-8e2f-2496e080223c.jpg)

[2020-10-23 13:51] drainuzzo commented on #32
Ok but next days..

Thank you

[2020-10-23 17:25] alpat59 commented on #22
@cagnulein i tried again bridge in rpi3. Two days ago I had a Zwift session got 20 min. Today I’m not able to see data flowing from bridge to Zwift. I attachéd three pictures to show you the status both sides : Zwift and bridge. Tks for your support.
![2300498B-D042-4337-A37B-D68D0A2E2FBE](https://user-images.githubusercontent.com/17791019/97034621-7c867980-1565-11eb-8c87-dca48b482c88.jpeg)
![74F6

[2020-10-23 17:29] alpat59 commented on #22
@cagnulein i tried again bridge in rpi3. Two days ago I had a Zwift session got 20 min. Today I’m not able to see data flowing from bridge to Zwift. I attachéd three pictures to show you the status both sides : Zwift and bridge. Tks for your support.
![9A8E7BEB-252C-4204-BA5C-5B7145D6136B](https://user-images.githubusercontent.com/17791019/97034979-f880c180-1565-11eb-8388-6ca09aaa9280.jpeg)
![9023

[2020-10-23 18:50] cagnulein commented on #22
@alpat59 ok thanks, I will simulate tonight after some beers :D

[2020-10-23 21:44] cagnulein commented on #22
![Screenshot_20201023_234332_com.zwift.zwiftgame.jpg](https://user-images.githubusercontent.com/48216/97056592-3fc87b80-1581-11eb-9a97-a7deded8a3bd.jpg)

[2020-10-24 14:58] alpat59 commented on #22
@cagnulein I tried your suggestions without success (I run code at commit -1).
There is no way to obtain cadence or something other data related to movement from domyos to bridge.
A partial good news is that I tried your bridge also with two other apps (Rouvy and Onelap) and the domyos bridge is seen but again no data movement-related is passed to them.

So I decided to reinstall the full package(

[2020-10-25 06:15] cagnulein commented on #22
@alpat59 which commit did you compile? (send me the exact link, commit -1 is unclear :) )
warnings are normal
the screen you send me is normal too, your efold was off when you started the software, you can see it in the line "DOMYOS-BIKE......RSSI 0". That RSSI 0, means that the BIKE was off.

Anyway todo i will build a test and i will try again, but i would like to wait to @kenands too, in order

[2020-10-25 07:46] alpat59 commented on #22
Thank you. And I agree to wait a feedback by @kenands
(sorry for my not precise statement, I compiled the version available before than current one, this is the link : https://github.com/cagnulein/qdomyos-zwift/commit/6d88cef84cf9da51dddce202cdd95d62d8e7c25f)
In few hours, I’ll check again why, despite bike was turned on, RSSI was 0 that, of course, explain the error)

[2020-10-25 09:19] alpat59 commented on #22
@cagnulein I tested again resetting everything.
I confirm that bridge is connected with domyos (because i see in the log, cadence data and other ones updating in real time) and is connected with zwift because I see "domyos-bridge" device in zwift .
There I see that  "potenza", "frequenza cardiaca" (showing two options; bridge and apple watch) are connected  and "controllabile" are in connected sta

[2020-10-25 12:57] cagnulein commented on #22
thanks @alpat59 for your feedback. i'm starting a debug session, i hope to see the same issue here too

[2020-10-25 14:02] cagnulein commented on #22
@alpat59 i guess I solved something. Could you please try my last commit?

![Screenshot_20201025_145930_com.zwift.zwiftgame.jpg](https://user-images.githubusercontent.com/48216/97109357-bae97900-16ca-11eb-9f65-75fa8ef2972d.jpg)

[2020-10-25 17:03] alpat59 commented on #22
@cagnulein just I tried. Sorry I have the same behavior. Do you think that it could be something related to my specific device (e-folder) ? How can I help you to debug ?

[2020-10-25 18:50] cagnulein commented on #22
I'm sorry me too, I don't understand what is the issue on your side. Tomorrow I will add some debug log. When I'm ready I will tell you .

Of course will be very important to send me the full file log, not only a screenshot :)

Have a nice evening!

[2020-10-25 18:52] cagnulein opened #33 "Domyos treadmill: distance > 10km report 0km on display"
Check the decimal point on the display packet

[2020-10-25 18:53] cagnulein opened #34 "Add debug log to virtual device"

[2020-10-26 06:49] kenands commented on #22
@cagnulein
Hi, with my moving, I'm not entirely settled yet. I will do a try this week.
I keep you inform.

Have a good day !

[2020-10-26 14:41] Martoni74 commented on #13
Hi Roberto,
I have tested the version 0.8.0 on my 2nd RPi 3 : connection to T900C is good but still not visible on Zwift MacOS, PC, Android / iPad (no Zwift Bridge).
I wonder if there is a limitation on RPi3 to connect + broadcast on Bluetooth

[2020-10-26 14:46] Martoni74 commented on #31
same as alpat59 on MacOS :
/Users/martinlecossec/Downloads/Sport/qdomyos-zwift.app/Contents/MacOS/qdomyos-zwift
dyld: Library not loaded: @rpath/QtWidgets.framework/Versions/5/QtWidgets
  Referenced from: /Users/martinlecossec/Downloads/Sport/qdomyos-zwift.app/Contents/MacOS/qdomyos-zwift
  Reason: image not found
Abort trap: 6
I have installed qt5 with editor ...
Now, during installation, they as

[2020-10-26 14:53] alpat59 commented on #22
@cagnulein I  saw you did another commit (related to RSSI) .. do you need change something more or can I test this new release ?

[2020-10-26 14:54] cagnulein commented on #13
no i tested myself a rpi3. Did you update bluez as i described in the readme?

[2020-10-26 14:57] cagnulein commented on #31
hi @Martoni74 , no xcode is not necessary. Could you please try to open the .pro file on QtCreator and try to build it?
On my macbook air it works, i don't understand which are the differences on your side.

[2020-10-26 14:58] cagnulein commented on #22
i also added new debug prints, but first i would like to test myself. I will tell you when it will all set to do another trial. Thanks

[2020-10-26 14:59] alpat59 commented on #22
perfect ...tks

[2020-10-26 19:30] cagnulein commented on #22
@alpat59 ok, when you want you can try https://github.com/cagnulein/qdomyos-zwift/commit/40336b70c8806e973cf5fd79d9c54578e298dd75 i've only added some logs in order to understand better your issue. So please attach me the full log.
Thanks

[2020-10-26 20:02] alpat59 commented on #22
I did it. another different situation here..
The Domyos device seems to be discovered ("Found new device: Domyos-Bike-6011 (E8:5D:86:0A:04:C0)") but no bluetooth connection is opened (I normally saw that happens when the bluetooth icon Domyos console is turned on) and bridge goes in hang after few seconds...
I 'm attaching the log. I'm curious to know your opinion about ...
Thank you again

[alpat

[2020-10-26 20:17] cagnulein commented on #22
It's all about the check of the rssi, you have to wait 30/60 seconds in order to have a rssi valid...I guess I have to remove it.

[2020-10-26 22:07] alpat59 commented on #22
New log with last commit...
No cadence yet.
Log attached

[alpat59_ log_test_2304_261020.txt](https://github.com/cagnulein/qdomyos-zwift/files/5441812/alpat59_.log_test_2304_261020.txt)

[2020-10-27 05:23] cagnulein commented on #22
Did you see the Domyosbridge? If no, did you try to restart it? In the log i didn't see any attempt of connection to the bridge

[2020-10-27 07:12] #34 closed

[2020-10-27 08:12] cagnulein commented on #20
![Immagine](https://user-images.githubusercontent.com/48216/97274177-90b3ca80-1834-11eb-9bde-f627ed97065b.png)

[2020-10-27 08:33] #20 closed

[2020-10-27 10:41] alpat59 commented on #22
Yes, I saw the bridge but only "potenza" and "controllabile" . No cadence....
Good idea for Messenger session ... (or whatever you prefer) .. sorry for today ... very busy day ... I'll inform you when ready

[2020-10-27 11:09] jameshindle1972 commented on #2
Hi, I think it has been done https://github.com/RasPelikan/zwifit-incline-tracker

[2020-10-27 11:20] cagnulein commented on #2
i will check it, thanks!

[2020-10-27 12:12] richardwait opened #35 "Installing on MacOS - Requires xCode CLI"
For installing / running the project on MacOS

You will need to (at a minimum) to install the xcode Command Line Tools (CLI)
https://developer.apple.com/download/more/?=xcode

If you try and install without these prerequisites you will not be able to compile the project.

[2020-10-27 12:40] cagnulein commented on #35
#31

[2020-10-27 13:19] cagnulein commented on #35
thanks, reported into the readme!

[2020-10-27 13:19] #35 closed

[2020-10-27 13:21] cagnulein commented on #22
ok no hurry on my side :) let's add me to facebook and will arrange a debug session 👓 i prefer on wednesday ( from 9:00 CET ) or direclty this weekend

[2020-10-27 14:05] cagnulein opened #36 "Add MQTT support in order to allow ALEXA support"

[2020-10-27 14:05] cagnulein opened #37 "Add Resistance and Cadence to UI"

[2020-10-27 14:06] cagnulein opened #38 "Plus and Minus button for Speed, Inclination and Resistance"

[2020-10-27 15:23] drainuzzo commented on #32
Hello these the logs:

sudo ./qdomyos-zwift
libEGL warning: DRI2: failed to authenticate
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-root'
qt.bluetooth.bluez: Bluez 5 detected.
qt.bluetooth.bluez: Creating QtBluezDiscoveryManager
qt.bluetooth.bluez: Discovered:  "A4:C1:38:CE:A4:28" "LYWSD03MMC" Num UUIDs 0 total device 0 cached RSSI 0 Class 0
"Tue Oct 27 16:22:11 2020Found

[2020-10-27 15:32] cagnulein commented on #32
@drainuzzo i've just push the fix ( https://github.com/cagnulein/qdomyos-zwift/commit/a162e0dcfb753ad910b043fe6e93dbf43774565c ) could you please retry pulling the changes?
thanks

[2020-10-27 16:52] drainuzzo commented on #32
sudo ./qdomyos-zwift
[code]

[2020-10-27 17:22] cagnulein commented on #32
Ok understood, it's easy. I will fix it tonight
Thanks

[2020-10-27 21:29] #25 closed

[2020-10-27 21:47] cagnulein commented on #32
@drainuzzo ok fixed, try this https://github.com/cagnulein/qdomyos-zwift/commit/62ae1f5c6df26df79b354b3d4082bdcb0c528fcf
It could be possible that we need another round to complete the gathering of the characteristics
Thanks

[2020-10-27 22:28] cagnulein commented on #31
Did you try to run directly the qdomyos-zwift.app icon by double clicking on it?

[2020-10-28 06:42] Martoni74 commented on #31
Yes (right-click + open, accept security warning), and in the package as well. I get that error 👍
(I have not clone and compile the pro version however, I try that in the following days)

[code]

[2020-10-28 07:27] #37 closed

[2020-10-28 07:37] Martoni74 commented on #31
I've seen the readme update and the requirement of XCode CLI from @richardwait
I will install that.

[2020-10-28 07:40] #38 closed

[2020-10-28 07:41] cagnulein commented on #31
i guess it's useful only to compile it, not to running. Anyway install it, make Qt guys happy :D

[2020-10-28 09:38] cagnulein commented on #15
any news?

[2020-10-28 10:06] drainuzzo commented on #32
this time

`libEGL warning: DRI2: failed to authenticate
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-root'
qt.bluetooth.bluez: Bluez 5 detected.
qt.bluetooth.bluez: Creating QtBluezDiscoveryManager
qt.bluetooth.bluez: Discovered:  "FF:90:CE:BE:F5:FC" "TOORX0083" Num UUIDs 5 total device 0 cached RSSI 0 Class 0
"Wed Oct 28 11:05:59 2020Found new device: TOORX0083 (FF:90:CE:

[2020-10-28 10:15] cagnulein commented on #32
@drainuzzo ok now it should run flawless (i hope :D) https://github.com/cagnulein/qdomyos-zwift/commit/b71ca62110b7dab800754a4907d58151d491b2c4

[2020-10-28 10:26] drainuzzo commented on #32
[code]

[2020-10-28 10:42] cagnulein commented on #32
@drainuzzo very strange: seems that when the connection starts, the trx disconnects itself. If you restart it, does it happen always the same?

[2020-10-28 10:48] drainuzzo commented on #32
Sometimes it lasts 5 - 10 seconds and then crash
I tried starting the TR but it doesn't change

Il giorno mer 28 ott 2020 alle ore 11:43 Roberto Viola <
notifications@github.com> ha scritto:

[2020-10-28 10:49] cagnulein commented on #32
@drainuzzo when it last 5-10 seconds you see the connection goes on?

[2020-10-28 10:56] drainuzzo commented on #32
@cagnulein no whrn it last some seconds I can push the connection button, and then it crashes, or I can wait some seconds and don't push anything and it crashes the same, or it crashes after 1 sec from the opening (in this case the button isn't active)

[2020-10-28 11:02] cagnulein commented on #32
@drainuzzo which connection button? you don't have to push any connection button on the GUI. Could you please send me a log when the connection stays up? These issues seems related to a weak bluetooth signal

[2020-10-28 11:21] alpat59 commented on #22
Sorry to miss the proposed debug session in today morning. I’m really busy. Could  we replan it? I already contacted you on messenger (I hope I wrote to the right @cagnulein !).

[2020-10-28 12:06] drainuzzo commented on #32
I meant Treadmill Connection Status, so it wasn't a button ok 🥇

this is the log when for a sec the Conn Status becomes blue
[code]

and this log is another one for the same test but the log is different

[code]

[2020-10-28 13:05] cagnulein commented on #32
@drainuzzo it's very clear from the 2nd log that you have an issue of weak signal. Infact, look these lines

<pre>
"Wed Oct 28 13:03:55 2020 >> f0 a0 01 01 92 // init\n"
qt.bluetooth.bluez: Written Char: "{0000fff2-0000-1000-8000-00805f9b34fb}" "f0a0010192"
"Wed Oct 28 13:03:55 2020characteristicWritten f0 a0 01 01 92\n"
"Wed Oct 28 13:03:55 2020 >> f0 a5 01 d3 04 6d // init\n"
"Wed Oct 28 13:03:5

[2020-10-28 13:26] drainuzzo commented on #32
Ok I put the pi to a 1m from the bt key.. so now it is impossible that was far (before was at about 3mt)

[code]

[2020-10-28 13:34] cagnulein commented on #32
ok, so things are moving now:

<pre>
"Wed Oct 28 14:22:05 2020Current speed: 25.9\n"
"Wed Oct 28 14:22:05 2020Current incline: 0\n"
"Wed Oct 28 14:22:05 2020Current heart: 0\n"
"Wed Oct 28 14:22:05 2020Current KCal: 256\n"
"Wed Oct 28 14:22:05 2020Current Distance: 25.6\n"
"Wed Oct 28 14:22:05 2020Current Distance Calculated: 0\n"
</pre>

the value are not ok, but there is a comunication between t

[2020-10-28 13:44] cagnulein commented on #32
@drainuzzo did the iConsole+ asks for a PIN or similar the very first time? i guess it disconnects because i'm not authorized, is it possible?

[2020-10-28 13:50] drainuzzo commented on #32
no, any key or pin :(

[2020-10-28 14:11] cagnulein commented on #32
@drainuzzo when it's possible, could you please try https://github.com/cagnulein/qdomyos-zwift/commit/dacbb475c8247321a003b2fc00aec07af616ae5a ?

i fixed the parsing of the values and i reduced the polling time from 500ms to 200ms: i'm hoping that the TRX goes to timeout because it doesn't receive anything in time from the raspberry.

After try this, could you please rerun the software with gdb, i

[2020-10-28 15:09] cagnulein opened #39 "Zwift Bridge on Windows"
Connection to the treadmill or bike should work, but the bridge it's not possible ATM because the peripheral feature is not yet implemented on qt 5.15.1

https://doc.qt.io/qt-5/qtbluetooth-index.html

[2020-10-28 15:14] cagnulein commented on #39
i've succesfully built it using Qt VS Tools on Visual Studio 2017 with
![Immagine](https://user-images.githubusercontent.com/48216/97455933-a90d0d80-1938-11eb-932c-053929cfefe4.png)
Qt MSVC 2015

[2020-10-28 15:40] cagnulein commented on #39
https://forum.qt.io/topic/120364/bluetooth-le-peripheral-on-windows-uwp
asked support on Qt community

[2020-10-28 16:09] cagnulein opened #40 "Align Icon on UI"

[2020-10-28 16:10] cagnulein opened #41 "Adding options to enable/disable each icon/value on the main screen on Destkop UI"

[2020-10-29 09:09] cagnulein commented on #22
@alpat59 i did generate a similar issue on raspberry 3. It happens when bluez is not update.
Please be sure that you run

$ sudo apt upgrade

after the ugprade do a reboot cycle and starts again my software. In the meanwhile i'm continuing to test it

[2020-10-29 09:13] drainuzzo commented on #32
Ok I will try soon, just a question is there a way to compile only the last changes without delete folder and recompile all?

[2020-10-29 09:19] cagnulein commented on #32
yes on the folder, do

$ git pull
$ cd src
$ qmake
$ make -j5

[2020-10-29 11:00] drainuzzo commented on #32
OK I tried the new code and now the App doesn't crash!! Great achievement bravo! 💯

Now the app starts, when I start the TR and try to change speed or inclination with the TR these values don't change on the app, the other shown values as you checked before aren't correct

I make a couple of run so you can see the 2 debug file,
I tried to start Zwift from my phone but it could not discover the TR-

[2020-10-29 11:14] cagnulein commented on #32
Wonderful! So it was all about timing! Great to know!

ok so:

are you 100% sure that you run

`sudo apt upgrade && reboot`

?

ok, now gdb is useless, we haven't crashes anymore 😆

ok i'm checking the log. I will let you know when i will be ready for another run :)

the pull && make commands work?

[2020-10-29 11:23] cagnulein commented on #32
@drainuzzo i saw in the first log, that speed has about 5.1 Km/h and inclination goes from 1.0 to 2.7 is it correct?
when you make some test and post me the log remember always to write me that you did because otherwise i can connect the number to your actions.
Thanks

[2020-10-29 12:05] drainuzzo commented on #32
@cagnulein

I increased the speed I think max to 4 on my TR I don't know if it is 5.1km/h and I really would like to know these matches in the future to understand better my speed as well 😄

About that do you think it is possible to insert a pace/km value also? Would be nice even if probably not so accurate...

I am sure I changed the inclination from 0 to 1 to 2 and then back, there isn't a 2.7 v

[2020-10-29 12:34] firetrappe commented on #22
I bought a Pi3 today to test this with my Bike 500. I'll test and report back in the next few days. Hoping to get a stand-alone bridge working.

Great work everyone,
Simon.

[2020-10-29 13:20] cagnulein commented on #32
@drainuzzo

yes, absolutely, i will create an issue ad hoc

did you keep the speed constant during all the session? don't you see the speed on some console on your treadmill? could you please send me a pic of your setup (usb+treadmill) i'm really curious 😄

mmm... did you wait some seconds (10 or 20) in zwift looking for the bridge (clicking on speed button to searching a device)?
it's really stra

[2020-10-29 13:20] cagnulein opened #42 "Add pace to UI"
@drainuzzo

About that do you think it is possible to insert a pace/km value also? Would be nice even if probably not so accurate...

from #32

[2020-10-29 13:46] cagnulein commented on #32
@drainuzzo
this is the graphic from your log. Do you recognize a pattern? the dark green one i guess is the inclination
![Immagine](https://user-images.githubusercontent.com/48216/97581790-4e85b700-19f5-11eb-869a-5e55dec62e4d.png)

this is the full excel file extracted from your 1st log
[trx.xlsx](https://github.com/cagnulein/qdomyos-zwift/files/5458712/trx.xlsx)

from this log i extracted also th

[2020-10-29 14:30] cagnulein commented on #42
@drainuzzo done :)
"every desire is an order" 😆

[2020-10-29 14:32] #42 closed

[2020-10-30 08:32] #9 closed

[2020-10-30 08:42] #24 closed

[2020-10-30 08:43] cagnulein opened #43 "Zwift Icon on UI always gray"

[2020-10-30 09:01] drainuzzo commented on #32
@cagnulein

yes I tried a lot, if you check at the 2nd log you can see a message
`Thu Oct 29 11:06:12 2020virtualtreadmill connection error`

maybe this is the message regarding the zwift issue?

Let me know today I can run a test reporting all metrics better, let me know if you want I active some debug or other stuff before I start

[2020-10-30 09:21] #43 closed

[2020-10-30 09:23] cagnulein commented on #32
@drainuzzo

yes, it says that no one zwift client is connected to my bridge. But it's not releated to the bridge itself.
Could you please download also nrfconnect ( https://play.google.com/store/apps/details?id=no.nordicsemi.android.mcp&hl=it&gl=US ) anche check if the DomyosBridge appears there? This is a bluetooth simple sniffer.

If you want, today i'm in smart working, we can connect eachother

[2020-10-30 09:24] cagnulein commented on #32
@drainuzzo the bridge appears only when the connection to the treadmill has established

[2020-10-30 09:59] drainuzzo commented on #32
I found an interesting thing: with sudo your app doesn't connect to the TR, without it the connection is fine even at bigger distance (3mt)

Now I tried the nrfconnect but id doesn't discover any DoymosBridge (the connection has established)

I have some calls in the next ours better if I can make some spot tests

Thanks!!

[2020-10-30 10:58] cagnulein commented on #32
@drainuzzo

maybe just a spot case. Is it deterministic? On raspberry bluetooth doesn't work without sudo...so i guess it's quite strange

do you have any other phones to test? i'm start thinking it's something about the phone...

[2020-10-30 13:18] drainuzzo commented on #32
@cagnulein

seems deterministic on my raspberry 3b

not at the moment but the nrfconnect sees the toorx and my other bt devices also so it is strange that is my phone's fault 😃

[2020-10-30 13:24] cagnulein commented on #32
@drainuzzo could you please try to run

`$ sudo hciconfig hci0 leadv 0`

before starting my program?

[2020-10-30 13:31] drainuzzo commented on #32
@cagnulein

done but no result from the command

[2020-10-30 13:39] cagnulein commented on #32
@drainuzzo no output is ok from that command. but what if you run that command and start the software? does the gateway appear?

[2020-10-30 14:12] drainuzzo commented on #32
@cagnulein

nothing appears on Zwift, btw I checked on BT devices on the phone and with nrfconnect and there I can se the Bridge!

But if I try to connect to him I can't

[2020-10-30 14:20] cagnulein commented on #32
so please @drainuzzo

1) run hciconfig hci0 leadv 0
2) run my app with sudo
3) try to connect with nrfconnect

if it doesn't work, close my app and repeat from step 1

if it doesn't work

1) run hciconfig hci0 leadv 0
2) run my app without sudo
3) try to connect with nrfconnect

if it doesn't work, close my app and repeat from step 1

we need to know the correct flow on your side. I don't understa

[2020-10-30 14:32] drainuzzo commented on #32
Great worked!

run hciconfig hci0 leadv 0
run my app without sudo
try to connect with nrfconnect

and I discovered with Zwift, so starting the prog without sudo seems the way

[2020-10-30 14:41] cagnulein commented on #32
Maybe something related to your distro. Do you use raspbian? So you saw the speed value on zwift? Your avatar was moving?

[2020-10-30 14:45] drainuzzo commented on #32
my distro is the official raspberrypi 5.4.72

I can't see any values on Zwift and my avatar is stopped 😭

I think we will be in touch next week

[2020-10-30 14:51] cagnulein commented on #32
I'm using this one https://www.raspberrypi.org/downloads/
The lastest version is 1.4

Did you?
Have a good weekend

[2020-10-30 15:56] drainuzzo commented on #32
Yeah it is based on debian buster 10.x,  it is the last, rolling raspberrypi release , the same

Good weekend @cagnulein  😄

[2020-10-31 11:24] cagnulein commented on #22
@alpat59 could you please test this binary? it just a bluetooth bridge to zwift with random data. It will be useful to me to understand if you have some issue releated on bluetooth on your raspberry.

So unzip it, start it, open zwift and try to connect to the bridge as you usually did. Let me know

[qdomyos-zwift-test-zwift-bike.zip](https://github.com/cagnulein/qdomyos-zwift/files/5468950/qdomyo

[2020-11-01 23:36] alpat59 commented on #22
@cagnulein I just tested last commit ... great job! cadenza is connected and rpm are absolutely precise and aligned to the bike. Due to ftms compliance, I expect to see a similar good behavior also with other ftmes-compliant apps (like Rouvy, RGT, ONelap ...) . I'll test with those.. Anyway without -no-write, no connection is possible yet. Thank you ..

[2020-11-02 04:18] cagnulein commented on #22
@alpat59 wow! great debug team! about -no-write-resistance: i guess it just a coincidence because i don't use it anymore in the code. i guess now there are sometimes some issues about connection (i saw them too on my treadmill, i have to understand them)

[2020-11-02 04:21] cagnulein commented on #22
@firetrappe did your raspi arrive?
@kenands are you still moving? we need more hands to debug it :laughing: @alpat59 was the only one sweating here :rofl:

[2020-11-02 04:23] cagnulein commented on #2
@jameshindle1972 i looked into it and i guess the only way to achieve this is to run hostapd on the raspberry. What do you think?

[2020-11-02 04:24] #33 closed

[2020-11-02 04:26] cagnulein commented on #13
@Martoni74 any news?

[2020-11-02 07:00] kenands commented on #22
@cagnulein , it takes more time that I expected 😄
I will do a try this evening.
Have a good day !

[2020-11-02 09:55] firetrappe commented on #22
@cagnulein Yes, it arrived. It's all new to me, so took a while to setup.
I configured the Pi as headless by enabling SSH and VNC. Then connecting over Wi-Fi using VNC Viewer to test.
From booting the Pi I have to open Terminal then
`cd qdomyos-zwift`
`cd src`
`sudo ./qdomyos-zwift`

It all works and works really well! I am so impressed.

I'm now trying to figure out how to autostart the bridge on

[2020-11-02 10:49] Martoni74 commented on #13
@cagnulein Hello, last week was busy with job, didn't found the time to test.
I have re-organised all my "pain cave" this weekend to simplify troubleshooting.
I created my account on QT and downloaded the full client.
I will look in details this week with RPi and Mac.

[2020-11-02 13:33] firetrappe commented on #2
This feature would be great in the future. I run Zwift on my iPad, so can't use the RasPelikan mod. I prefer Kinomap for treadmill sessions at the moment as that app does control incline and lets me adjust speed manually.

[2020-11-02 15:28] cagnulein commented on #2
@firetrappe i don't know if you are aware that my software could alread adjust the inclination through the train program. You could even load a GPX and follow it adjusting the difficulty level. I don't know if it's a feature that you could use.

Anyway i would like to develop this feature too, is it ok for you to use the raspberry as an Access Point for your iPad? I could write a guide of course.

[2020-11-02 15:36] cagnulein opened #44 "CONSTEST: How long is your longest session on qdomyos-zwift?"
I had this idea during my LL today. For the first time, i ran for 1h 40m on my treadmill with my qdomyos-zwift on my raspberry pi0w! I guess the raspy was more sweaty than me 😆

So i had this idea: why don't create a report ticket in order to collect our longest session. In this way we could keep tracking about uptime issues on new commits.

I used for this session commit https://github.com/cagnul

[2020-11-02 15:52] cagnulein commented on #39
an idea to run this software *NOW* on windows is to use Virtualbox or similar with linux passing through the bluetooth adapter. I guess it should work flawlessy

[2020-11-02 16:49] firetrappe commented on #2
@cagnulein I am aware of the train program feature. This is the main reason I intend to capture a log from my Reebok treadmill. I'd like to try and import a GPX file from one of my runs and see how well the treadmill can simulate the actual activity.

I guess I can use the Pi as an AP for the iPad - with guidance lol.
I'm happy to test anything that will help progress.

You're welcome for the dona

[2020-11-02 16:56] firetrappe commented on #44
Cool idea!
My longest run to date is 1 hour and I only covered 6.6km!
I only started running in May and cycling this month. I have some catching up to do haha
Very happy to help collect data though.

[2020-11-02 17:05] cagnulein commented on #2
@firetrappe I guess I could create a raspberry image in order to simplify the setup process.

[2020-11-02 17:25] firetrappe commented on #2
That might be a good idea. We need to get my Reebok TM working with your bridge first though... more work :/

[2020-11-02 18:21] #30 closed

[2020-11-02 18:22] cagnulein commented on #13
@rickoneeleven post here your log, thanks

[2020-11-02 20:33] rickoneeleven commented on #13
@cagnulein t900c, pi 3b (i think), setup only a couple of days ago, followed your instructions, updates plus dependencies.

started in gui mode, connected treadmill to pi (automatically happened), launched swift and connect it to pi.

treadmill started running at 0.1 i think it was, i took it up to 1.0 or 2.0, treadmill speeded up, but the chart in the gui stayed the same and zwift was still showi

[2020-11-02 20:52] cagnulein commented on #13
@rickoneeleven I understood the issue: the data packet has been ignored. I will add some debug prints in order to understand better the issue and I will let you know when I'm ready. Thanks for the log

[2020-11-02 21:00] cagnulein commented on #13
@rickoneeleven could you please try https://github.com/cagnulein/qdomyos-zwift/commit/d01514936594e4c8af5f6de8a50eaee6cdccb1af and send me the log? i don't change anything only add some debug print to understand better the issue. i guess it should be easy to solve

[2020-11-02 21:05] cagnulein commented on #22
@alpat59 could you please try https://github.com/cagnulein/qdomyos-zwift/commit/bee124bdcf13216aed3087ce0c9ed54b208def3e ? i removed the HR service as i said on Messenger in order to have a better compatibility with FTMS external apps.

Let me know

@firetrappe which device do you use as zwift client?

[2020-11-02 21:16] cagnulein opened #45 "Add Virtual Pod mode"
For dumb treadmills

[2020-11-02 21:44] rickoneeleven commented on #13
i went from 1.0, to 2.0, and incline up, think back down, and then speed back to 1.0 with latest git pull

[debug-Mon Nov 2 21_41_15 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5478219/debug-Mon.Nov.2.21_41_15.2020.log)

im going to bed now, but can play again tomorrow, thank you!

[2020-11-02 22:01] firetrappe commented on #22
@cagnulein i mostly use an old iPad

[2020-11-03 01:43] firetrappe commented on #22
I have had problems tonight.

The Bike 500 is connecting to the bridge, but Zwift is not detecting the bridge - log file attached.
On one occasion I did get Zwift to recognise the bike, but my avatar didn't move. I checked the logs and the bridge was connected, but all fields were zero apart from 'resistance'.

I'll experiment further tomorrow.

[debug-Tue Nov 3 01-20-55 2020.log](https://github.c

[2020-11-03 05:26] cagnulein commented on #22
@firetrappe Just to understand: the day before yesterday works and yesterday doesn't?
Did you change something in your setup? Of course, I guess, you are now on the last commit. Could you please try to run again the commit that worked the day before yesterday, just to be sure?
Thanks

[2020-11-03 05:31] cagnulein commented on #13
@rickoneeleven you didn't get the commit that I said. Please double check that you are using d015149

[2020-11-03 06:33] kenands commented on #22
@cagnulein I tried Yesterday and get this error:
![IMG_20201103_004300](https://user-images.githubusercontent.com/16349940/97955179-e85ab480-1da5-11eb-95e5-7e1942db2ad2.jpg)

Like @firetrappe I use now raspberry headless because I don't have screen in my basement there where is the bike.
I tried with xrdp in windows remote desktop, with putty in ssh and vnc but in every try I get the same error.
I

[2020-11-03 07:04] cagnulein commented on #22
@kenands that error is releated to a problem on bluetooth low level communication i guess releated to the distance between the raspberry to the cyclette. Try to reduce the distance and attach me a full log: so we can see the RSSI.

[2020-11-03 07:06] rickoneeleven commented on #13
my bad, here you are
[debug-Tue Nov 3 07_02_10 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5479667/debug-Tue.Nov.3.07_02_10.2020.log)

speed to 2.0, inc to 2.0, inc back to 0, speed back to 1

[2020-11-03 07:07] cagnulein commented on #22
@firetrappe @alpat59 you could download this app https://apps.apple.com/it/app/nrf-connect/id1054362403 in order to check if everything works on bridge side. This app is the very useful in order to understand if is a zwift issue, an iOS issue or a bridge issue.

Yesterday @alpat59 tried with an iphone and an ipad: the iphone works, the ipad didn't, so i'm start thinking some issue on the iPad side

[2020-11-03 07:09] cagnulein commented on #13
@rickoneeleven this still is the previous version. Anyway i will add a fix and we will try with a final version.

[2020-11-03 07:13] rickoneeleven commented on #13
![PXL_20201103_071156542](https://user-images.githubusercontent.com/8156878/97957900-0c1cfb00-1da4-11eb-9499-777366cb00c2.jpg)
it shouldn't be

[2020-11-03 07:36] cagnulein commented on #13
@rickoneeleven try this one https://github.com/cagnulein/qdomyos-zwift/commit/8a248f7451ede9ccd7536e86c84f0b43ef5e683a
I added a fix to get the T900C (of course i didn't test it because i don't have this treadmill :) )

Please remove the directory and get a full clone of the repo, just to be sure and send me the log in any case

[2020-11-03 07:40] rickoneeleven commented on #13
ahhh i've just thought, i never ran the make commands after last checkout, maybe that's what it's not got debug info, noted! i've just cloned the new build now and am currently making, standby

[2020-11-03 07:41] cagnulein commented on #13
@rickoneeleven yes, you have always to make after pulling new commits

[2020-11-03 07:46] rickoneeleven commented on #13
you've only gone and done it my friend! thank you ;D
[debug-Tue Nov 3 07_44_38 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5479835/debug-Tue.Nov.3.07_44_38.2020.log)

[2020-11-03 07:47] cagnulein commented on #13
@rickoneeleven great! does zwift work too?

[2020-11-03 07:50] firetrappe commented on #22
@cagnulein The only thing I did when I was having issues was to delete the qdomyos-zwift dir and start again with the latest commit.
I've tested again quickly this morning before I go to work. Zwift connected to the bridge immediately, but again, no avatar movement - log attached.
I'm charging up an old iphone which I will test tonight.
[debug-Tue Nov 3 07-24-12 2020.log](https://github.com/cagnul

[2020-11-03 07:53] rickoneeleven commented on #13
it didn't on first launch (which the last logs are from), i closed the gui, started it again, it connected to zwift and treadmil, zwift displayed the speed of treadmill! 3 coffee's are with you, thanks again.

think ive just had seg error but not sure if i closed window by mistake, and it won't reconnect, probs just needs reboot but i need to get ready for work, ill player later!

thnaks
R

[2020-11-03 07:59] cagnulein commented on #13
@rickoneeleven thank you very much for the coffees! i leave this issue open waiting for @Martoni74
if you have any other issue, please feel free to write me.

[2020-11-03 08:01] rickoneeleven commented on #13
no - thank you my friend. i left it running no-gui in the garage 5 minutes ago connected to zwift and treadmil after reboot, i'll check it in a bit and let you know if it stayed connected, cheers!

[2020-11-03 08:02] cagnulein commented on #22
@firetrappe on your last log there is no movement, just a change of the resistance level. Did you move the pedals?

<pre>
Tue Nov 3 07:26:13 2020 Current speed: 0
Tue Nov 3 07:26:13 2020 Current cadence: 0
Tue Nov 3 07:26:13 2020 Current resistance: 2
Tue Nov 3 07:26:13 2020 Current heart: 0
Tue Nov 3 07:26:13 2020 Current KCal: 0
Tue Nov 3 07:26:13 2020 Current Distance: 0
Tue Nov 3 07:26:13 2020

[2020-11-03 08:11] cagnulein commented on #13
@rickoneeleven ok when you will have a big uptime, please post it here https://github.com/cagnulein/qdomyos-zwift/issues/44 😆

[2020-11-03 08:45] rickoneeleven commented on #13
it lasted a good while, got a seg fault after about 45 minutes, i left zwift on the "connected devices" screen, and the treadmill running at 2k don't know if the log will be helpful. anyway i've got to go to work, cheers

[debug-Tue Nov 3 07_55_38 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5480100/debug-Tue.Nov.3.07_55_38.2020.log)

[2020-11-03 08:54] cagnulein commented on #13
@rickoneeleven understood the issue, it was releated to the different behaviour of the T900C. I will fix it ASAP

[2020-11-03 09:05] cagnulein commented on #13
@rickoneeleven i guess i fixed it, try https://github.com/cagnulein/qdomyos-zwift/commit/fbe457173452dc0805082b9a49098a9a67315019

[2020-11-03 09:09] cagnulein opened #46 "VIDEO/PHOTO of your setups"
I would like to create a short Youtube video in order to describe quickly the project.
I guess it should be useful and funny if i will add some of your videos playing with qdomyos-zwift.

So feel free to put here anything releated to your setup, even video files.

Thanks

[2020-11-03 09:18] firetrappe commented on #22
@cagnulein Yes, I was pedaling to try and make my avatar move. This is the same issue I mentioned yesterday on the occasion that zwift connected to the bridge.

[2020-11-03 09:28] cagnulein commented on #22
@firetrappe in this case there is something from the bike to the raspberry because the bike send

`f0 bc 00 00 00 00 00 00 00 00 00 00 00 00 02 00 01 00 00 00 00 00 08 00 00 b7`

so it all to 00, means everything it stops.

So i need a little help from you: you have to understand if there is any connection between this behaviour and, i don't know, something you do on the bike.
For example, starts

[2020-11-03 10:02] firetrappe commented on #22
@cagnulein Yes, I understand. I was testing different combinations of connecting yesterday but I didn't document the results. I will do some testing later.

The Bike 500 is 'self-powered', so until you pedal for a few seconds the bike's console and bluetooth aren't powered. Also if you stop pedaling for a few minutes then the bike shuts down. The latest log I attached was the following order..

1.

[2020-11-03 10:11] rickoneeleven commented on #13
Cool thanks, I'll check it out tonight and remember to "make" this time too and test! (got a few errands to run after work, so it will be in 8 or so hours from now)

[2020-11-03 10:13] cagnulein commented on #22
wow! i didn't know! great feature ;)

`Is is possible to corrupt files on Pi by removing power while the bridge is running? I realise that log files can become corrupt.`

yes it's possible, but if a executable (as qdomyos-zwift) has been corrupted it will never start, so it will be very visible :)

[2020-11-03 10:15] cagnulein commented on #13
@rickoneeleven no problem :) have a nice day, we will catch up tonight

[2020-11-03 12:26] kenands commented on #22
@cagnulein I tried again and it works well except the heart rate service (zwift doesn't see it).
Zwift see that the bike is controlable but I'm novice on zwift so I don't know how to test it from zwift yet.
I don't know why but the bluetooth issue was related to on other domyos bike 1627 like a few days ago (mine is 1175), I don't think someone on my new neighboorhood have a domyos bike again, ras

[2020-11-03 12:35] cagnulein commented on #22
@kenands thanks for sharing your log! Yeah, I removed the heart service for giving more compatility to FTMS protocol but if zwift doesn't get it I will reintroduce it (I guess I can add a parameter to disable it).

Great tip about the "start" button, @firetrappe let us know!

[2020-11-03 13:12] firetrappe commented on #22
Ah, that might be it! I will try later, thank you!
@kenands  Do you get the full console display like this while using zwift?
![500_self-powered_exercise_bike_domyos_by_decathlon_8503088_1742058](https://user-images.githubusercontent.com/66125348/97987663-97fa4b80-1dd3-11eb-815b-4c5c81ca5a9f.jpg)

This morning I was just getting the bluetooth symbol in the middle of the console and the resistance

[2020-11-03 13:14] cagnulein commented on #22
@firetrappe i run it on autostart on fluxbox, but it's better to open a dedicated issue in order to keep this one clean. Thanks :)

[2020-11-03 13:24] firetrappe opened #47 "Autostart qdomyos-bridge on Raspberry Pi boot."
Have any of you using a Pi managed to get the bridge to work automatically at boot? I managed it once briefly by modifying the /etc/xdg/lxsession/LXDE-pi/autostart script. The bridge ran briefly and then disappeared. No logs were created I could check.
I think (guessing) it could be a root issue and I need to use a bash script?

[2020-11-03 13:25] cagnulein commented on #22
@kenands i've just readded the HR service. @alpat59 if you want to try without the heart service just add to the executable
`-no-heart-service`

[2020-11-03 13:27] cagnulein commented on #47
@firetrappe try to start the executable with

`sudo ./qdomyos-zwift 2> /tmp/error.txt`

in this way you can collect any error to /tmp/error.txt file

[2020-11-03 14:04] firetrappe commented on #47
@cagnulein Thanks. I'm at work right now, but from memory my autostart script looked like this -

[code]

[2020-11-03 14:04] rickoneeleven commented on #47
ohhhhh yeah, i've not even tried this but I was thinking about it earlier, was thinking the same. maybe a crontab shell script that checks each minute to see if it's running and starts it if not - could use ps or something like that to see if it's running.

i use "supervisor" https://linoxide.com/linux-how-to/supervisor-monitor-linux-servers-processes/ for some queue management process on laravel,

[2020-11-03 14:11] firetrappe commented on #47
@rickoneeleven Thanks for the ideas. Totally above my skills, but i'm getting more exercise running up and down stairs at the moment than on the bike and treadmill ;)

[2020-11-03 14:17] rickoneeleven commented on #47
it all counts :D

[2020-11-03 14:17] cagnulein commented on #47
@firetrappe you could do a thing like this

`@lxterminal -e /qdomyos-zwift/src/qdomyos_zwift 2> /tmp/error.txt`

[2020-11-03 14:40] kenands commented on #22
@cagnulein ok thanks :)
@firetrappe yes i get nearly the full console (except the chart).

[2020-11-03 14:41] cagnulein commented on #39
via VirtualBox using the passthrough function for the bluetooth dongle works!
I have an image to try if anyone is interested (3 GB)

[2020-11-03 17:05] firetrappe commented on #22
@cagnulein I just got home and tested.
As before, I started the bridge, powered the bike and then opened Zwift.
This time zwift detected the bike after a couple of seconds. I started a 'ride' session and my avatar wasn't moving again.
I tried pushing the 'start' button on the bike console, but it didn't appear to do anything.

I tried again. This time powering the bike first, then starting the bri

[2020-11-03 17:29] firetrappe commented on #22
I think I might have found part of the issue with my above post.
It appears that someone nearby is using another bluetooth smart trainer! It could be that Zwift was connecting to that :/
I need to pay more attention.

![IMG_0328](https://user-images.githubusercontent.com/66125348/98019616-e4588200-1df9-11eb-89d1-a3cbc79c314d.PNG)

[2020-11-03 17:59] firetrappe commented on #22
Apologies for cluttering this thread. I'm happy to remove any of these posts, or move them to a new issue. Just ask.

Below are images of nRF Connect running on my phone, my zwift connections and also my avatar (not moving). I hope these give some clues.

![Screenshot_20201103-173837](https://user-images.githubusercontent.com/66125348/98022357-6dbd8380-1dfd-11eb-875f-d0bb9dae2de6.png)
![PXL_202011

[2020-11-03 18:32] kenands commented on #22
@firetrappe it is maybe something similar to my last issue, try with the name paramater as below:
sudo ./qdomyos-zwift -name Domyos-Bike-0556

[2020-11-03 18:50] cagnulein commented on #22
@firetrappe i will check the log tomorrow. Feel always free to post everything that could be useful to understand the issue! We are a great debug team! :)

[2020-11-03 18:54] rickoneeleven commented on #13
@cagnulein mines been running 51 minutes, so broke the 45 minute mark from last time! using fbe4571 - i also started a workout on zwift and just left the avatar going around the track at 3-4kph, so don't know if that has made a difference (doubt it), probably your most recent patch. ill check it again over the next hour or so and let you know, and if it's all good I may even have a run in a couple

[2020-11-03 19:12] rickoneeleven commented on #13
ohhhh no it just seg faulted again
[debug-Tue Nov 3 17_58_31 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5483529/debug-Tue.Nov.3.17_58_31.2020.log)

[2020-11-03 19:15] cagnulein commented on #13
@rickoneeleven understood i have to do another little modification. We are almost there 👍

[2020-11-03 19:16] rickoneeleven commented on #13
if it gives a clue, it seems i have to reboot the pi to get it to connect again to treadmil, even after turning bluetooth off/on' on the pi, and rebooting the treadmill, it won't connect it seems until i've done a full reboot of the pi

[2020-11-03 19:23] cagnulein commented on #13
@rickoneeleven try now, i just pulled a new commit for the segfault issue

[2020-11-03 19:24] cagnulein commented on #13
did you try to restart the bridge?

[2020-11-03 19:25] rickoneeleven commented on #13
what the rasberry pi? i restarted the ras pi and it fixed it, starting the "script" again as no-gui didn't seem to make any difference, tried a few times, couldn't get it to connect without rebooting the pi.

do i just pull the latest commit and "make" and retest?

[2020-11-03 19:27] cagnulein commented on #13
i don't know, one problem at a time 👍

yes please

[2020-11-03 19:36] rickoneeleven commented on #13
running the latest build now, let's try and get an hour!

https://photos.app.goo.gl/jxb6gFGnkd6a8NQq6

[2020-11-03 19:40] rickoneeleven commented on #13
@cagnulein this one seg faulted much quicker
[debug-Tue Nov 3 19_32_28 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5483686/debug-Tue.Nov.3.19_32_28.2020.log)

[2020-11-03 19:48] rickoneeleven commented on #13
i've rebooted, and tried the same build, but this time removed my raspi logitech wireless keyboard and plugged in usb keyboard and mouse incase they are causing any issues?

[2020-11-03 20:17] cagnulein commented on #13
Is it still running? The log seems to describe a different scenario. Wireless gadget could case interferences, but I don't think they are related. I will check the log tomorrow morning

[2020-11-03 20:19] rickoneeleven commented on #13
yeah still running at the moment, about 30 minutes. i'll see if I can make at least an hour and post the logs when testing is over.

[2020-11-03 20:20] cagnulein commented on #13
Great, thank you

[2020-11-03 21:06] firetrappe commented on #22
More testing using nRF Connect on my Pixel 4a....

Pedal bike to switch on. Full console display on bike and nRF detects Bike 500.
Power on RasPi - no change.
Start bridge from PC. Bridge appears on nRF refresh, but Bike 500 disappears. Console on bike changes to only BT symbol and Resistance. Only +/- resistance buttons appear to do anything on the bike console.
Remove power from RasPi. After ~10

[2020-11-03 21:13] rickoneeleven commented on #13
okay, so new PR 😄  no crash, and over an hours worth of data. was it related to unplugging the logitech wireless keyboard? i don't think so either, maybe we just had a lucky run - do "successful" log files provide any value?

[debug-Tue Nov 3 19_47_05 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5484063/debug-Tue.Nov.3.19_47_05.2020.log)

i'll give it another hour or so tomorrow morn

[2020-11-03 21:15] rickoneeleven commented on #13
another thing worth noting, in addition to it running over an hour with no crash, when I CTRL-C'd the program, let the bluetooth connection to the treadmil time out, and then started the program again - it connected to the treadmil right away. so seems I only need to reboot the rasberry pi after the seg fault... hmm interesting maybe?

[2020-11-04 05:13] cagnulein commented on #13
@rickoneeleven try my last commit https://github.com/cagnulein/qdomyos-zwift/commit/0fa8873e19102a7797dac4cd98631f33c2509237 i'm really confident this time ;)

[2020-11-04 05:17] cagnulein commented on #22
@firetrappe for the display i guess i need a bt snoop because is quite different from the @kenands one, don't you think? open another issue with the snoop, please

[2020-11-04 05:18] cagnulein commented on #22
ok this is the correct behaviour, i mean the bluetooth behaviour.

[2020-11-04 05:20] cagnulein commented on #22
@firetrappe one thing i don't understand. in this zwift screen, if you move the pedals, the data are correct?

[2020-11-04 06:36] rickoneeleven commented on #13
Okay bro, the mill is rolling, can probably leave it going two hours before work this morning so fingers cross we hit that mark

[2020-11-04 07:53] rickoneeleven commented on #13
okay a bit different this morning, treadmill has stopped, bluetooth light is off on treadmill, BUT the program has not crashed and it still appears connected to zwift

[debug-Wed Nov 4 06_32_06 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5486260/debug-Wed.Nov.4.06_32_06.2020.log)

AND, if i CTRL-C the program and restart it, it DOES connect back to treadmill and allows me control sp

[2020-11-04 07:58] rickoneeleven commented on #13
another thing worth noting, the log i've uploaded above seems to stop at 07:18, but the console was still scrolling when I went in the garage 2 minutes ago at about 07:55 (only then did I CTRL-C the program) and restart it

[2020-11-04 08:13] cagnulein commented on #13
probably because when you press CTRL+C the buffer on the file has been truncated. I will have a look in the log file.

[2020-11-04 08:15] rickoneeleven commented on #13
sorry I mean I CTRL-C'd - then uploaded log file, but even though I CTRL-C'd at 07:55, the log file only ran to 07:18 if that makes sense. anyway, i'll leave it with you for review, thank you.

[2020-11-04 08:17] cagnulein commented on #13
you're right is absolutely a step forward, means that the issue that you discovered yesterday was completely fixed.
Now, this morning behaviour is very strange. Is it possible that you had a mini-power surge? As you said, the log is useless because is truncated. :( we need another run tonight to understand it better :)

[2020-11-04 08:19] rickoneeleven commented on #13
i doubt the power surge, but couldn't rule it out to be fair. i'll give it another run tonight when back from work 🥂

[2020-11-04 08:23] rickoneeleven commented on #13
actually i kicked it off again after the failure this morning, and it's stopped again, so fresh log file with same behaviour, my qwift avatar was still walking (so still connected?), treadmill had stopped and bluetooth light off. I CTRL-C'd the program as it was still running and THEN uploaded log file:

[debug-Wed Nov 4 07_52_42 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5486425/d

[2020-11-04 08:27] cagnulein commented on #13
@rickoneeleven very strange, i will look into it. Could you please send me a copy&paste of the scrollback of the terminal where you run the bridge? i guess there we will find more info

[2020-11-04 08:28] rickoneeleven commented on #13
ahhhhhh **** i've just shut it down, will have to be tonight, cheers.

[2020-11-04 08:30] cagnulein commented on #13
no problem :) @rickoneeleven i've just pushed a new commit with the flush of the file every time that a line has written. Give it a try tonight.

[2020-11-04 09:07] cagnulein commented on #47
@firetrappe did you manage it?

[2020-11-04 09:50] firetrappe commented on #47
@cagnulein I briefly tested adding your code line to my autostart script. The Pi rebooted to desktop and opened an empty text window called 'qdomyos-zwift'. No error.txt log was created.

[2020-11-04 09:54] firetrappe commented on #22
If I remember correctly, moving the pedals had no effect on the data on that screen. Watts and Rpm remained zero.

[2020-11-04 10:08] cagnulein commented on #22
@firetrappe @alpat59 too has a similar ipad issue. do you have other device to test on zwift? anyway could you please try the last commit and send me the logs? alpat59 said that iphone works well.

@kenands i saw you on zwift this morning :D one question: is the resistance controlled by zwift now or it doesn't work yet?

[2020-11-04 10:18] firetrappe opened #48 "Domyos Bike 500 - Econnected Snoop Log"
I connected my Bike 500 to the eConnected app to capture a very short Snoop log before I had to leave for work.

![Screenshot_20201104-082146](https://user-images.githubusercontent.com/66125348/98096926-36de8080-1e84-11eb-9036-9850c6629dbc.png)

I tried to maintain a steady cadence and change the resistance levels on the bike's console to get some sort of usable log.

[btsnoop_hci.log](https://git

[2020-11-04 10:49] cagnulein commented on #48
@firetrappe ok, this snoop was very useful: infact, your bike is different from the @alpat59 and @kenands
i have to create a similar profile for this one. i will tell you when i'm ready

[2020-11-04 10:51] firetrappe commented on #22
@cagnulein I have a cheap Lenovo android tablet, my Pixel phone and an iphone 7 plus that I can test on.
I have a feeling that the iPad (or another device) may be stealing the connection or connecting in the background. I have seen a few times while using nRF that 'iBeacon' briefly appears.

I may uninstall zwift from my devices and start again. I have tried to find a method of removing 'known dev

[2020-11-04 14:00] cagnulein commented on #48
@firetrappe i just submit a new commit.
I found several differencies from the other version ("changyow" is its name).

So please, test and send me the log generated from the bridge.

Please split the 2 issue:
1. is the display issue that this commit should fix (i hope, but i'm not really 100% confident yet)
2. the ipad issue

Here talk about only the first one, if the zwift ipad continues, try wit

[2020-11-04 14:14] kenands commented on #22
@firetrappe for me, when I move pedals, data are updated on this screen.
Also, I said a mistake, it's not necessary to push ok button, values begin to move after 3-4 seconds of pedaling.

@cagnulein I did my first long session :)
The resistance is recognized by zwift but in this session, zwift didn't change it.
During the session, 4 times zwift companion lost the bluetooth from the bridge (1st tim

[2020-11-04 14:22] cagnulein commented on #22
Did you select the icon on the start menu about the resistance control? i guess so. In case we will see it in the log

Very strange, the log will clarify this problem too

Windows 10? It doesn't see at all? This is new :) i try to install on a W10 machine too and i'll try. I'll open a separate bug about it

i will look into it

i will look into it too

Thank you for your time and patience!

[2020-11-04 14:23] cagnulein opened #49 "Zwift on Windows 10 doesn't seems to see the bridge"
@kenands
Lenovo x230 for zwift
Zwift on my laptop doesn't see bluetooth from the bridge that's why I used zwift companion for the connection.

_Originally posted by @kenands in https://github.com/cagnulein/qdomyos-zwift/issues/22#issuecomment-721756085_

[2020-11-04 14:38] cagnulein commented on #22
@kenands i guess i fixed distance and calories on the console in the last commit. Let me know

[2020-11-04 14:43] firetrappe commented on #48
@cagnulein Thank you so much for looking into this.

I recognised the 'chagyow' name, but I couldn't remember where I had seen it before. Then I suddenly remembered....
![Screenshot_20201104-143720 (Medium)](https://user-images.githubusercontent.com/66125348/98124958-be8bb580-1eab-11eb-80b8-bd93cce4861e.png)

This is the app on my iPad which works with my Reebok Treadmill!

My treadmill has never

[2020-11-04 14:46] cagnulein commented on #48
@firetrappe hahah just to be clear: the chagyow bike is the @kenands one. Yours has provided by telink.
So your reebok treadmill has been built by the same company of the domyos treadmill. There is a lot of possibilities that reebok treadmill has the same protocol (and maybe the same firmware) of the domyos one.

You should definitely try :D (open another issue of course in case :P)

[2020-11-04 14:54] firetrappe commented on #48
@cagnulein  Wow lol. I was getting REALLY confused there for a minute!
That's really interesting though.

I'll pull the latest commit and test later tonight :+1:

[2020-11-04 15:31] kenands commented on #49
@cagnulein yes it's on windows 10.
On Windows 10 bluetooth configuration, I see the bridge but on zwift it doesn't appaer.
I did few searches on google and it seems to be related to a windows issue.
In this topic, lot of people have the same issue:
https://forums.zwift.com/t/windows-10-and-bluetooth-connection-issues/105504/21

I will try with updating w10 and installing
vc_redistx64.exe

[2020-11-04 15:35] firetrappe commented on #22
@kenands Thank you for the info. No problem about the 'ok' button. It was something I hadn't thought of trying so was worth investigating.

[2020-11-04 17:18] rickoneeleven commented on #13
okay i've just started test with latest build, for future reference, rather than me deleting the directory, cloning, and making again, can I just git pull and then make -j4?

[2020-11-04 17:27] rickoneeleven commented on #13
okay the treadmill disconnected quite quick this time, it still didn't write the extra stuff scrolling in the console after the treadmill disconnected, so i copy and pasted it to bottom of log manually

[debug-Wed Nov 4 17_17_38 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5489522/debug-Wed.Nov.4.17_17_38.2020.log)

[2020-11-04 17:46] drainuzzo commented on #32
Hello @cagnulein I attached logs for the following test

[code]
[debug-TR-AppGate-2.zip](https://github.com/cagnulein/qdomyos-zwift/files/5489602/debug-TR-AppGate-2.zip)

[2020-11-04 18:58] cagnulein commented on #13
Yes, sure

[2020-11-04 19:00] cagnulein commented on #13
Ok I guess I understand the issue, the treadmill disconnects because the bridge doesn't poll it anymore. It's all about the problem that we saw yesterday. I will work on it and I will let you know

[2020-11-04 19:04] cagnulein commented on #32
Thanks @drainuzzo I will check it tomorrow. Did you test zwift too? Does it work?

[2020-11-04 20:08] cagnulein commented on #13
@rickoneeleven could you please try my last commit? i put some mechanism to avoid corrupted packets

[2020-11-04 20:22] rickoneeleven commented on #13
we can but try my friend, so I ran "git pull", then "qmake" and "make -j4" which seemed to (compile?) a lot quicker, only seemed to update 3 or so files - hope that's right. I've now started the test which is currently running 👍

[2020-11-04 20:26] firetrappe commented on #48
@cagnulein I just tested the latest commit.

The bike console exhibits the same behaviour as previously unfortunately. Log attached.

[debug-Wed Nov 4 20-20-13 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5490325/debug-Wed.Nov.4.20-20-13.2020.log)

[2020-11-04 20:33] cagnulein commented on #48
@firetrappe no differences at ALL? unbelieavable :( tomorrow i will check the snoop again, i surely missed something this morning :(

[2020-11-04 20:45] firetrappe commented on #48
@cagnulein The console just showed the Bluetooth symbol and the resistance options again I'm afraid.

Would a snoop log from Kinomap be of any use?

[2020-11-04 21:32] cagnulein commented on #48
@firetrappe no i don't think so. I guess the file you collected is enough, I just missed something stupid I hope.

Have a good night

[2020-11-04 21:34] cagnulein commented on #13
@rickoneeleven is it still running?

[2020-11-04 21:38] rickoneeleven commented on #13
it had been running a while, i checked just after your comment and it had just seg faulted, so slighty different behaviour to last 24 hours where the app carries on running but the treddy disconnects - this time it actually seg faulted and it looks like the log got everything

[debug-Wed Nov 4 20_20_52 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5490624/debug-Wed.Nov.4.20_20_52.2020

[2020-11-04 21:40] rickoneeleven commented on #13
i seems as well that this line at the end "BTLE stateChanged InvalidService" kind of indicates it won't work neither until a reboot the pi, can't get it to reconnect. don't know if something absolutely craps out when you see that?

[2020-11-04 21:50] rickoneeleven commented on #13
honestly though, I remember when I first got the treadmill, just under a year ago, I'm sure - although I can't quite remember - that kinomaps would drop bluetooth intermittently after a certain period, so maybe the 900c is just a bit..... crappy with bluetooth? the commit before last, at least when the treadmill stopped you could just relaunch it straight away and it would reconnect - (granted you

[2020-11-04 21:53] kenands commented on #49
@cagnulein it works with vc_redistx64.exe installed :smile:

[2020-11-04 22:20] kenands commented on #22
@cagnulein Yes control resistance icon was selected.
below, logs of this morning session:
[debug-mer. nov. 4 10:19:16 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5490723/debug-mer.nov.4.10.19.16.2020.log)
[debug-mer. nov. 4 11:03:31 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5490724/debug-mer.nov.4.11.03.31.2020.log)
[debug-mer. nov. 4 11:36:21 2020.log](https://gith

[2020-11-05 00:31] firetrappe commented on #47
@cagnulein I have now managed to figure out the autostart - at least one way that works so far.

I did the following..

`mkdir /home/pi/.config/autostart`

`sudo nano ~/.config/autostart/qdomyos.desktop`

[code]
`sudo chmod a+r ~/.config/autostart/qdomyos.desktop`

`sudo reboot`

The `$SHELL` keeps the terminal window open if there is a SegFault etc.

[2020-11-05 05:13] cagnulein commented on #22
@kenands hahaha great! I will challenge you on a 10km :D I will have a look to the log today. Thanks

[2020-11-05 05:14] cagnulein commented on #49
Great! Thank you for sharing!

[2020-11-05 05:14] #49 closed

[2020-11-05 05:22] cagnulein commented on #13
@rickoneeleven no we have to fix it cleanly, is possible I guess. We have only to cover all the holes that domyos did.

For sure your treadmill or, in general the t900c, sends sometimes corrupted packets, but we can handle it and discard it.

So please, let's continue on this way, we will get it :)

I will look the logs and I will let you know

[2020-11-05 06:25] rickoneeleven commented on #13
@cagnulein awesome, i'm at home for the next 5 days, so we can crush some additional testing and move things a little quicker if you're up for it 🥰

[2020-11-05 07:35] cagnulein commented on #13
@rickoneeleven could you try my last commit? i added some more debug print and i tried to manage the communication error. I'm really curious about its behaviour.

[2020-11-05 07:39] rickoneeleven commented on #13
okay it's running my friend 🤞

[2020-11-05 07:49] cagnulein commented on #22
looking into the logs i discovered that the connection hangs because an error and the docs said

`An unknown error has occurred.`

So there is not much do on it :D i guess there is some interference or something like this. Try to reduce the distance between the raspberry from the device you use to connect to the raspberry.

Do you have the same issue with windows too?
I already managed this error,

[2020-11-05 07:52] cagnulein commented on #22
fixed on the last commit @kenands

[2020-11-05 08:08] kenands commented on #22
I need few trainings before :) , I'm not sure I can do a 10km yet but it's a good idea :D

It's a very speaking error lol
The raspberry was at 1.5 meters from the phone.
Not yet, with Windows, I tried just few minutes , I will do a long session this night to see if it's happen again.

Thanks :)

[2020-11-05 08:18] cagnulein commented on #22
i added some code to the control resistance https://github.com/cagnulein/qdomyos-zwift/commit/53fde43c3cbe875a9658dad1bbb3c5ad7756dcc3

try it and post me the log.

[2020-11-05 08:24] cagnulein commented on #48
@firetrappe just to be sure: in yout snoop log i saw a lot of packet to a "nintendo" device. Is it known? Because i'm start thinking that you have 2 endpoint in your bike, maybe with 2 different bluetooth device

the mac address of this device is [Destination: Nintendo_c9:65:d2 (7c:bb:8a:c9:65:d2)]

Do you recognize it?

[2020-11-05 08:36] cagnulein commented on #48
@firetrappe i commit a new one. I tried to be more on the snoop way. give it a try ;)

[2020-11-05 08:38] drainuzzo commented on #32
@drainuzzo no sorry I didn't tried it with Zwift yet, I will report another test next days ;)_

[2020-11-05 08:39] drainuzzo commented on #32
Just a note, this time worked only with sudo

[2020-11-05 08:46] rickoneeleven commented on #13
latest log

[debug-Thu Nov 5 07_37_29 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5493030/debug-Thu.Nov.5.07_37_29.2020.log)

[2020-11-05 08:52] cagnulein commented on #32
@drainuzzo i fixed speed and inclination https://github.com/cagnulein/qdomyos-zwift/commit/62a76f5f13897aa690ea5f8e18df819022514047

let's try :)

[2020-11-05 08:53] rickoneeleven commented on #13
and when i try and restart your program without reboot first
[debug-Thu Nov 5 08_52_29 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5493065/debug-Thu.Nov.5.08_52_29.2020.log)

[2020-11-05 09:21] cagnulein commented on #13
@rickoneeleven trying the new one. I reduced the probability that a packet could corrupt to another. It's definitely a collision issue.

[2020-11-05 09:24] rickoneeleven commented on #13
okay bro we're rolling - i need the iPad for some work stuff now, so it won't be connected to zwift and your program, are we okay testing without the iPad and zwift?

[2020-11-05 09:24] cagnulein commented on #47
@firetrappe close this when you're confident, thanks

[2020-11-05 09:25] cagnulein commented on #13
@rickoneeleven yes i guess it's not releated to zwift. BTW wichi version of ipad have you got? @alpat59 has some issues on zwift with iPad

[2020-11-05 09:27] rickoneeleven commented on #13
7th gen, normal ipad (not pro or mini or anything, just normal one) iOS 14.1

model no. MW742B/A

at no point during the testing have i had a problem with iPad/zwift/program connection - sometimes i have to launch your program a second time (CTRL-C and then start again) for zwift to see it, about 50% of the time

[2020-11-05 09:31] cagnulein commented on #13
ok, later on we have to fix this zwift issue too. i guess i need an ipad :D

[2020-11-05 09:33] rickoneeleven commented on #13
it really isn't a big issue for me, but yeah we can work on it if you want. getting the treadmill's connection stable is a big one for me, if we manage it, i'm going to wet my pants.

[2020-11-05 09:39] cagnulein opened #50 "Zwift and Strava accounts"
Just to create a little sense of community here, let's share our zwift and strava accounts

These are mine:
Zwift: Roberto Viola-8556 https://zwift.com/athlete/8cae4391-9f2a-4627-96e3-b55cebc17a02
Strava: https://www.strava.com/athletes/2839759

We could also create a Zwift team 👍

[2020-11-05 09:43] rickoneeleven commented on #50
https://www.strava.com/athletes/43508755
https://www.zwift.com/athlete/6cd84fef-8433-41cc-a9dc-c61a98aacd8a?__znl=en-gb Ryan Partington (it looks like im naked, im not)

[2020-11-05 09:49] cagnulein commented on #50
are you a '83 too? Very good year :D

[2020-11-05 09:50] rickoneeleven commented on #50
like a fine whiskey my friend

[2020-11-05 10:00] cagnulein commented on #39
Ok these are the steps in order to have qdomyos-zwift running on Windows

1. Download Virtualbox from here https://download.virtualbox.org/virtualbox/6.1.16/VirtualBox-6.1.16-140961-Win.exe
2. Install Virtualbox of course
3. Download the qdomyos-image (it's 3GB, so have patience) http://80.211.67.253:8080/qdomyos-zwift.ova
4. Double click on the ova file downloaded
5. Attach to the running VM, you

[2020-11-05 10:07] #47 closed

[2020-11-05 10:17] firetrappe commented on #48
@cagnulein we don't have any nintendo consoles connected. However, I just used nRF Connect to try and locate it.
It appears that it is one of the kids bluetooth devices they use when they play Pokemon Go :/

[2020-11-05 10:31] firetrappe commented on #50
Cool idea! Here's mine....

Zwift: Si Mills [https://zwift.com/athlete/3f1162bf-f8c0-41d4-accd-d5dd83842136?__znl=en-gb](url) Still in free trial.
Strava: https://www.strava.com/athletes/58124544

[2020-11-05 10:50] rickoneeleven commented on #13
dropped, we got some n00ps

[debug-Thu Nov 5 09_23_09 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5493785/debug-Thu.Nov.5.09_23_09.2020.log)

[2020-11-05 10:56] cagnulein commented on #13
Got it!

<pre>
Thu Nov 5 10:37:22 2020 1604572642976 packet ignored
Thu Nov 5 10:37:23 2020 1604572643028 polling blocked by other packet
Thu Nov 5 10:37:23 2020 1604572643227 incompletePackets timeout
Thu Nov 5 10:37:23 2020 1604572643231  >> f0 ac 9c // noOp
Thu Nov 5 10:37:22 2020 1604572642826  << 6 0b 01 00 00 01 0b
Thu Nov 5 10:37:22 2020 1604572642827 ...final bytes received
</pre>

now i h

[2020-11-05 11:04] cagnulein commented on #13
ok @rickoneeleven another round! pull it!

[2020-11-05 11:08] rickoneeleven commented on #13
okay bro's we're running, i've been removing the old debug logs when uploading them here, assuming that's what you mean - i'll let you know IF or when it dumps out next 🤞

[2020-11-05 11:41] rickoneeleven commented on #13
[debug-Thu Nov 5 11_07_29 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5494097/debug-Thu.Nov.5.11_07_29.2020.log)
i thought we had it 😱

[2020-11-05 12:22] cagnulein commented on #13
Argh I have to increase a bit the retry window. I would like to kill the programmer on domyos that realized this piece of shit

[2020-11-05 12:25] cagnulein commented on #13
Try now @rickoneeleven

[2020-11-05 12:27] rickoneeleven commented on #13
okay we rollin ❤️

[2020-11-05 13:01] rickoneeleven commented on #13
we've got a man down situation
[debug-Thu Nov 5 12_27_06 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5494481/debug-Thu.Nov.5.12_27_06.2020.log)

[2020-11-05 13:33] cagnulein commented on #13
this time is hard because it seems that everything is in the right place...i'm taking some moment to think about it

[2020-11-05 13:39] rickoneeleven commented on #13
if it's just my "good" old t900c, maybe we can keep this latest commit, but do whatever magic it is that you did a few commits back so I don't have to restart the pi each time.

 when we had it at the point where it was stopping the treadmill, but the program kept running even though it wasn't logging, around yesterday 07:53 GMT is when it would disconnect, but not "crash" the pi bluetooth so it h

[2020-11-05 13:41] cagnulein commented on #13
@rickoneeleven wait, i've got an idea. https://github.com/cagnulein/qdomyos-zwift/commit/42b711beb44633f3b6a811f260555beddb24af35 try this one: WARNING i created a branch just for you, in order to keep the things clean, so be sure to compile the right branch

git pull
git checkout t900c
qmake
make -j4

should enough

[2020-11-05 13:47] rickoneeleven commented on #13
cool, thank you, ill test that, see if i can get about an hour out of it, and if it doesn't crash the bluetooth stack that will be cool

[2020-11-05 13:55] cagnulein commented on #13
@rickoneeleven at least it started? i'm confident: if it started it works forever! 😆

[2020-11-05 14:04] rickoneeleven commented on #13
it sure did start my friend, currently running - not being running long at the moment but let's wait and see :crossed_fingers:

[2020-11-05 15:00] rickoneeleven commented on #13
treddy stopped, and the program kept running (not a seg fault), but when CTRL-C and starting it again it didn't reconnect without a reboot - maybe ill just checkout the build from yesterday?

sorry to take up so much of your time!

[debug-Thu Nov 5 13_49_10 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5495149/debug-Thu.Nov.5.13_49_10.2020.log)

then
[debug-Thu Nov 5 14_57_42 2020.log

[2020-11-05 15:06] cagnulein commented on #13
no, you did ok, i saw from the log.
Now i would like to check the commits that didn't require a reboot. maybe it could hide a hint

[2020-11-05 15:38] cagnulein commented on #13
@rickoneeleven let's move back to branch master https://github.com/cagnulein/qdomyos-zwift/commit/cf7f6ca1c2a3e1e1a3f50ce24ca56f6ba2d02658
i did 2 things in this commit:
1. i revert the changes to the one that not segfault
2. i added a -poll-device-time argument to the executable

so if you don't use -poll-device-time, this commit acts as the one doesn't segfault.
If you use -poll-device-time you

[2020-11-05 15:49] rickoneeleven commented on #13
okay i've just ran that against the last commit I checked out (the T900c commit) i'll let you know how we get on 👍

[2020-11-05 15:51] cagnulein commented on #13
did you use the 1000 value?

[2020-11-05 16:11] rickoneeleven commented on #13
right whoops, i missed your comment about master so i've just:

switched to master
git pull
qmake
make -j4
./qdomyos-zwift -no-gui -poll-device-time 1000 (i'm already root)

[2020-11-05 16:13] cagnulein commented on #13
@rickoneeleven ok i guess you should notice that the console on your treadmill should refresh a little bit slower than before

[2020-11-05 16:19] rickoneeleven commented on #13
ahhh yeah it's counting up in 2/3 second intervals

[2020-11-05 16:34] rickoneeleven commented on #13
😢
[debug-Thu Nov 5 16_18_56 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5495644/debug-Thu.Nov.5.16_18_56.2020.log)

treadmill stopped, program will still running with connection errors, but it did reconnect after CTRL-C and starting it again, so i see that as a positive at least

[2020-11-05 16:39] cagnulein commented on #13
@rickoneeleven if you want we could add a reconnection process (as you suggested yesterday) so, you will see for a moment that the treadmill slow down a little bit and it will return to the previous speed/inclination.
What do you think?

[2020-11-05 16:40] rickoneeleven commented on #13
hahahahaha I was just writing that out!!!!! that would be perfect!

[2020-11-05 16:40] cagnulein commented on #13
ok i will do it tomorrow, i don't know if would be easy or not. i have to think about it tonight in front a cold dark beer :P

[2020-11-05 16:42] rickoneeleven commented on #13
enjoy bombfire night :rocket: (assuming you have it over there)

[2020-11-05 17:19] firetrappe commented on #48
Just got home and pulled latest commit.

Similar experience to yesterday - Bike console just shows BT and Resistance.
I did open zwift just to see what happened. Zwift detected the bridge, but no avatar movment as expected :(

[debug-Thu Nov 5 17-11-43 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5495910/debug-Thu.Nov.5.17-11-43.2020.log)

[2020-11-05 18:36] cagnulein commented on #48
Tomorrow I will be more free than today and I will triple check it. Are you 100% sure that during the snoop log the console has populate by data?

Didn't you try yet with another zwift device?

[2020-11-05 18:38] cagnulein opened #51 "Build an android version"

[2020-11-05 21:26] rickoneeleven commented on #13
okay, just some food for thought. i had an idea - is my t900c just bad with bluetooth?

so i downloaded the econnect (official?) domyos app and connected it via bluetooth - would it be possible to hit two hours?

![PXL_20201105_212253621](https://user-images.githubusercontent.com/8156878/98298111-6046fb80-1fad-11eb-86ee-7ef5fad621a2.jpg)

i see that result as a glimmer of hope, at least we know th

[2020-11-05 22:10] kenands commented on #22
@cagnulein Hi, i just finished an one hour session without disconnection :smile: (connected directly with windows 10 zwift app)

few issues:
_ Resistance it's not controlled yet by zwift
_ few times power falls to 0 on zwift but cadence was displayed
_ value of speed on bike display was not correct at begining it was 25, after was sometimes to 0 or 4
_ distance stay at 0

I thinking now, maybe I'm

[2020-11-05 22:39] kenands commented on #44
My longest session :smile: :

![Screenshot_2020-11-05-22-29-01-478_com zwift android prod](https://user-images.githubusercontent.com/16349940/98304371-259a8e80-1fc0-11eb-88bc-2c8259e4adc2.jpg)

[2020-11-05 23:06] firetrappe commented on #48
@cagnulein Thank you for persisting with this.

To try and help I have created 2 more snoop logs. 1 with Econnected and 1 with Kinomap.
Both apps show different data on the bike console.

I also created a video of each session which I thought might help.

Kinomap Video: https://youtu.be/K8tKrRfpBKw
Kinomap Snoop Log: [kinomap btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/549789

[2020-11-06 05:00] cagnulein commented on #48
@firetrappe wonderful debug activity :) I will check it

[2020-11-06 05:05] cagnulein commented on #13
@rickoneeleven you're feeding my inside monster now :D if this app reach 2h without issue we have to do the same without any workaround! It's mandatory!
So please, could you get a bluetooth spoof of this app for at least 1h?
I guess it could be useful to understand if we do something wrong during our session.
Thanks

[2020-11-06 05:12] cagnulein commented on #22
You did right! I will check the log, we are very near to perfection :D I'm just worried about the power glitch on zwift I hope I will see something on the log. I'll keep you informed

[2020-11-06 06:49] cagnulein commented on #48
@firetrappe i checked the 2 snoop logs but in both of them there aren't any trace of connection to the TM, only with a garmin smartwatch. I'm sorry but they are useless :( could you please retry? if you want, before send me them, you could double check them with wireshark looking for your treadmill mac address (as your very first snoop log has)

[2020-11-06 06:52] rickoneeleven commented on #13
😺 i;ve not snooped before, can you give me a little breakdown and I'm sure i'll figure it out, do I need an app?

[2020-11-06 07:03] cagnulein commented on #22
fixed!

[2020-11-06 07:09] cagnulein commented on #22
fixed too!

[2020-11-06 07:18] cagnulein commented on #22
we made a lot of progress i saw on the logs! we're near. i just added some response to zwift requests, so we will need some more test in order to collect data, but again, we're near :)

pull it and try and let me know @kenands
@firetrappe these changes apply to your bike too

[2020-11-06 07:21] cagnulein commented on #13
@rickoneeleven first of all, in order to collect data, you need a android device, tablet or phone, but it must be android. do you have one?

if yes, you have to follow these steps:

Ok, follow these steps:

1. you need to become developer on your phone https://wccftech.com/how-to/how-to-enable-developer-options-on-android-10-tutorial/
2. Go to Settings
3. Go into developer options
4. Enable the op

[2020-11-06 07:22] kenands commented on #50
Good idea 😄
My zwift account:
https://zwift.com/athlete/3123c2ba-d0f7-4ee6-92cf-7c3535eb755d
I don't have strava account.

[2020-11-06 07:27] kenands commented on #22
@cagnulein great :D
It's go for a new session this night lol

Tommorow, my treadmill will be delivered  👍

Thanks

[2020-11-06 07:31] cagnulein commented on #50
BAD BAD BAD! 😆
how could you train wihout strava? "if it's not on strava it didn't happen" 🤣

[2020-11-06 07:32] rickoneeleven commented on #13
do you need root? I don't seem to have that option 😢
https://pinescore.com/111/screen-20201106-072905.mp4

[2020-11-06 07:33] kenands commented on #46
Here is my temporary setup, I will improve it 😄

_ raspberry pi4 for the bridge.
_ Windows 10 laptop for zwift and remote the raspberry
_ Tv
_ domyos bike 500

![IMG_20201105_220010](https://user-images.githubusercontent.com/16349940/98338319-50113980-200a-11eb-84ac-8f6b964e6f57.jpg)
![IMG_20201105_211840](https://user-images.githubusercontent.com/16349940/98338321-51426680-200a-11eb-9f8c-816e0ac1

[2020-11-06 07:35] cagnulein commented on #13
@rickoneeleven no, you don't need root. if you are already a developer you should find the snoop option. i'm trying to find the correct path in your pixel 4 on internet. every phone has a different path to the bluetooth debug option :/

[2020-11-06 07:36] cagnulein commented on #13
@rickoneeleven check this https://developer.android.com/studio/debug/dev-options

[2020-11-06 07:40] rickoneeleven commented on #13
got it, thank you. leave it with me.

[2020-11-06 07:40] kenands commented on #50
Haha until now I used addidas app (old runtastic). I will try strava lol

[2020-11-06 08:44] rickoneeleven commented on #13
bloody nora, that took some getting my head around. right, i've got it logging, and confirmed I can get the log files off phone - I didn't want to log for an hour only to find I can't get the log file.

so it's running econnected now on my ipad, connected to my treadmill, with my phone next to them. do you think we can just collect an hours worth of data? i could really do with my devices back :sm

[2020-11-06 08:49] cagnulein commented on #13
@rickoneeleven no no, econnected MUST run on the same android device

[2020-11-06 08:51] rickoneeleven commented on #13
aghhh haha, ill sort soon

[2020-11-06 08:55] rickoneeleven commented on #13
okay it's running, pixel 4 with econnected paired with my treadmill, how much time/data do you think you need?

[2020-11-06 09:01] cagnulein commented on #13
@rickoneeleven 30m should be enough, 1h is better

[2020-11-06 09:20] firetrappe commented on #48
@cagnulein Ah Damn! That's disappointing. The only thing I can remember doing differently for those logs was disabling and re-enabling bt after enabling HCI snooping, then restarting the phone. I'll get wireshark as suggested to check the logs.

Would you like new videos of each session, or are they not so important now?

I'm at home this afternoon, so I'll see what I can do when i'm a bit less ti

[2020-11-06 09:35] cagnulein commented on #48
;)

they were useful, but now i'm ok, you shouldn't take it.

ihihih ok

hihihi ok!

[2020-11-06 09:45] rickoneeleven commented on #48
@firetrappe it's what I do best :laughing:

[2020-11-06 10:35] rickoneeleven commented on #13
right then amigo, test ran for 1:25 without any stops, i gracefully ended the program at the end.

i think i've done it wrong though, i didn't start my econnect test until 08:53ish and there doesn't seem to be much data for that, have a peek at attached, but i may need to rerun as i think ive done something wrong

https://pinescore.com/111/BUG_REPORT.zip

[2020-11-06 10:45] cagnulein commented on #13
@rickoneeleven is there only this file inside? there is no .log file or bluetooth dir?

[2020-11-06 10:46] cagnulein commented on #13
@rickoneeleven you should find something like this https://github.com/cagnulein/qdomyos-zwift/files/5486989/btsnoop_hci.log

[2020-11-06 10:47] cagnulein commented on #50
@rickoneeleven btw is this site https://pinescore.com/ yours?

[2020-11-06 10:59] rickoneeleven commented on #13
maybe here, not in a format I can view:

[btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5500841/btsnoop_hci.log)
[btsnoop_hci.last.log](https://github.com/cagnulein/qdomyos-zwift/files/5500843/btsnoop_hci.last.log)

again, focus on from 08:53, and it runs for an hour and 25 minutes - is the data there?

[2020-11-06 11:41] cagnulein commented on #13
@rickoneeleven yes there are a lot of data, i will play with them this afternoon. buon pranzo :)

[2020-11-06 12:57] cagnulein commented on #13
ok @rickoneeleven , i didn't find something really different from what i did, anyway there are some bytes that differs from my implementation and i tried to change it as your snoop logs show.

I also add a "-no-console" option that disable the console refresh on the treadmill.

So, first of all, try without "-no-console". I would like to see if those bytes make some difference.
If it hangs again,

[2020-11-06 13:00] rickoneeleven commented on #13
will do, I'm in the position where I may be able to return this treadmill for one reason or another, and quite honestly I think I'm hanging the decision on if we can get this working. so fingers crossed, if we get stuck do you recommend the intense run treadmill instead?

[2020-11-06 13:12] cagnulein commented on #13
the intense run works flawlessy. the last week i did a 1h40m session without any issue. how old is it? 1 year?

[2020-11-06 13:14] rickoneeleven commented on #13
just under 1 year

first test crash:
[debug-Fri Nov 6 13_04_58 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5501389/debug-Fri.Nov.6.13_04_58.2020.log)

trying now with -no-console

[2020-11-06 13:15] rickoneeleven commented on #13
-no-console - the display is still updating?

[2020-11-06 13:17] cagnulein commented on #13
the display on the treadmill no, it shouldn't.

[2020-11-06 13:18] rickoneeleven commented on #13
yeah but it is updating :D

[2020-11-06 13:18] cagnulein commented on #13
did you pulled and make it correctly?

[2020-11-06 13:20] rickoneeleven commented on #13
git pull
qmake
make -j4
cd src
./qdomyos-zwift -no-console

[2020-11-06 13:21] rickoneeleven commented on #13
i'll do a clean clone soon

[2020-11-06 13:22] rickoneeleven commented on #13
in the mean time, can you see if you can get 2+ hours on your treadmil, even if it's just rolling slowly for the test in the background? would love to know before i consider if i'm going to try and box mine back up 😆

[2020-11-06 13:27] rickoneeleven commented on #13
sorry for all the updates - i was actually on the treadmill last time it crashed, and the display stopped updating WHEN the program starting spitting out connection errors, so you get about 60 seconds of the treadmill still at speed, while it's trying to reconnect - that could actually work out perfect for the program restarting, and reconnecting with previous settings, as it means the treadmill w

[2020-11-06 13:27] cagnulein commented on #13
ok i will do this weekend, i'm in the office now. Another idea: do you have a mac? you could try to run the app on the mac instead of the raspberry..maybe your rasp has some issue...

[2020-11-06 13:29] rickoneeleven commented on #13
i do not, i do have windows - think i saw a post about running it via a VM, hmmm ill have a think

[2020-11-06 13:29] cagnulein commented on #13
yes i could do. But i understood that we would like to give a last shot with this commit...

[2020-11-06 13:30] cagnulein commented on #13
ok windows is okay too, maybe even better with the VM.

[2020-11-06 13:33] cagnulein commented on #13
how many days do you have before the end of the decathlon-year @rickoneeleven ?

[2020-11-06 13:34] rickoneeleven commented on #13
few weeks 👍

[2020-11-06 13:37] rickoneeleven commented on #13
just tried a fresh clone with -no-console

still udates 😄

[2020-11-06 13:44] cagnulein commented on #13
@rickoneeleven now the console is dead as it should be?

[2020-11-06 13:45] rickoneeleven commented on #13
No still updating

[2020-11-06 13:49] cagnulein commented on #13
no wait, there is something wrong. are you sure about

./qdomyos-zwift -no-console

?

[2020-11-06 13:58] rickoneeleven commented on #13
i promise https://photos.app.goo.gl/jgji8Xrg3gcsypJU7

[2020-11-06 13:59] rickoneeleven commented on #13
oooops wrong video, here you go https://photos.app.goo.gl/y57wrxU1GvHxises8

[2020-11-06 14:03] cagnulein commented on #13
maybe your treadmill has a different behaviour. the intense run, if i don't send the display packet i will never update the display :O

[2020-11-06 14:04] rickoneeleven commented on #13
:sob:

[2020-11-06 14:05] rickoneeleven commented on #13
when we did the delay yesterday, that did slow it down, maybe we should delay it for 3 hours :laughing:

[2020-11-06 14:46] firetrappe commented on #48
@cagnulein Ok, lets try this again!

Econnected Snoop: [econnected v2 btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5501784/econnected.v2.btsnoop_hci.log)

Kinomap Snoop: [Kinomap v2 btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5501785/Kinomap.v2.btsnoop_hci.log)

Both sessions were similar; Open app, pedal to power on bike, connect to app, pedal slowly inc

[2020-11-06 15:05] cagnulein commented on #48
@firetrappe ok, i followed the kinomap snoop as is. it's very simple, much simple than before. if it doesn't work, i will start looking for another job 🤣

please pull it, compile it, and check the display. send me the log in case it doesn't work

[2020-11-06 15:25] firetrappe commented on #48
@cagnulein Please don't look for another job 😢

[debug-Fri Nov 6 15-10-36 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5501940/debug-Fri.Nov.6.15-10-36.2020.log)

The new pull compiled and executed without any issues. The display had the usual reaction.
I opened Zwift on my Pixel and the bike wasn't detected. Then about 30 seconds later the console display changed to this :

![PXL_20

[2020-11-06 15:28] cagnulein commented on #48
Ok it's a good sign! Now I'm out with my dog, I will check it later. For zwift, did you try to restart the bridge?
Another device?

[2020-11-06 15:30] rickoneeleven commented on #39
add to instructions you need extension pack from https://www.virtualbox.org/wiki/Downloads as per
![VirtualBox_jh9vdPVDXk](https://user-images.githubusercontent.com/8156878/98383850-ecf0c880-2044-11eb-8f25-70732d68d98d.png)

[2020-11-06 15:34] firetrappe commented on #48
@cagnulein I'll reboot the bridge and then test with iP**

Enjoy your walk 🐶

[2020-11-06 15:35] cagnulein commented on #48
Don't reboot, just restart my script. It's different

[2020-11-06 15:37] cagnulein commented on #13
Is it still running?

[2020-11-06 15:39] rickoneeleven commented on #13
no it crashed pretty much straight away, before even 10 minutes. i wasn't sure you'd still want the logs 😆

but like I said, the console was still updating, so it hadn't taken that setting

anyway - i've just setup your VM version running on windows virtualbox, that's connected and i've just started it off only a minute or so ago

[2020-11-06 15:53] firetrappe commented on #48
@cagnulein I restarted the script. The console reacted as before. Loaded Zwift on the iPad and it automatically detected the bridge. While pedalling all fields remained at zero though:

![IMG_0329 (Phone)](https://user-images.githubusercontent.com/66125348/98385992-933dcd80-2047-11eb-9674-2fcf4d38edac.PNG)

I disabled bt on iPad, stopped and restarted your script, opened Zwift on the Pixel but it

[2020-11-06 16:30] jameshindle1972 commented on #2
Hi, sorry for not getting back sooner, work has got in the way of fun 👎

I think development through a rasberry would open up your project, the Zero is very cheap and can be easily setup to start / shutdown so no need for keyboards / screens etc, it would just sit there and merrily 'make it happen'.  I'm not a programmer, just an enthusiast and like tinkering to get things to work, i'm happy to he

[2020-11-06 16:36] rickoneeleven commented on #13
okay so............. we've been running on the virtualbox version for an hour and so far.... so good.....

[2020-11-06 16:48] cagnulein commented on #13
@rickoneeleven huge news, which power supply use for the raspberry?

I'm starting for a 2h session with me on the treadmill. If you want you could follow me on zwift

[2020-11-06 16:52] rickoneeleven commented on #13
It's a raspberry pi specific one, let's see what happens. If my treddy hits two hours with the virtual box, I'll be ecstatic :smile:

[2020-11-06 17:31] rickoneeleven commented on #13
okay so.............. still running!!! got some weird things on treadmill display, like it saying the time is 99:99 and the inclination on the screen and treadmill doesn't match up but... i don't really care! that fact it's still connected is fantastic https://photos.app.goo.gl/FVjoVpD9kXicf5GQA <--- video

and this is what was powering my pi, but i've turned that off now, ill just use a VM!

![PX

[2020-11-06 17:55] rickoneeleven commented on #13
awww man this shit's getting too funny now - so i decided i trusted it enough to come out for a run on the virtual box version.... and it won't show up in zwift 😆

so i tried to clone the latest version inside the vm but get permission denied, this shit's too funny

[2020-11-06 19:12] cagnulein commented on #13
I didn't tried the bridge inside the VM but it should work. - Did you try to restart it?
Permission denied because you need to run

sudo git pull
And
sudo git make

:)

[2020-11-06 19:14] rickoneeleven commented on #13
Yeah I tried to restart it but still didn't connect.

I've started installing debian on a laptop now to see if I can get it working on that, I should be able to I think?

If it fails, I'll try sudo on the virtualbox

[2020-11-06 19:14] cagnulein commented on #44
![strava8375336006001527622.jpg](https://user-images.githubusercontent.com/48216/98405387-7bc50b80-206c-11eb-850a-a46a54b98660.jpg)

@rickoneeleven is it enough for you? :D

[2020-11-06 19:15] rickoneeleven commented on #44
Wow beautiful man!

[2020-11-06 19:27] cagnulein commented on #13
Yes it should definitely works

[2020-11-06 20:36] rickoneeleven commented on #13
i'm even more confused now, on both the virtualbox from earlier, and my brand new debian 10 build, they both connect to treadmill and the connection so far looks good (one at a time obviously, the virtualbox is turned off now), but niether see my iPad, the iPad that was working fine on the bridge on the rasberry pi 😖

ill see if i can get logs later or tomorrow, i feel worn out

[2020-11-06 20:46] cagnulein commented on #13
Tomorrow I will test my window 10 notebook and I'll give you a feedback. Maybe something with the dongle bluetooth. Not every bluetooth dongle act as central and peripheral at the same time.

[2020-11-06 21:02] rickoneeleven commented on #13
here are most recent logs anyway

debian connecting to treadmill, seems okay
no zwift connection

[debug-Fri Nov 6 20:58:34 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5503500/debug-Fri.Nov.6.20.58.34.2020.log)

[2020-11-06 21:09] cagnulein commented on #13
Sadly on the zwift side there aren't any logs relevant. Did you try nrf connect on your phone?

[2020-11-06 21:13] rickoneeleven commented on #13
i turned the pi back on, fired up your program and straight away the bridge was showing on ipad.

matched the exact commit on both debian laptop and pi, ran make but still on the laptop, no zwift bridge

just looking at nrf connect now, downloading it

[2020-11-06 21:18] cagnulein commented on #13
I'm almost sure that is a limit of your Bluetooth adapter on your notebook. Do a lspci or lsusb and give me the details of your Bluetooth adapter on your notebook.

In the meanwhile, try to find a new raspberry, maybe a 0w and a new power supply :P

[2020-11-06 21:23] cagnulein commented on #48
If nrf connects detect it it's very strange. Seems a filter on services on zwift side.
But I can't understand why it happens only to someone.
Could you try to connect with nrfconnect and send me a snapshot of the services from the Pixel?

[2020-11-06 21:51] firetrappe commented on #48
@cagnulein I don't understand it either 😞

I just powered on the bike and then started the bridge again on the pi.
nRF scans and shows the bike until the bridge connects. As soon at the bridge connects I get this:

![PXL_20201106_214213744 (Phone)](https://user-images.githubusercontent.com/66125348/98418009-ed578680-2079-11eb-9586-90ff04ce98ae.jpg)

And then neither show on nRF:

![Screenshot_2020

[2020-11-06 21:56] kenands commented on #22
@cagnulein here are today's logs :smile:
[debug-ven. nov. 6 21:58:18 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5503637/debug-ven.nov.6.21.58.18.2020.log)
[debug-ven. nov. 6 22:00:22 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5503638/debug-ven.nov.6.22.00.22.2020.log)
[debug-ven. nov. 6 22:02:25 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5503639/debu

[2020-11-06 21:58] rickoneeleven commented on #13
May look into a new pi, in regards to the laptops I tried two different ones.

Dell E5550 with virtual box, great treadmill connection, no bridge

IBM X230 for debian, same issue, good treadmill, no bridge.

[2020-11-06 22:08] firetrappe commented on #48
It's crazy that I had a perfect session on my first attempt 5 days ago:
https://github.com/cagnulein/qdomyos-zwift/issues/22#issuecomment-720365510

Every session since then it has failed 😢

[2020-11-07 04:01] cagnulein commented on #22
@kenands i theorically fixed all of them now. resistance from zwift it's still a work in progress, but i made a step on every log you submit!

thanks for your time

[2020-11-07 04:04] cagnulein commented on #48
oh! i didn't remember! i have a deal for you: why don't you checkout that commit, check if everything works again, and commit after commit, you will try when error appears? i guess it's only effective way.

[2020-11-07 04:54] cagnulein commented on #13
@rickoneeleven i added an option called -only-virtualtreadmill that brings up only the interface to zwift. on my VM works, i would like to know if it does to you too.

when my GF will wake up, i will start a full test on VM (this morning i woke up at 4:30 AM for no reason :D )

@Martoni74 do you still alive? This is your issue! 😆

[2020-11-07 04:55] cagnulein commented on #39
done

[2020-11-07 06:37] rickoneeleven commented on #13
a new day, new hope my friend

or as my wife would say "ryan, stop fucking about with that treadmill!"

right, so i've got a few things to play with today, as it happens i already own another pi, think it's the same model, but at least it's different hardware in case my other one has fault, and different power supply. first i'll try -only-virtualtreadmill with debian laptop and see where we are.

[2020-11-07 06:58] rickoneeleven commented on #13
so with new parameter
![Screenshot from 2020-11-07 06-57-34](https://user-images.githubusercontent.com/8156878/98434332-9330e280-20c6-11eb-8a67-0e4d0204c668.png)

[2020-11-07 07:38] rickoneeleven commented on #13
i've just checked to see what my second pi is and they're both the same "Raspberry Pi 3 Model B Rev 1.2", so i'm not sure i'm going to test on the second one as I don't really believe there is anything wrong with the first. and the second one is doing a very important and specific job for me, so don't want to have to play with it if I don't need to.

maybe i'll wait until you've tried your windows

[2020-11-07 07:43] cagnulein commented on #13
So it's definitely a dongle issue

[2020-11-07 07:45] rickoneeleven commented on #13
it's not a dongle, it's built into the laptop but yeah i guess so :cry:

no fix?

[2020-11-07 08:07] rickoneeleven commented on #13
right okay my bad, so after pulling your latest release i didn't reboot, after reboot with -only-virtualtreadmill  it does connect to zwift

if i then keep the treadmill turned OFF, and run /qdomyos-zwift -no-gui
it then still won't connect to zwift, even though treadmill is turned off?

if I run -only-virtualtreadmill again without reboot, it connects back to zwift

[2020-11-07 08:12] rickoneeleven commented on #13
this video explains above https://photos.app.goo.gl/Ei1RqByTojVHEuqN6

[2020-11-07 08:18] cagnulein commented on #13
Today I have some family stuff to do, so I'm quite busy. Tell me the vendor id and product is of your bluetooth card.

The reboot is strange, it wouldn't be necessary, so it's a way to investigate

[2020-11-07 08:21] rickoneeleven commented on #13
is this helpful?

lsusb -v

[blue.txt](https://github.com/cagnulein/qdomyos-zwift/files/5504478/blue.txt)

[2020-11-07 08:35] cagnulein commented on #13
Yes

Bus 001 Device 003: ID 0a5c:21e6 Broadcom Corp. BCM20702 Bluetooth 4.0 [ThinkPad]
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass          255 Vendor Specific Class
  bDeviceSubClass         1
  bDeviceProtocol         1
  bMaxPacketSize0        64
  idVendor           0x0a5c Broadcom Corp.
  idProduct          0x21e6 BCM20

[2020-11-07 08:40] rickoneeleven commented on #13
thought i'd fixed it, i disabled the bluetooth in my laptop chipset. confimred it was off. put a dongle into my laptop, confirmed that was working, but have same issue with dongle

it will connect to zwift in with virtual treadmill only, but if i run the normal program, it won't show in zwift, maybe my dongle too has the same issue

[2020-11-07 08:55] rickoneeleven commented on #13
and for my final trick, i disabled the bluetooth inbuilt on the PI, added the dongle and it would only connect to treadmill, no zwift

so it seems to me the code is only written for some kinda of native rasberry pi bluetooth (driver?) to connect to zwift, other devices, laptops and dongles will not connect to zwift

[2020-11-07 09:12] cagnulein commented on #13
Qt should run with every driver, so, in case, it just a matter of dongle capability.

I saw you on zwift, does it running now?

[2020-11-07 09:15] rickoneeleven commented on #13
lol, in my last post when i said my final trick... i lied 😆

my final trick was to actually take the power supply from my second pi and switch it around with treadmill pi. last ditch attempt, i don't think it's going to change anything.

so it's treadmill pi, with bluetooth reverted back to the onboard version, connected to my treadmill and zwift, i expect to get anything from 10 minutes, to 1:30'

[2020-11-07 09:16] kenands commented on #22
@cagnulein it's a good new :D

I did a few minutes session:

- speed is ok (it's speed of the bike and not speed on zwift, but it's ok for me, in this way, I have the 2 values)
- distance is nearly ok, it's display just km and not meter (ex: until I reached 1km, it displayed 0.0 and when I reached 1km it displayed 1.0 until I reached 2 km)
- power works in all resistance values, but I will take a

[2020-11-07 09:21] rickoneeleven commented on #13
sadly treadmill has already stopped, so wasn't the power supply

[2020-11-07 10:02] rickoneeleven commented on #13
@cagnulein does the bridge to zwift work for you in virtualbox?

[2020-11-07 10:38] cagnulein commented on #13
@rickoneeleven I will be at home this afternoon, sorry

[2020-11-07 10:54] czuczorf commented on #46
@kenands Nice setup! Sorry to ask it here, I am thinking about to buy Domyos 500 as a hobby cyclist (3-4000km-40000elevation/year) for the winter months. What do you think, is this device capable to keep me fit, and also increase my power?

I've seen there is a direct? bridge through PC (ProH4Ck/treadmill-bridge), is there a real need for Raspberry?
Thanks!

Hopefully soon I can also post photos h

[2020-11-07 12:07] cagnulein commented on #48
@firetrappe if you want there is a useful command on git, called git bisect

[2020-11-07 12:46] cagnulein commented on #46
@czuczorf all bridges, (ProH4Ck/treadmill-bridge) and qdomyos-zwift, need 2 devices: 1 for the bridge and 1 for zwift.
Qdomyos-zwift can run on raspberry (all Linux devices), pc or Mac. I will release an android version too.
So we will waiting for you in our beautiful debug team :D

[2020-11-07 12:50] firetrappe commented on #48
Ok, I did the following:

`git checkout 209da708c9833f25207d8252b6ce14ef4606c782`
`cd src`
`qmake`
`make -j4`

This commit worked first time - as before 🎉
The bluetooth settings on the iPad showed the bridge as an available device.
Starting Zwift on the iPad I had a popup asking me to connect/pair.

The bike console populated with data, but none of the fields updated in realtime:

![PXL_20201107_1

[2020-11-07 13:22] czuczorf commented on #46
@cagnulein Thanks, I see! Android would be nice, so my phone can be the bridge and the PC can play the Zwift app.
Is there a two directional communication/controll, I mean if there is a hill in strava will be the pedal harder to push?

[2020-11-07 13:24] kenands commented on #46
@czuczorf thanks 😄
For me domyos bike 500 it's a good indoor bike,
it's quite and confortable.
But the position and feeling it's not really as a real bike or a spinning bike, for exemple you can not train standing on the pedals.
But i think it's enough to keep fit and increase power mostly with training programs on zwift.
And thanks to @cagnulein nearly all features work with zwift 😄 and soon all

[2020-11-07 13:24] cagnulein commented on #48
i've already fix this issue in the next commits. but we have to focus on an issue at a time. try to discover which is the commit that break everything. When we will have understood which is the root issue, we will fix zwift issue too.

[2020-11-07 13:25] cagnulein commented on #13
@rickoneeleven take some popcorns and watch https://www.youtube.com/watch?v=gaB2eUHPIm8

[2020-11-07 13:27] cagnulein commented on #46
now is monodirectional, but i'm adding the writing of resistance from zwift. it just matters of days

[2020-11-07 13:33] cagnulein commented on #51
@czuczorf i will write here when i'm ready for an alpha version

[2020-11-07 13:37] rickoneeleven commented on #13
Thank you so much.

So laptop 1 ran virtual box - 7 year old laptop
Laptop 2 ran Debian - 6 year old laptop

I have a 3rd laptop! Bought this year, I’ll now try this with virtual box, now many confidence is back, give me a few hours 💕

[2020-11-07 14:18] firetrappe commented on #48
Thanks for your continued help. I will test some more.

I'm not sure how to get back to the latest version now. Now I have used `checkout` I get a message telling me to 'specify which branch you want to merge with'

[2020-11-07 14:40] rickoneeleven commented on #48
@firetrappe

Checkout master
Git pull
Qmake
Make - j4

To get back to latest

[2020-11-07 14:50] cagnulein commented on #48
@firetrappe try to run the next one instead of the lastest and so on

[2020-11-07 15:17] rickoneeleven commented on #13
3rd laptop with virtualbox https://photos.app.goo.gl/JzfQoCruVtnwFv6r9

😆

[2020-11-07 15:41] cagnulein commented on #13
Nrf connect doesn't work either?

[2020-11-07 15:55] rickoneeleven commented on #13
I don't exactly understand how to use that. I've ordered a pi 0w now, it doesn't take much to justify more hardware in this household :ehehehhehe

I may play with nrf later

[2020-11-07 16:06] cagnulein commented on #13
Do you want another video with an excellent Oxford english? :D

[2020-11-07 16:07] cagnulein commented on #13
Hah stupid question: your raspberry is fully upgraded? I mean apt update
Apt upgrade

[2020-11-07 16:09] rickoneeleven commented on #13
Yeah if you could do me a little nrf video that will be enough to encourage me to give it a go :smile:

Yeah pi is up2date, virtualbox wasn't, I just ran it as it came

[2020-11-07 16:20] cagnulein commented on #13
If you look at my previous video, you should enough info for run nrf. Replay it, and enjoy my accent :D

[2020-11-07 16:44] czuczorf commented on #46
@cagnulein @kenands Thank you guys for your kind help! This looks really promising and adds a huge amount of extra to Domyos devices! Keep up the good work! Of course, I will help you debug!
Now I have to go to the Decathlon ;-)

[2020-11-07 17:59] cagnulein commented on #22
@kenands i was looking the log, does it possible that you encounter a grade of inclination of max 3,9% during that session?

[2020-11-07 18:16] cagnulein commented on #22
@kenands try my last commit. i fixed the distance issue and i try to set resistance to the values that i received from zwift. finger crossed!

if you have any hint on the power, please tell me or directly do a pull request

[2020-11-07 19:36] kenands commented on #22
No, if I remember correctly, I reached nearly 10%.

Ok I will try this night :)

No problem :)

[2020-11-07 19:37] cagnulein commented on #48
Uh ok @firetrappe i will investigate it, I hope it will do with the treadmill too

[2020-11-07 19:55] cagnulein commented on #48
@firetrappe you were right, I applied only to treadmill 27f207b022acec6fb8abb6c9cd7d1b3808460df3

[2020-11-07 20:24] firetrappe commented on #48
Great, thanks!

I have just checked out `209da70` again (the original one that worked this morning too) just to test before I move to other commits. I can't get it to work. Should I look at older or newer commits? I'm not sure what I should be doing now :/

[debug-Sat Nov 7 20-19-11 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5505380/debug-Sat.Nov.7.20-19-11.2020.log)

[2020-11-07 20:25] rickoneeleven commented on #48
After a seg fault I always had to reboot

[2020-11-07 20:26] firetrappe commented on #48
Ok ok, i'll try that, thanks! 👍 thumb:

[2020-11-07 20:28] cagnulein commented on #48
I didn't apply to bike yet, I will do it tomorrow. Have a good night

[2020-11-08 01:00] kenands commented on #22
@cagnulein nearly perfect :+1:

- Everything works correctly on bike console
- Now zwift control resistance of the bike :smile: Zwift can up and down the resistance level.
- At 8% inclination on zwift, bike resistance level was about 4 on 15 (max level), it need to be adjusted

For the power, i did my first pull request :) hope I did it in correct way

[2020-11-08 05:21] cagnulein commented on #48
ok @firetrappe did it. you could try

[2020-11-08 05:26] cagnulein commented on #22
@kenands wow! awesome! i use the grade of inclination as resistance level. Can you send me the log?

[2020-11-08 05:39] cagnulein commented on #13
@rickoneeleven a new day on the TM valley! do you have any news? or you just put yourself on the sofa waiting for the 0w?

[2020-11-08 06:17] rickoneeleven commented on #13
you caught me 😆

that's exactly what I did, but I'll have a go with nrf this morning, can't promise how helpful i'll be but i'll give it a try, standby 🚀

[2020-11-08 08:19] rickoneeleven commented on #13
i can't even identify whuch device the VM is, never mind move into step 2 😆

https://photos.app.goo.gl/Rbj9G8MewxByUUvb8

[2020-11-08 08:31] kenands commented on #22
@cagnulein oups, I fogort.
Here is the log:
[debug-dim. nov. 8 00:38:07 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5506017/debug-dim.nov.8.00.38.07.2020.log)

thanks

[2020-11-08 08:48] cagnulein commented on #13
Ok so your bluetooth card is definitely incompatible. I'm sorry

[2020-11-08 09:14] rickoneeleven commented on #13
Okay thanks for letting me know, pi 0w will be here in a few days :excited:

[2020-11-08 10:05] firetrappe commented on #48
Good morning!

I just tested the latest commit. No Seg Fault. Great! That makes life so much easier, especially with autostart 🥳
I kept the bridge running and let the bike power off, then pedalled the bike to power it on the bridge detects it again.

[2020-11-08 10:50] cagnulein commented on #48
Awesome! @firetrappe remember, when you will have time, to bisect the commits in order to understand if I had introduced some issue in times. Thanks

[2020-11-08 11:25] firetrappe commented on #48
@cagnulein I will research how to use the `bisect` command.

I think with the latest commit my autostart isn't working as it should. CTRL+C closes the terminal now and doesn't create a log. I will have to stop using it for now.

The current situation using nRF to monitor connections is as follows-
Bike is detected when powered on.
Bike disappears and Domyos Bridge appears when the bridge detects t

[2020-11-08 11:30] cagnulein commented on #48
@firetrappe by chance your issue is similar to this https://youtu.be/gaB2eUHPIm8 ? Check the part of the video when the icon says "nessun segnale" (no signal)

[2020-11-08 12:39] firetrappe commented on #48
@cagnulein Great video! You have very good English 👍

I think my issue is different. Here's a video showing what is happening at the moment. Maybe you can spot something that I am doing wrong?

https://youtu.be/ckWsc2BW6W4

[2020-11-08 13:00] cagnulein commented on #48
I guess something is trying to connect with the bridge, is why it disappears. I will add some debug print to understand it. Does it happens the same even with your bluetooth iPad off?

[2020-11-08 13:09] firetrappe commented on #48
Thank you so much for investigating.

I just tested again with the iPad in airplane mode with bluetooth off. The bridge still disappears.

[2020-11-08 13:21] cagnulein commented on #48
@firetrappe in the meanwhile could you please try to add the parameter -only-virtualbike ?

[2020-11-08 13:41] firetrappe commented on #48
@cagnulein I just tested that. The bridge shows up in nRF continuously until I reboot the Pi

[2020-11-08 13:45] cagnulein commented on #48
So Is a issue when the bluetooth adaptor acts as central - and peripheral at the same time. Do you have a rasp 3b isn't it? The same model of @rickoneeleven
But you said also that the old commit works so it can't be an hardware issue.

So, we're back to the old question: bisect! :D

[2020-11-08 14:01] firetrappe commented on #48
Yeah, 3b.

The old commit worked twice, even though I must have tested it 50 times. It seems like if the timing of the connections isn't perfect then it doesn't work.

[2020-11-08 14:18] bvalat commented on #48
It seems that i have same bike/console as firetrappe.
If needed i can do some test.

[2020-11-08 14:26] cagnulein commented on #48
There is a 100,100 on the code of the virtual bike. They're the milliseconds of advertising. Try to change them, for example, 1000,1000 and check if something change.

[2020-11-08 14:26] cagnulein commented on #48
Welcome aboard! Yeah absolutely! If you can do a quick test...

[2020-11-08 19:01] cagnulein commented on #48
@firetrappe as i promised i added a new debug log system with this commit https://github.com/cagnulein/qdomyos-zwift/commit/79f8942b06eb0a531f763fb2d283a24ea06cb4da
I hope that doesn't brake anything.

i should get more info about zwift issue.
Tomorrow will be an hard day, but the day after tomorrow i could check the logs that you will post :)

[2020-11-08 19:05] firetrappe commented on #48
@cagnulein Thanks for that suggestion. I tested with 1000,1000 and even 10000,10000. nRF detected the bridge for both attempts, although the 10000,10000 was very slow to detect, obviously.

[2020-11-08 19:06] firetrappe commented on #48
@bvalat Brilliant! Thank you for joining. I am glad I am not the only one in the world with a different console 😄

[2020-11-08 19:09] firetrappe commented on #48
Great, thank you for all your efforts. We will crack this thing!
I will checkout the new commit and hopefully the logs will show you something. 🤞

[2020-11-08 19:13] cagnulein commented on #48
You mean that parameter improve the bridge connection? So maybe this is the root cause of the problem? Do I should re-put this value to default (1000, 1000)?

[2020-11-08 19:18] firetrappe commented on #48
Sorry, I only tested with -only-virtualbike
I will change to 1000,1000 and test with the bike.

[2020-11-08 19:19] cagnulein commented on #48
Ok, I'm really curious

[2020-11-08 19:22] firetrappe commented on #48
Here's a log file from your latest commit:
[debug-Sun Nov 8 19_19_38 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5507019/debug-Sun.Nov.8.19_19_38.2020.log)

Now I will change the .cpp file to 1000,1000 and test.

[2020-11-08 19:28] firetrappe commented on #48
I get the same result with 1000,1000 unfortunately. Bridge disappears.

Here's the log file for that session, just in case it's helpful:
[debug-Sun Nov 8 19_24_43 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5507025/debug-Sun.Nov.8.19_24_43.2020.log)

[2020-11-08 19:34] cagnulein commented on #48
Ok, if you haven't time to do a git bisect, do it manually, checking out commit by commit. It might be easier for you

I hope @bvalat has a different behavior so we can compare them

[2020-11-08 19:38] firetrappe commented on #48
Ok, I have a busy day tomorrow too, but I will see what I can do.
Do you recommend I start from the original commit I used, or start further back with an even older one?

I'm really looking forward to hearing how @bvalat gets on too.

[2020-11-08 19:51] cagnulein commented on #48
Start from the original commit that you used in the past and that worked

[2020-11-08 20:02] rickoneeleven commented on #48
If i understood firetrap correctly, and I may have not. Even the one that "worked" only did so two in fifty times, so there may have never been a "stable"

[2020-11-08 20:07] cagnulein commented on #48
Yes I understood it too, but 2 times it's better than nothing. I guess this is a typical scenario where you have more than one issue and it's a really nightmare to debug them. So I would like to understand one thing at a time.

Of course it's not so simple because I can't test it directly :(

[2020-11-08 20:13] firetrappe commented on #48
It's all good. I think I have figured out how bisect works. It shouldn't take too long to test. They may all fail, but we won't know until we try.

[2020-11-08 20:19] cagnulein commented on #48
Of course, remberber at every bisect to run a make ;)

[2020-11-08 21:34] alpat59 commented on #22
Hi @cagnulein .. I resumed my test. I lost many commits and so I started formate last one...
During my previous tests some days ago, the bridge works well in terms of bike connection and zwift, reporting on zwift correct values about cadence, watt, speed, ... The only problem was the connection from zwift to bridge/byke in terms of resistance... not still enabled.
Testing just un hour ago, I found

[2020-11-08 22:11] alpat59 commented on #22
tested commit 3fde43 . It works well (some problem at zwift connection .. I needed to retry some times). Apparently no resistance changes. Cadence perfect in synch with bike display. I'm not able to evaluate speed values but they seem realistic and in some way proportional to the arm in cadence...

[2020-11-09 07:00] cagnulein commented on #22
here the bike sent invalid resistance value, i don't know why, but it's the bike itself that it was sending wrong :( Anyway i added a check to invalid strange resistance values.
Thanks for reporting

[2020-11-09 07:02] cagnulein commented on #22
resistance doesn't change because zwift, in the logs, send always value near to 1% grade in that session. i have to understand what zwift needs to improve this control

[2020-11-09 07:15] cagnulein commented on #22
@alpat59 @kenands i added another piece to the chain of the zwift controlled resistance. Please try. Send me the log, i guess we will see different thing. @kenands do you see strange thing too as @alpat59 on the last commits? i tried my treadmill with a virtual box and it works ok

[2020-11-09 07:22] cagnulein commented on #22
can you send me the log when the connection doesn't work? of course with the last commit, the new log system should improve a lot my possibility to understand the issue

[2020-11-09 08:07] kenands commented on #22
@cagnulein hi, I didn't see any strange thing in last commits I tried, I don't try the last one yet.

I did my first session on zwift with my treadmill and it's awesome 😄

[2020-11-09 08:13] cagnulein commented on #22
@kenands good!

worked without issues? we have to run together one of these days :P

[2020-11-09 08:22] cagnulein commented on #51
@czuczorf first boot on android without changing a line of code :P

![Immagine](https://user-images.githubusercontent.com/48216/98516584-fceaf100-226c-11eb-942c-c871f9b324da.png)

[2020-11-09 08:26] cagnulein commented on #51
@rickoneeleven do you wanna try android version too? in italy we say "we did 30, do 31!"

[2020-11-09 08:27] rickoneeleven commented on #51
yeah, how? :smile:

i'm in the office today, so will have to be tonight.

[2020-11-09 08:30] kenands commented on #22
@cagnulein just a little issue but I don't know if relatad to your app, distance and time falled to 0 on treadmill console 35 minutes after the start, but there wasn't issue in communication between zwift and the treadmill.

with pleasure :D

[2020-11-09 08:33] cagnulein commented on #22
if you will see it again, send me the full log. i will try to understand. thanks

[2020-11-09 08:34] czuczorf commented on #51
Wow, that was quick! ;-) Oh how much do I hate those different type of screen aspect ratios.. ;-) Btw. Domyos bike is currently out of stock here in Hungary :-(

[2020-11-09 08:37] cagnulein commented on #51
@rickoneeleven install the apk and pray (i just installed it on my phone, but i'm at work too, so i've not tested to TM yet)

@czuczorf nooo checkout how did i buy my TM https://robertoviola.cloud/2020/09/07/quando-un-nerd-vuole-un-tapis-roulant/ (translate it ofc)

[android-build-debug.zip](https://github.com/cagnulein/qdomyos-zwift/files/5509057/android-build-debug.zip)

[2020-11-09 08:40] rickoneeleven commented on #51
haha omg i absolutely love that little hack to track when treadmill comes back in stock :laughing:

[2020-11-09 09:04] bonovoxpride opened #53 "SynchronAction XT900"

[2020-11-09 09:06] cagnulein commented on #53
@bonovoxpride welcome aboard!

In order to manage your TM you need to follow these steps:

1. you need to become developer on your phone https://wccftech.com/how-to/how-to-enable-developer-options-on-android-10-tutorial/
2. Go to Settings
3. Go into developer options
4. Enable the option Enable Bluetooth HCI snoop log
5. restart your phone
6. open the TRX app and play with it collecting inclinatio

[2020-11-09 09:26] bonovoxpride commented on #53
arrivato al punto 5, ora l'app TRX cos è?

[2020-11-09 09:49] cagnulein commented on #53
scusami errore di copia incolla, TRX è l'app che usi sul telefono normalmente per vedere il tuo tapis.

Let's back to english now ;)

[2020-11-09 10:38] drainuzzo commented on #32
Hello @cagnulein

Today I noticed that program worked only without sudo and if I set a velocity greater than 9.9 the values of the speed reported on the program is  0 (my TR goes up to 20.0)

Then I'm sure velocity set to 10.0 is faster than pace 6.0/km but I don't know how it can be calculated to be more accurate for my TR

Later I will try cardio and Zwift

[2020-11-09 10:41] rickoneeleven commented on #32
without sudo.... I always run with sudo, wonder if it would make a difference

@drainuzzo when you say the program didn't work with sudo - what doesn't work about it - just doesn't launch or..?

[2020-11-09 10:44] cagnulein commented on #32
@drainuzzo could you please send me the log about the speed issue? i think it just a stupid thing :)

[2020-11-09 10:50] cagnulein commented on #51
guys i hide some UI components just to have a "usable" interface, i will be at home for lunch and i will test it, just to see if the connection with my TM works
[android-build-debug.zip](https://github.com/cagnulein/qdomyos-zwift/files/5509864/android-build-debug.zip)

[2020-11-09 10:59] firetrappe commented on #51
Nice! Much cleaner than the original screen :+1:

[2020-11-09 11:01] drainuzzo commented on #32
Attached the logs

the program started with sudo but crashed after some seconds...
[debug-TR-AppGate-3.tar.gz](https://github.com/cagnulein/qdomyos-zwift/files/5509943/debug-TR-AppGate-3.tar.gz)

[2020-11-09 11:07] bonovoxpride commented on #53
ok, then I have to use the tablet. I update you thanks

[2020-11-09 11:08] cagnulein commented on #32
@drainuzzo thanks, i fixed the speed issue, at least i guess i did (check the last commit) :D i saw the max speed on the log was 10.1 (but i displayed to 9.9 and then 0.0)

[2020-11-09 11:09] rickoneeleven commented on #13
![mstsc_ZVy725TqPK](https://user-images.githubusercontent.com/8156878/98534222-0af43e00-227c-11eb-874c-0aee71e27470.png)

[2020-11-09 11:10] cagnulein commented on #32
do you have a log of that crash?

[2020-11-09 11:15] czuczorf commented on #51
Meanwhile in Hungary.. ;-) Thanks for the stock check idea @cagnulein
![image](https://user-images.githubusercontent.com/2247388/98534614-03856280-2285-11eb-94e5-f767848a32e5.png)

[2020-11-09 11:17] cagnulein commented on #51
i love the people around this project, i guess we're all unknown brothers :D

[2020-11-09 11:24] drainuzzo commented on #32
This is a KO log, started with sudo

Debug:   Bluez 5 detected.
Debug:   Creating QtBluezDiscoveryManager
Debug:   Discovered:  "94:65:2D:C2:AC:88" "OnePlus 5T" Num UUIDs 16 total device 0 cached RSSI 0 Class 5898764
Debug: bluetooth.cpp void bluetooth::debug(QString) "Mon Nov 9 12:22:24 2020 1604920944600 Found new device: OnePlus 5T (94:65:2D:C2:AC:88) \u0002:\u0003"
Debug:   Discovered:  "FF:90

[2020-11-09 11:25] drainuzzo commented on #32
This is OK log, started withous sudo (interrupted with x icon)

Debug:   Bluez 5 detected.
Info:   Missing CAP_NET_ADMIN permission. Cannot determine whether a found address is of random or public type.
Debug:   Creating QtBluezDiscoveryManager
Debug:   Discovered:  "94:65:2D:C2:AC:88" "OnePlus 5T" Num UUIDs 16 total device 0 cached RSSI 0 Class 5898764
Debug: bluetooth.cpp void bluetooth::debug(Q

[2020-11-09 12:30] cagnulein commented on #51
Guys it's working https://youtu.be/ri-HJfzLnSY

[2020-11-09 12:50] rickoneeleven commented on #51
ohhh yeah just wait until I get home, test it - it won't work and it will be my bloody drivers or something :laughing:

[2020-11-09 12:52] firetrappe commented on #51
Amazing! Congratulations! :tada:

Quick, everyone send their Pi's back for a refund :smile:

[2020-11-09 13:00] cagnulein commented on #51
@rickoneeleven hahahah i was laughing alone in the street like an idiot :D

@firetrappe  hahahah it's too soon to say so :D

[2020-11-09 13:08] cagnulein commented on #32
@drainuzzo i guess i fixed it too right now

[2020-11-09 14:09] mitchoklemen opened #54 "Synology - docker"
Hi,

Can you make a Docker image, to run it on Synology?

Thank you for effort, Mitcho

[2020-11-09 14:19] cagnulein commented on #54
@mitchoklemen welcome aboard!
what about the bluetooth? how could you provide the bluetooth to synology? usb dongle?

just for the stats: which machinery do you have? is it already working?

[2020-11-09 14:28] mitchoklemen commented on #54
I thought USB dongle yes. which do you preffer?
I have T900. I didnt run it yet.

[2020-11-09 14:37] cagnulein commented on #54
@mitchoklemen first of all it's better to test the bridge on a PC/Mac/Raspberry in order to understand if your dongle works.
@rickoneeleven has a lot of trouble with dongles...

check also #13 if you didn't

i'm here to help you in order to setup it! 👍

[2020-11-09 14:38] cagnulein commented on #54
@mitchoklemen i guess, if you have a PC, the easy way is to test with #39

[2020-11-09 14:43] mitchoklemen commented on #54
OK I'll try that!

[2020-11-09 17:33] firetrappe commented on #51
@cagnulein I have some good news...

![IMG_0332 (Phone)](https://user-images.githubusercontent.com/66125348/98575591-49f0b680-22b1-11eb-8779-f9f0ba3ca6b9.PNG)

It's a bit unpredictable, but it is looking more hopeful than using the Pi. 👍

[2020-11-09 17:45] drainuzzo commented on #32
Today I tried Zwift but it didn't recognized the Toorx.. maybe for the sudoer issue?

[2020-11-09 18:13] rickoneeleven commented on #51
it connected to treadmill, and showed up in zwift, but the speed in zwift stayed at zero on the connection screen. and when i started run, the speed didn't show at all, but good start 👍

[2020-11-09 18:33] cagnulein commented on #32
So you mean that the bridge connects correctly with the toorx but zwift doesn't recognize the Domyosbridge?
Did you try to restart both (zwift and the bridge)?
Did you try with and without sudo?
You're the only one who could try this setup, sadly.
If you have issue don't forget to send me the log, otherwise I have no data to help you

[2020-11-09 18:36] cagnulein commented on #51
@firetrappe this means that the software on my side should be ok, it's just a matter of libraries and stuff. Do you have any news about the bisect?

@rickoneeleven i didn't try with zwift yet, tomorrow I will try and in case I fix this one too.

Thanks guys to testing it

[2020-11-09 18:58] firetrappe commented on #51
@cagnulein I haven't had chance to bisect yet. I'll have a look later tonight.

I have been trying the android version again. Since the first test when it worked, I have had no success with subsequent attempts.

It is the same as all the other versions I have tested; the first run works, after that, bike always seems to connect to the bridge, but the bridge doesn't appear to receive any data.

Are

[2020-11-09 19:03] cagnulein commented on #51
Ok, np

Ok, i will do the same tomorrow with my TM

The bridge or zwift? I bet the is zwift that it doesn't receive. Infact, in this scenario, try to open nrfconnect and check if you see it.

Yes but i didn't check where yet. I will tell you tomorrow

[2020-11-09 19:08] firetrappe commented on #51
The bridge. The first time I tested and it worked, the 'speed' field on the android GUI updated as I pedalled. Nothing since, apart from resistance. Note that the display on the bike console worked with the first test. It has only shown resistance on following attempts.

[2020-11-09 19:26] cagnulein commented on #51
No i guess you misunderstood me. If you say "the bridge doesn't receive data" you are meaning that my software can't talk with the bike. In your case, instead, the Bridge can't talk with zwift (you didn't see the bridge anymore on zwift)
Am I wrong?

Very curious the behavior of the display. We will have to go deeper on it, but i guess it's not a protocol issue, maybe some timings or something sim

[2020-11-09 19:28] cagnulein commented on #51
Tomorrow I will do more test on my TM, maybe i found a common issue

[2020-11-09 19:53] firetrappe commented on #51
One other observation... When the bridge is started Speed=0. When the bike connects Speed=0.0
Bridge also shows a connection with Zwift. However, I don't have Zwift running on any devices.

![Screenshot_20201109-194537 (Phone)](https://user-images.githubusercontent.com/66125348/98589343-0bfd8d80-22c5-11eb-821f-1552bab4953b.png)
![Screenshot_20201109-194600 (Phone)](https://user-images.githubuserco

[2020-11-09 19:56] cagnulein commented on #51
The speed changes because I received 0.0 from the bike.
The zwift icon is a bug i guess, i will look into too. Thanks

[2020-11-09 21:35] alpat59 commented on #22
log of my test on last commit (55a5def). It seems working well (cadence, speed,..). Let me know again if I have to expect resistance changes pushed by zwift. Thank you
[debug-lun nov 9 22_17_14 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5513408/debug-lun.nov.9.22_17_14.2020.log)

[2020-11-09 21:57] alpat59 commented on #22
elapsed time on bike is around half of that reported by zwift

[2020-11-10 01:49] firetrappe commented on #48
Ok, I finally got around to using bisect.

The latest commit and the original commit didn't work - the bridge connected, resistance displayed but not speed.
However, one of the attempts did work:

![PXL_20201110_011520486 (Phone)](https://user-images.githubusercontent.com/66125348/98616699-3f581080-22f5-11eb-8e8c-9104761987c2.jpg)
Photo was taken at 01:15 (yes, it was a late night! lol)

None of t

[2020-11-10 05:30] cagnulein commented on #22
Yes In the log I saw a lot of writes resistance to value 2

[2020-11-10 05:31] cagnulein commented on #22
Yeah you're right, i will fix today (I've already fixed on the treadmill)

[2020-11-10 06:46] cagnulein commented on #22
fixed

[2020-11-10 06:53] cagnulein commented on #48
thanks @firetrappe for your work, i feel guilty about it :(
few questions:

1. when you said "The latest commit and the original commit didn't work - the bridge connected, resistance displayed but not speed." displayed where? on bike or zwift?
2. which is the log that it works? this one debug-Tue Nov 10 01-11-12 2020.log ? IT IS VERY IMPORTANT BECAUSE I can diff the log and check
3. when you said

[2020-11-10 07:39] firetrappe commented on #48
No need to feel guilty lol. This is what beta testing is all about. I'm very stubborn, I don't give up easily 😄

My test method was to start the bridge using each commit. Then just use the GUI on the bridge to see if any speed was detected. When speed was detected then I loaded Zwift on the iPad to test. On every commit the bridge displays resistance changes when I change them manually on the bike

[2020-11-10 08:22] cagnulein commented on #51
the log files will be in the downloads folder of your android device.

Guys, i don't know if i'm the luckiest guy in the world, but with my setup (Xiaomi Mi3 with qdomyos-bridge, Honor View 20 with Zwift and my Intense Run) everything works ALWAYS. I closed the bridge, open back again, zwift always saw it, and connect flawless. I don't know why it's not so stable to you. Anyway now with the log on

[2020-11-10 08:22] cagnulein opened #55 "Zwift icon always on, even if there isn't any connection to zwift"
Bridge also shows a connection with Zwift. However, I don't have Zwift running on any devices.

![Screenshot_20201109-194537 (Phone)](https://user-images.githubusercontent.com/66125348/98589343-0bfd8d80-22c5-11eb-821f-1552bab4953b.png)
![Screenshot_20201109-194600 (Phone)](https://user-images.githubusercontent.com/66125348/98589361-10c24180-22c5-11eb-8078-2fe28cf32ed3.png)

_Originally posted by @

[2020-11-10 09:33] cagnulein commented on #51
a new version @firetrappe this one is for you: i guess i solved your console issue. please try. Of course the same solution is avaiable to linux too

tell me good news please!

[android-build-debug.zip](https://github.com/cagnulein/qdomyos-zwift/files/5516216/android-build-debug.zip)

[2020-11-10 09:34] cagnulein commented on #48
@firetrappe i guess i have good news! i guess i solved your issue. Please pull it and test it and send me the log. I've done something really invasive: so if i missed something, i need to check the log.

The idea comes from your last night logs, so they were super useful!

[2020-11-10 10:21] firetrappe commented on #48
@cagnulein This sounds promising! Unfortunately I am at work for another 6 hours so I can't test until I get home :cry:

I'm glad the bisect logs were useful. I'm curious as to what the difference was.
I'm so glad you spotted something different anyway.

I'm crossing everything for both of us! :crossed_fingers:

[2020-11-10 10:24] firetrappe commented on #51
@cagnulein Thank you! I will test later :pray:

[2020-11-10 10:29] cagnulein commented on #55
it happens only on android

[2020-11-10 10:35] cagnulein commented on #48
the difference is about timings. But look it deeper i found that i should wait for a bike bluetooth event on init phase. So i tried to synchronize with that event. The same event is avaiable on my treadmill, so i tested and it works (but my TM works even without this event).

[2020-11-10 10:56] drainuzzo commented on #32
Retried today, I don't know why but it worked just without sudo

Last release it's ok for speed and other values (except that I continue to sospect my TR speed doesn't match real pace/km with TR speed but this is not a Porgram's fault obviously)
and my cardio isn't showed on display when BT key is connected. but this is a TR problem as well

I can confirm my phone doesn't find Bridge anyomore and

[2020-11-10 11:01] firetrappe commented on #48
That's really interesting. We thought it was probably to do with timings, that makes sense.

Hopefully this may fix some issues with other peoples equipment too.

I noticed last night that the console on my bike has a switch on the back to choose between Rowing Machine, Elliptical or Bike. Maybe Domyos use the same console on other types of product?

By the way, knowing your skills and where you l

[2020-11-10 11:06] cagnulein commented on #32
@drainuzzo on your log, i saw this

`Debug:   hci command failure: Operation not permitted
Warning:   received advertising error`

so of course with sudo, advertising it will won't work. And this is why when you run the hciconfig command with sudo, the rasp starts to advertise itself :)

but without sudo, the bridge can't write the values to zwift (infact i don't see any connection from zwift into

[2020-11-10 11:13] cagnulein commented on #48
i had always this feeling too, but i didn't have the evidences until this morning! (thanks again :) )

i hope so!

absolutely! Infact, the treadmill and bike from domyos has more or less the same protocol, and it has sense.

hahaha in this very moment i would like to stay away from Ferrari 😆

I really hope that this commit makes the difference for you ;)

[2020-11-10 13:24] alpat59 commented on #22
two more tests... 1) bridge without parameters(only -no-gui): Zwift works well with elapsed time apparently (i did just a couple of minutes) aligned between console and zwift but console updates not perfectly in synch and not continuously (sometime jumps seconds). log attached
[debug-mar nov 10 14_15_19 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5517520/debug-mar.nov.10.14_15_19.20

[2020-11-10 13:25] alpat59 commented on #22
2) test about resistance changes with parameter -test-resistance : zwift works like above described...but resistance doesn't change ! log attached
[debug-mar nov 10 14_19_09 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5517533/debug-mar.nov.10.14_19_09.2020.log)

[2020-11-10 13:27] cagnulein commented on #22
wow @alpat59 so my job of this morning has worked out! Great!
Yes i know that the display was not in sync: is because i send the display notification once every second, i should speed it up, but i don't want to push to hard the connection. First of all stability, next step, optimization! :)

[2020-11-10 13:30] cagnulein commented on #22
my fault, i will fix it ASAP and i will notify you

[2020-11-10 14:04] czuczorf commented on #51
![image](https://user-images.githubusercontent.com/2247388/98683902-dceb2880-2365-11eb-8e08-1d73f6b4d30a.png)
;-) sorry for interuppting the discussion

[2020-11-10 14:06] cagnulein commented on #51
@czuczorf hahahah BUY BUY BUY

[2020-11-10 17:29] firetrappe commented on #48
@cagnulein I just got home and tested...
Android and Linux versions both appear to work with the bike! 🎉 🚀

I need to test further after I have eaten dinner, but I think you have cracked it 🎆

[2020-11-10 19:06] cagnulein commented on #48
@firetrappe we will have a beer together one of these days! Great!

[2020-11-10 20:11] cagnulein commented on #51
My first session on android of 1h15m. Everything works as on the raspberry!
I attach the log for future analysis: nerd porn :D
[debug-Tue Nov 10 18_44_07 2020.zip](https://github.com/cagnulein/qdomyos-zwift/files/5519916/debug-Tue.Nov.10.18_44_07.2020.zip)

[2020-11-11 08:53] rickoneeleven commented on #13
pi arrived yesterday but i didn't know you needed a micro hdmi cable :laughing: that's coming today and then I hope I can join in with all the recent success stores :crossed_fingers:

[2020-11-11 08:57] cagnulein commented on #13
@rickoneeleven real nerds don't need hdmi adaptor! ssh is the way!

[2020-11-11 08:59] rickoneeleven commented on #13
What to INSTALL the OS without any connection to WiFi yet!? Haha yeah, I'll have to try that :laughing:

[2020-11-11 09:07] cagnulein commented on #13
@rickoneeleven check this https://dietpi.com/phpbb/viewtopic.php?t=2328

[2020-11-11 09:32] rickoneeleven commented on #13
ain't nobody got time for dat! :laughing:

(i'm at the office now anyway)

[2020-11-11 09:34] firetrappe commented on #13
@rickoneeleven So close! I wouldn't have thought about the hdmi either.
I just used an SD card reader on my windows machine, cos I was too lazy to rig up a monitor and keyboard to the Pi :smile:

[2020-11-11 09:37] firetrappe commented on #48
Sounds like a plan my friend. I'll have to pop over, we can have a little 5k race around Fiarano :smile:

[2020-11-11 09:40] rickoneeleven commented on #13
@firetrappe and that lets you "build" the OS with network details and whatnot and then just slip into the pi? interesting.

[2020-11-11 10:16] firetrappe commented on #13
@rickoneeleven This is the guide I used for the 3b. Looks like there are other options for the Zero:

[https://www.tomshardware.com/uk/reviews/raspberry-pi-headless-setup-how-to,6028.html](url)

[2020-11-11 10:18] rickoneeleven commented on #13
ahhh okay spank you @firetrappe @cagnulein :heart:

[2020-11-11 19:23] mitchoklemen commented on #54
In virtualBox I get Error Failed to attach the USB device Apple Bluetooth Host Controller 0156.
Callee RC: NS_Error_Failure (0x80004005)
Macbook Pro late 2012.

I tried also with some generic USB bluetooth dongle but Error said that device is used by another app.

[2020-11-11 20:05] cagnulein commented on #54
@mitchoklemen on macOs you don't need the virtual box. On macOs it runs natively. You can compile my code on Qt Creator and run it disabling the mac bluetooth and using the dongle one.

[2020-11-11 20:11] rickoneeleven commented on #54
@mitchoklemen i had that issue on windows, i managed to get it working intermittently by turning bluetooth off on the PC itself, then trying to attach the interface to the VM, if that failed, sometimes switching the bluetooth back on and then trying managed to attach it. Very hit and miss.

[2020-11-12 07:46] rickoneeleven commented on #13
kicked off compile last night (these 0w's are slooooooooooow) :laughing: woke up to:
![PXL_20201112_071232257](https://user-images.githubusercontent.com/8156878/98910457-18e3d200-24bb-11eb-9aaa-920d2b4742f1.jpg)

and the qdomyos-zwift program hadn't been created. so just running make -j4 again, it's taking it's time 😄

[2020-11-12 07:58] cagnulein commented on #13
@rickoneeleven you can compile on your rasp 3 and copy the binary to the 0w! i always did this ;)

[2020-11-12 07:59] rickoneeleven commented on #13
ahhhhhhh.... not when you've used the SD card from pi3 in your pi0 :laughing: can I compile it on my debian laptop maybe and move it across?

[2020-11-12 08:01] cagnulein commented on #13
@rickoneeleven no you can't because your laptop has a different architecture.
Your current SDCard should run also on the pi3. So put in the pi3, compile and put in the pi0 again ;)

[2020-11-12 08:02] rickoneeleven commented on #13
ahhhhhhhhhhh thank you :heart:

[2020-11-12 08:03] cagnulein commented on #13
@rickoneeleven i'm working also to generate the binary direct from github for every commit, but i managed only to create a linux desktop binary

[2020-11-12 08:08] rickoneeleven commented on #13
just reading through the readme to compile on pi b again-
-------------------
Installation from source
$ sudo apt upgrade && sudo apt update # this is very important on raspberry pi: you need the bluetooth firmware updated!
--------------------
think your sudo commands need to be switched, not a big issue of course!

[2020-11-12 08:12] cagnulein commented on #13
@rickoneeleven  you're right!

[2020-11-12 08:29] rickoneeleven commented on #13
okay so finally it's running on the pi0w - connected to treadmill, let's see if we can make two hours 🤞

[2020-11-12 08:40] cagnulein commented on #13
@rickoneeleven obviously, if it will won't work, it will be a flawed pi0w :D

[2020-11-12 08:46] rickoneeleven commented on #13
:laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :laughing: :lau

[2020-11-12 09:32] rickoneeleven commented on #13
okay..... we're an hour in, it's still connected :smile: so a great start

if we hit two hours, new world PR!

[2020-11-12 09:49] cagnulein commented on #13
can i close this issue if we reach 2h? PLEASE PLEASE PLEASE :D

[2020-11-12 09:50] cagnulein commented on #27
i guess it's ok now, if the error will appear again, i will reopen it

[2020-11-12 09:50] #27 closed

[2020-11-12 09:51] rickoneeleven commented on #13
for me sure, even if something else pops up after that, probably worth a new issue due to the size of this thread.

if this does run for 2h, you may want to open a pi 3b issue? or list it as unsupported, im not sure. but if it does work, i'm just going to stick with the pi0w anyway, so won't make much difference to me personally.

[2020-11-12 10:35] rickoneeleven commented on #13
it's still running bro's :smile:

[2020-11-12 11:29] rickoneeleven commented on #13
last request before you close this issue then if you don't mind my good friend, it's running so well I don't need the debug log thrashing my sdcard, is there a way to disable debug output to file system?

[2020-11-12 13:25] cagnulein commented on #13
yes, append the "-no-log" option! it's avaiable since the first day :D

talking about the pi3b issue, i don't think it's a general issue, maybe it was something on YOUR pi3b :P
So, until @Martoni74 will speak against my idea, i will still think that it's just a flawed pi3b (or flawed power supply :P)

[2020-11-12 14:04] rickoneeleven commented on #13
well I just finished my first zwift/domyos bridge/t900c session with zero issues :heart:  :heart:  :heart:  :heart:  :heart:  :heart:  :heart: thanks again @cagnulein

I swapped the power on my 3b, so it wasn't power. I personally **doubt** it's my 3b but who cares, it works on the 0w!!!! :smile: :smile: :smile: :smile:

[2020-11-12 14:11] cagnulein commented on #13
only 255 comments to achieve a simply session on zwift, not bad :D
@Martoni74 please, send us some feedback, i need you to defeat the rick's pi3b! :D

anyway @rickoneeleven it should be the power supply: the pi0w has a very low consumption against the pi3b, so if it has some problem on high consumption spikes, you will see them only on pi3b or pi4.

But, in the end, who fucking cares? :D

[2020-11-12 15:12] Martoni74 commented on #13
Hello,
sorry, it's quite the mess at the office so I was away during a few days.
I launch my RPi and pull the last updates.

[2020-11-12 15:16] cagnulein commented on #13
sorry @Martoni74 i didn't want to annoy :( i was just making fun of @rickoneeleven :P

[2020-11-12 18:57] Martoni74 commented on #13
Hi,
on my side I have follow all the process : apt, git pull, qmake, make -j4
I get my connection good with the T900C but no way to broadcast WiFi.
MacMini and Android phone can see my Stryd, but the RPi is not visible.
I have that with my 2 RPi 3B, it's strange ...

[2020-11-12 19:00] rickoneeleven commented on #13
Weird, I was always able to see the pi as the bridge from my iPad :confused:

Then again, a few times I had to close the program and restart it, and it appeared in my iPad the second time I launched program

[2020-11-12 19:01] alpat59 commented on #22
hi @cagnulein . I had time to do another test with last commit (429cb20) with parameter -test-resistance and zwift app not running. Result: resistance value on console is fixed on value 1. Could you check in some way by attached log what's happening? Is my bike receiving the resistance value changes? if yes why aren't reported on console? Thank you
[debug-gio nov 12 19_55_04 2020.log](https://gith