[2020-11-12 19:02] cagnulein commented on #13
Did you run with sudo? Could i have the log?

[2020-11-12 19:28] Martoni74 commented on #13
Yes,
on my side, even with nrf connect + hci to make the pi visible is not working ...
I will update my previous RPi and make a new test.

[2020-11-12 19:57] cagnulein commented on #13
@Martoni74 could you please try to add the argument -only-virtualtreadmill ?

It should only brings up the bridge on zwift (no connection to TM)

And remember to send me the log when you have any issue (the file has created automatically on the same folder of the binary)

Thanks

[2020-11-13 08:36] cagnulein commented on #50
guys I created a facebook group about Domyos stuff https://www.facebook.com/groups/1064761680643892

[2020-11-13 08:40] rickoneeleven commented on #50
i don't have facebook unfortunately, just an onlyfans :laughing:

[2020-11-13 08:49] cagnulein commented on #50
You will miss unbelievable things like this one ![IMG_20201113_094431.jpg](https://user-images.githubusercontent.com/48216/99048145-78161500-2595-11eb-84dd-d86cebd0f2cb.jpg)

[2020-11-13 08:49] firetrappe commented on #50
That explains the profile pic 😳

[2020-11-13 09:06] kenands commented on #50
Cool :) I joined the Facebook group.
And here is my strava account 😄 :
https://www.strava.com/athletes/71623539

[2020-11-14 06:16] rickoneeleven commented on #50
you getting a strava club setup brother? @cagnulein

[2020-11-14 06:42] cagnulein commented on #50
@rickoneeleven https://www.strava.com/clubs/783173 i will add some fancy pics to the club later

[2020-11-14 06:43] rickoneeleven commented on #50
cool, I'm second in the leader board already.

[2020-11-14 23:45] kenands opened #56 "Domyos Intense Run - distance and time falled to 0 on treadmill console 35 minutes after the start"
if you will see it again, send me the full log. i will try to understand. thanks

_Originally posted by @cagnulein in https://github.com/cagnulein/qdomyos-zwift/issues/22#issuecomment-723855084_

Hi @cagnulein, this issue happened again.
On 4 sessions it happened 2 times.
Appart from that everything works great :)

[2020-11-14 23:46] kenands commented on #56
[debug-sam. nov. 14 23_24_05 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5541594/debug-sam.nov.14.23_24_05.2020.log)

[2020-11-15 07:05] cagnulein commented on #56
@kenands hahah wonderful bug! it's a midnight bug! when the clock reset to 0:00 i have some timer that gives negative value! :D i will fix asap

[2020-11-15 07:06] cagnulein commented on #56
you're the only one who train himself at midnight :D

[2020-11-15 07:57] cagnulein commented on #56
fixed!

[2020-11-15 07:57] #56 closed

[2020-11-15 08:33] kenands commented on #56
Haha I never thought that was a midnight bug.
I know, this is the time I need to kick myself to doing training :D
Once again nice and fast debugging 👍
Thanks :)

[2020-11-18 10:32] cagnulein commented on #54
any news @mitchoklemen ?

[2020-11-18 10:33] cagnulein commented on #48
everything ok @firetrappe ? could we close this issue?

[2020-11-18 10:34] cagnulein commented on #32
any news @drainuzzo ?

[2020-11-18 10:34] cagnulein commented on #22
@alpat59 any news?

[2020-11-18 10:35] cagnulein commented on #13
any news @Martoni74 ?

[2020-11-18 10:35] cagnulein commented on #15
@jampy any news?

[2020-11-18 14:18] Martoni74 commented on #13
Hi,
after many test with my 2 RPi, I could get randomly both connection working :
- MacMini see the system as "raspberrypi";
- Android phone see it as Zwiftbridge.
I get 2 values :
- Speed (remain at 0kph);
- heart rate (remain at 0).
Whatever my settings, I can't get any data moving.

If I launch the app alone with only GUI, my speed and incline remain at zero.
I can set the fan speed.

So I'm wo

[2020-11-18 14:23] cagnulein commented on #13
@Martoni74 you aren't using the last commit, i already fix the @rickoneeleven  's same issue. Please pull it and test

[2020-11-18 14:35] rickoneeleven commented on #13
@Martoni74 remember you have to redo the make commands too after you pull the last commit - a mistake I made.

Cheers

[2020-11-18 15:50] Martoni74 commented on #13
ok, I was missing a few commits :-D
Then it worked once, could set the speed incline, ...
However, once connected to Zwift, I lost connection to the Threadmill ...
I will make additional tests and see if I can make it stable

[2020-11-18 16:06] cagnulein commented on #13
@Martoni74 have you got any other version of rpi? for example the 0w or the 4? i'm very interested in all the "3b compatibilty" story

[2020-11-19 11:56] Martoni74 commented on #13
nothing else unfortunatly.
I will stop for the moment the time to get another RPi.
I will re-open an issue when I get new hardware solution.

[2020-11-19 11:59] rickoneeleven commented on #13
@Martoni74 you may or may not have read all the previous comments, but I too have pi 3b dropping connection to my t900c and since swapping over to a pi0w i've yet to experience a single dropped connection.

so there's hope for you yet if you decide to grab a 0w.

[2020-11-19 12:12] Martoni74 commented on #13
Hi rick,
I looked to your logs and we have same behaviour, seg fault also.
I will switch then to Zero W.

[2020-11-19 12:13] cagnulein commented on #13
I'm closing this one guys. Feel free to open a new issue in case!

[2020-11-19 12:13] #13 closed

[2020-11-19 12:40] mitchoklemen commented on #54
In virtualBox I cant get it through with my Bluetooth dongle. Always get Error with it. Like in Windows like in OsX.
I didnt try the native MacOS yet, but I will soon. I'll report then.
I also have androidTV box with Android 10 and bluetooth on it? I Installed APK but it's little tall for my format. I didnt try to connect it yet. I'll try it probably today when I come from work.
Thanx for support.

[2020-11-19 12:46] cagnulein commented on #54
@mitchoklemen ok, the behaviour of the dongle is very strange, but i just tested only my Dell's bluetooth dongle, so i don't have a wide knowledge of bluetooth's dongle.
On MacOS i'm quite sure that every works: my GF uses it everyday on my MacBook Air.
Android TV should work, i'm working right now on a UI for mobile: probably i need some days to set it up. After this i will publish it on the play

[2020-11-21 10:52] rickoneeleven opened #57 "feature request: watch and restart"
had a seg fault today with pi0w and t900c, unfortunately I didn't have logging on and will catch it next time and open a new issue, but it gave me an idea

maybe we'll never eliminate all seg faults as they may be limitations of the hardware (treadmill just not great with bluetooth)

so the idea: when i had seg fault i could just re-run the script and it connected back to zwift and treadmill - so

[2020-11-21 12:05] cagnulein commented on #57
I've already put a "state file" on the code. I have just to put  one or two arguments in order to setting the speed and the inclination.
Anyway, first of all, try to reproduce it and send me the log.

In these days I'm writing the GUI for android and ios, after this I will take a look at this FR.

Thanks

[2020-11-22 08:21] czuczorf commented on #51
Hi Cagnulein,

Thank you for your work! Finally my Domyos 500 bike arrived yesterday ;-) I've tried out this version, looks promising, here are my notes, hopes helps in the development

I have a Xiaomi Redmi Note 8, I've tried to allow every permission for the App

- Sometimes it takes a lot of time for Zwift to find my phone and there are cases it does not find it at all.
- There are cases I've g

[2020-11-22 09:20] rickoneeleven opened #58 "t900c pi0w crash within 15 seconds or so"
not sure if this is useful, i restarted it afterwards and it worked, but it was only a short session, 30 minutes

[debug-Sun Nov 22 08_33_40 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5579218/debug-Sun.Nov.22.08_33_40.2020.log)

initially it crashed within a few seconds, log above

[2020-11-22 09:40] cagnulein commented on #58
i will check it today, thanks!

[2020-11-22 09:49] cagnulein commented on #51
yeah, i saw it too, i saw that restarting the bluetooth on my zwift phone it helps. I will investigate more on it.

Saw it too. Same as above

Never saw this, but i guess all these 3 points are releated.

Yes, there is already #55

Usually i start the treadmill first, so the bridge and finally zwift.

No it's not normal. Seems that the communication is really bad. Did you try to reduce the distanc

[2020-11-22 09:50] cagnulein opened #59 "app does not let the phone go to sleep mode on android"
- It would be nice that the app does not let the phone go to sleep mode

_Originally posted by @czuczorf in https://github.com/cagnulein/qdomyos-zwift/issues/51#issuecomment-731714631_

[2020-11-22 10:44] czuczorf commented on #51
Amazing and Thank You!
Resistance is controlled by the Zwift is the greatest news, ever! ;-)
Thanks I will collect some log, the phone is alredy nearby the domyos computer.
Btw Zwift and the android does detect the speed changes imeadiatelly, only the DC do the lagg, which does not really matter to me if it does not have any side effects.
Thanks again
Cheers

[2020-11-22 16:03] cagnulein commented on #58
i checked the log: it seems that simply the pi lost the connection from the T900c. Anyway it should not crash. I will try to simulate the same thing here tomorrow hoping to see the same crash.

[2020-11-22 20:18] kenands commented on #56
Hi @cagnulein , this issue happened once again at mignight lol

[debug-ven. nov. 20 23_39_39 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5580257/debug-ven.nov.20.23_39_39.2020.log)

[2020-11-22 20:20] cagnulein commented on #56
Are you sure you pulled and built the correct version?

[2020-11-22 22:04] kenands commented on #56
Sorry :/, you are right, I thought that I updated after this commit but I checked and it's not the case.
thanks

[2020-11-23 06:55] cagnulein commented on #51
ok guys, this is the new android version. It's a very alpha version. I've only changed the UI using QML, so it should adapt to android better than before.

I tried to my treadmill and seems fine.

Known issues:
1) an icon missing in the top left corner
2) speed text may overlaps the icon
3) if you scroll the values, they will overlap the top bar

I added also an experimental support to #59 (always

[2020-11-23 09:03] cagnulein commented on #58
this morning i tried to replicate this issue without success. I put the bridge on my notebook, i connected the bridge to my treadmill and then i started to move around my house losting and gaining connection again.
So it's something different.
If you can replicate it with "enough" simplicity, please try run gdb and tell post me the gdb log (use bt command to see the full stack trace).
Thanks

[2020-11-23 09:44] cagnulein commented on #57
@rickoneeleven with this https://github.com/cagnulein/qdomyos-zwift/commit/123df9db6b78c1ac4b994d387d8bcb6eefb51dad i did the first step: if you press stop and start or if you lost and regain connection to the treadmill, speed and inclination restart from the previous value.

So this commit covers the situation where the raspberry lost the connection but doesn't segfault.

For the segfault scenari

[2020-11-23 09:51] rickoneeleven commented on #58
i'll see, that's the first time it has crashed so quickly. i'll see how it is the rest of the week.

_the auto restart/reconnect feature would have helped though_ :rofl:

[2020-11-23 09:53] rickoneeleven commented on #57
ohhh brilliant, yes - i'll pull it down and give it a test tonight :bowing_man:

[2020-11-23 20:52] rickoneeleven commented on #57
it will have to be tomorrow night, i ended up busy tonight 👍

[2020-11-24 18:27] rickoneeleven commented on #57
okay bro's

started program, connected to treadmill, opened zwift and it wouldn't appear
[debug-Tue Nov 24 17_21_05 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5591914/debug-Tue.Nov.24.17_21_05.2020.log) this is common but not a big issue, i just CTRL-C, started program again and it showed up in zwift straight away and reconnected to treadmill

then onto the main event:
completed se

[2020-11-24 18:47] cagnulein commented on #57
Tommorow I will add the step 2 and i will check the logs! Thanks

[2020-11-25 04:26] cagnulein commented on #57
@rickoneeleven about the zwift issue, did you try to run this command before start the bridge

`sudo hciconfig hci0 leadv 0`

just the first time. I would like to see if, with this command, the bridge will always appear.
Ok i'm starting the 2nd step, i guess it will be ready for tonight :)

[2020-11-25 08:53] cagnulein commented on #57
ok @rickoneeleven i completed it.
It should work like magic, anyway i would like to explain the mechanism for future documentation purposes.

The bridge, everytime it intercepts a changing on speed or inclination, it will write an XML called status.xml, with the current values.
If you press CTRL-C, this file will be deleted.
If it segs fault, this file will still on the SD.

So when you rerun the

[2020-11-25 08:56] rickoneeleven commented on #57
ahhhh okay, so it won't run multiple instances of the program? does it notice it is already running and kill the new instance or something like that? :heart:

[2020-11-25 09:01] cagnulein commented on #57
No, with that statement will run one session at a time. When one session ends, another session will be lunched.

[2020-11-25 09:35] rickoneeleven commented on #57
awesome thank you, i'll get it tested tonight or possibly tomorrow night :bow:

i've sent you a coffee thank you :heart:

[2020-11-25 09:43] cagnulein commented on #57
wow thank you! i hope that everything is ok

[2020-11-25 14:09] rickoneeleven commented on #58
is this okay? i've not try to run the program yet

git pull
cd src
qmake
make -j4
![mstsc_KfkhdyXISj](https://user-images.githubusercontent.com/8156878/100238221-dba22a00-2f27-11eb-9abe-8f952542fa4b.png)

[2020-11-25 14:11] rickoneeleven commented on #57
is this okay?

git pull
cd src
qmake
make -j4

![mstsc_KfkhdyXISj](https://user-images.githubusercontent.com/8156878/100238435-1906b780-2f28-11eb-86de-d5241970136b.png)

[2020-11-25 14:14] cagnulein commented on #57
@rickoneeleven ops, no. i complied only on windows and i didn't see this issue. give me 2 minutes and i will fix it

[2020-11-25 14:18] cagnulein commented on #57
@rickoneeleven ok, pull it again and rebuild.

[2020-11-25 14:28] rickoneeleven commented on #57
builds thank you

with:
while [ 1 ]; do sudo ./qdomyos-zwift; done

CTRL-C doesn't end it, just trying to get logs, but struggling to stop it lol, just going to have to reboot

[2020-11-25 14:31] rickoneeleven commented on #57
log doesn't seem to have my CTRL-C presses, but trust me I was smashing it :laughing:
[debug-Wed Nov 25 14_24_22 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5597279/debug-Wed.Nov.25.14_24_22.2020.log)

[2020-11-25 14:31] rickoneeleven commented on #57
note: i don't have treadmill or zwift turned on at the moment, i was just testing remotely

[2020-11-25 14:47] cagnulein commented on #57
yes it's absolutely normal :) i mean: when you run such a loop, when you press CTRL+C it stops the current session but it starts another one in loop :D i didn't think about it this morning :D

The solution should be simple: put a sleep 1 between zwift and done in order to catch the ctrl+c
so for example:

`while [ 1 ]; do sudo ./qdomyos-zwift; sleep 1; done`

It's ok that you don't see anything in

[2020-11-25 15:05] rickoneeleven commented on #57
ahhh right, even with sleep 1 I can't run CTRL+C - I'll be running forever :laughing:

[2020-11-25 15:17] cagnulein commented on #57
maybe beucase you're testing remotely and your band is not fast enough?
anyway you can kill the bash process from another shell, there a lot of possibility 👍

so from another shell do

`$ ps ax | grep bash`

you will see several results, take one and do

`kill -9 [pid]`

you will definetely stop it :)

anyway if you just press the ctrl+c i delete the file and you can power off the pi0w without iss

[2020-11-25 15:19] rickoneeleven commented on #57
cool i'll have a play with a few options, cheers :+1:

[2020-11-26 15:00] rickoneeleven commented on #57
okay I had a little problem 😆

I read a few articles and tried CTRL+Z and then killing the background task but nothing would stop the script running. So I thought I'd just let it run and reboot the pi when i've finished session.

So I started it with the while loop and also ran **hciconfig hci0 leadv 0** first but zwift couldn't find the bridge, and I had no way of exiting the script to restart it

[2020-11-26 15:16] cagnulein commented on #57
hahahah what a bad luck! XD

didn't you try to kill the session from another shell? i think it's the easiest way.
When you restart it after the crash, did it take back the speed and the inclination? It should...

[2020-11-26 15:27] cagnulein commented on #57
and remember that you have to kill the bash parent process not the bridge!

[2020-11-26 15:53] rickoneeleven commented on #57
I tried everything there is absolutely zero way to kill it, it goes into beast mode :bear:

[2020-11-26 16:02] cagnulein commented on #57
did you try also with the kill -9 option?

[2020-11-26 16:13] rickoneeleven commented on #57
i mean absolutely everything https://pinescore.com/111/help.gif

[2020-11-26 16:15] cagnulein commented on #57
no! you have to kill the bash parent process! :P

[2020-11-26 16:22] rickoneeleven commented on #57
nothing works! https://pinescore.com/111/help2.gif :laughing:

[2020-11-26 16:25] cagnulein commented on #57
yeah right! now kill the bridge and you will be the winner!

[2020-11-26 16:25] rickoneeleven commented on #57
after that last animation I also killed the pi bash 533 and it killed the bash window, but if you ps aux |grep domyos the program was still running!"!212e32142fewrfsvsv :smile:

[2020-11-26 16:26] rickoneeleven commented on #57
ohh and then kill the bridge, let me try that too

[2020-11-26 16:29] rickoneeleven commented on #57
still no - i give up, ill just restart it manually maybe without running the loop :crying_cat_face:

https://pinescore.com/111/help3.gif

[2020-11-26 16:32] rickoneeleven commented on #57
typo in video, but even when i went back and kill **-9**

it was still running

[2020-11-26 16:55] rickoneeleven commented on #57
go.sh
`#!/bin/bash
while :
do
        if pgrep -x "v3" > /dev/null
        then
            echo "Running"
        else
            /home/pi/qdomyos-zwift/src/v3 -no-gui
        fi

        sleep 5
done
`

kill.sh
`#!/bin/bash
killall -9 v3 && killall -9 go.sh`

:pray: works

./go.sh to start
./kill.sh to stop

:clinking_glasses:

[2020-11-26 16:57] rickoneeleven commented on #57
this works (was having issues formatting code in comments)
![mstsc_FGFUGXLyLH](https://user-images.githubusercontent.com/8156878/100377068-838f2480-3008-11eb-926a-fbefb1b1b5a9.jpg)

[2020-11-26 16:58] rickoneeleven commented on #57
cat'd kill twice by mistake 😆

[2020-11-26 19:16] cagnulein commented on #57
So now it's working? Did you "test" a segfault?

[2020-11-26 19:44] rickoneeleven commented on #57
ones does not simply "segment" - i'll have to wait until my next run on Friday 😄

[2020-11-27 12:30] mitchoklemen commented on #51
The GUI looks fine on my androidTV. But sometimes maybe loose connection or freezes. I cant change + - . Otherwise works good.
I didnt notice any overlaps yet, top left icon is ON.
On my tredmill there is no "resistance%" to set, maybe you could hide it when treadmill is detected.

[2020-11-27 13:55] cagnulein commented on #51
@mitchoklemen thanks!
1) could you please send me the logs that you should find in the download folder? i would like to understand the connection freezes.
2) what do you mean when you say you can't change + and  -? The treadmill doesn't react to the + or - button of the UI?
3) yes, you're right about the resistance, it's something that i would like to do too

[2020-11-27 14:20] rickoneeleven commented on #57
okaaaaaaaaaaaaaaaaaaaaaaay then

so started it today, was running at speed 9.1, inc 1% - treadmill stopped:
[debug-Fri Nov 27 12_50_28 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5608212/debug-Fri.Nov.27.12_50_28.2020.log)

whilst I was trying to understand what had happened, as the putty session showed information still scrolling, it started up again :smile: at speed **8.9** (a lit

[2020-11-27 14:54] cagnulein commented on #51
ok i fixed the 3rd point, now i load the icon only when the connection is ok to the machine

[android-build-debug.zip](https://github.com/cagnulein/qdomyos-zwift/files/5608386/android-build-debug.zip)

[2020-11-27 15:03] cagnulein commented on #57
great news isn't it? :)
i also solved the 8.9-9.1 issue! pull it and build it man!

[2020-11-27 15:04] rickoneeleven commented on #57
beautiful my friend, thank you :heart:

[2020-11-27 18:24] cagnulein commented on #51
![IMG_20201127_191617](https://user-images.githubusercontent.com/48216/100476533-1651c100-30e6-11eb-9fc9-2ebaf932cf17.jpg)

So far so good with the new version

[2020-11-27 18:26] cagnulein commented on #57
Side effect of this FR: now it's available for free even on android XD but i have to manage the close event 😄

[2020-11-27 19:27] cagnulein commented on #58
@rickoneeleven when you have spare time could you please try a thing:
1. Turn the treadmill on; just on, not running
2. Connect the pi0w to a power bank: in this way you could move the pi0w around the house
3. Connect the pi0w to the treadmill
4. Move it around the house until you will lose connection to the treadmill
5. Go again where the treadmill is visibile

If with these 5 steps you will repr

[2020-11-27 19:50] rickoneeleven commented on #57
:smile: :smile: :smile: :smile: :smile: ahhh I see, a premium feature :smile_cat:

what is the close event?

[2020-11-27 19:52] rickoneeleven commented on #58
:laughing: my wife's going to kill you, i'll have to buy another toy - a power bank!!!!! - actually, to be fair i've already got one for my phone from when i'd go on big walks, never even thought of using that to power pi :laughing: i'll give it a go tomorrow hopefully :crossed_fingers:

[2020-11-27 20:01] cagnulein commented on #57
I mean the event that happened when you close the bridge on android

[2020-11-27 20:05] rickoneeleven commented on #57
ahhh cool

still have to start it, kill it, and start it again today to get it to appear in zwift, really weird.

I had
`sudo hciconfig hci0 leadv 0`
in cron startup script, unless that was too early to have it ran, about 12 hours before I tried the connection (when the pi last rebooted), maybe I need to run it just prior to starting the program?

[2020-11-27 20:13] cagnulein commented on #57
I really don't know. I read somewhere that zwift has some logs on PC. Maybe we can find something useful inside.

In the log you sent me, the only thing that changes is the timing. I could add some delay from the connection to the treadmill and the creation of the bridge.

But first of all I have to regenerate the issue myself

[2020-11-27 20:16] rickoneeleven commented on #57
if it helps, i saw the issue on both running zwift on my iPad **and** laptop. again it's not a super big issue, i just restart it now i have my kill script. if you open another issue log and want me to help with logs, i'll happily provide, or if you want to focus on other pressing matters that's fine to, as it's not a big issue. i just thought i'd mention it in case it was something easy to tweak

[2020-11-28 07:37] cagnulein opened #60 "Sometimes Zwift doesn't discover the bridge"
if it helps, i saw the issue on both running zwift on my iPad **and** laptop. again it's not a super big issue, i just restart it now i have my kill script. if you open another issue log and want me to help with logs, i'll happily provide, or if you want to focus on other pressing matters that's fine to, as it's not a big issue. i just thought i'd mention it in case it was something easy to tweak

[2020-11-28 07:40] cagnulein commented on #60
Logs https://github.com/cagnulein/qdomyos-zwift/issues/57#issuecomment-733156608

[2020-11-28 09:13] rickoneeleven commented on #60
okay so just had a run, same issue. this time instead of having
`hciconfig hci0 leadv 0`
on a @reboot script, I had it in my go.sh which I run to start the program, so it ran hciconfig about 60 seconds before I opened zwift, and still I couldn't see the brige, so I ran kill script, ran go.sh again and then it appears. i've never not had it appear the second time I run the program 😕

[2020-11-28 09:16] rickoneeleven commented on #60
doubt it helps but:
when it didn't pick up bridge on first run:
[debug-Sat Nov 28 08_05_31 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5610312/debug-Sat.Nov.28.08_05_31.2020.log)

when it did on second run:
[debug-Sat Nov 28 08_08_00 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5610313/debug-Sat.Nov.28.08_08_00.2020.log)

(ohhh and i had no segfaults this run, so never

[2020-11-28 15:45] cagnulein commented on #60
@rickoneeleven uhhh very interesting, in the first log there is an error on startup

`Debug:   BTLE_DBUS::connect() failed "org.freedesktop.DBus.Error.NoReply" "Did not receive a reply. Possible causes include: the remote application did not send a reply, the message bus security policy blocked the reply, the reply timeout expired, or the network connection was broken."
Debug: bluetooth.cpp void b

[2020-11-28 15:52] cagnulein commented on #60
@rickoneeleven mmm is it possibile that the first log was running not with sudo?
because it's full of

`Debug: bluetooth.cpp void bluetooth::stateFileRead() Open status.xml for writing failed`

and probably it's because there is a permission issue

[2020-11-28 15:54] rickoneeleven commented on #60
i'm always root, in .bashrc I have "sudo su" so everything I run is as root, I don't need to sudo

[2020-11-28 15:59] cagnulein commented on #60
ok but it's definitely something with the permissions. maybe you can check to be really root before running the bridge using the "whoami" command...i can put also some checks inside the bridge, so we can intercept this issue.

[2020-11-28 16:16] cagnulein commented on #60
ok i added a check on the startup of the bridge. tell me if you have any issue

[2020-11-28 16:24] rickoneeleven commented on #60
100% root
didn't discover zwift bridge:
[debug-Sat Nov 28 16_19_46 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5610892/debug-Sat.Nov.28.16_19_46.2020.log)

killed and started it manually, it detected bridge but seg faulted after a few seconds:
[debug-Sat Nov 28 16_20_41 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5610894/debug-Sat.Nov.28.16_20_41.2020.log)

it auto re

[2020-11-28 16:27] cagnulein commented on #60
debug-Sat Nov 28 16_20_41 2020.log this one has the DBUS issue. Did you my last commit?

[2020-11-28 16:29] rickoneeleven commented on #60
yeah that is the latest commit, just built it prior to running - anyway you can echo commit/build id to logs just so you're sure?

[2020-11-28 16:29] cagnulein commented on #60
no ok, i trust you :)

[2020-11-28 16:48] cagnulein commented on #60
ok i moved the init of the zwift part after the init of the treadmill and i also added the version in the logs :P
tell me if something change :)

[2020-11-28 16:57] rickoneeleven commented on #60
same 😕
100% root

ran first, no qwift bridge:
[debug-Sat Nov 28 16_54_03 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5610931/debug-Sat.Nov.28.16_54_03.2020.log)

killed and ran a second time, it appeared:
[debug-Sat Nov 28 16_54_16 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5610932/debug-Sat.Nov.28.16_54_16.2020.log)

what I did notice that may be something or nothin

[2020-11-28 18:07] cagnulein commented on #60
wait wait wait in this first log i saw this

`Debug:   GATT connection from device "20:16:D8:D7:62:4D" "X230-0519"
Debug:   Group "RemoteSignatureKey" not found in settings file
Debug:   Written Char: "{49535343-8841-43f4-a8d4-ecbe34729bb3}" "f0cb030001ff0100000201000000010005010100"
Debug: bluetooth.cpp void bluetooth::debug(QString) "Sat Nov 28 16:54:08 2020 1606582448304 characteristicWritten f

[2020-11-28 18:09] rickoneeleven commented on #60
okay okay okay, let me reboot pi, start it again and wait a minute - be right back

[2020-11-28 18:17] rickoneeleven commented on #60
no - it didn't show up this time, i didn't even restart it this time i just waited a minute or two - it did connect to treadmill
[debug-Sat Nov 28 18_13_27 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5611032/debug-Sat.Nov.28.18_13_27.2020.log)

[2020-11-28 18:58] cagnulein commented on #60
This time there isn't any sign of connection, tomorrow I will check deeper. Thanks for your time ;)

[2020-11-28 19:00] rickoneeleven commented on #60
Thank you 😄

[2020-11-29 07:45] cagnulein commented on #60
Another thing to test to give me more data is to try with nrfconnect when zwift doesn't see the bridge

[2020-11-29 07:46] rickoneeleven commented on #60
ohhh god not that tool, I can never make sense of it 🦗 i'll try

[2020-11-29 08:14] cagnulein commented on #60
Why? I love it, it's the best bluetooth tool in the world :D

[2020-11-29 10:36] rickoneeleven commented on #60
you asked https://photos.app.goo.gl/PdP8CE2NaiFrWpX9A

[2020-11-29 10:43] rickoneeleven commented on #60
after review of my video, i'm guessing the bridge is connecting to something else other than zwift, because i usually start the bridge first, then launch zwift and it takes 30 seconds or so to get zwift ready for BT connection, by that time the bridge has already connected to something else.

then when i kill bridge and start it again, zwift is **already running** so it connects to that first... m

[2020-11-29 10:48] urbanspike opened #61 "computer beginner : Equipment for Domyos Bike 500"
Hello,

I'm a french rider with a Domyos Bike 500.
I'm a beginner in computer.

I want to run my bike 500 with zwift.
Could you explain to me what Eqipment is required ?

I have a windows 10 computer with bluettoth or a Windows 7 seven computer with bluetooth
I have an android phone ( Samsung Note 9-Android 10)

If i understand, i need a rasberry pi for build a bridge between the bike and the comp

[2020-11-29 11:55] cagnulein commented on #61
Hi welcome aboard! I don't know if you can understand a little of italian but here you can find what you're looking for https://youtu.be/GgG3dMhmo2Y (a short startup video).

Anyway I think the easiest solution for you is using the apk for Android that you can find here https://github.com/cagnulein/qdomyos-zwift/issues/51#issuecomment-734872650

If you have any issue write here and i will follow y

[2020-11-29 12:01] cagnulein commented on #60
The bluez Is definitely the raspberry and yes we can filter out any unwanted device. I will think about it this afternoon.
Have a good Sunday lunch with your wife that she loves me :D

[2020-11-29 12:11] urbanspike commented on #61
ok, thanks for the quick reply.
I test the apk on my phone and I get back to you if needed. Thanks again

[2020-11-29 12:13] cagnulein commented on #60
Stupid shower thought: i guess it's at linux bug. So, if i created twice the zwift interface we should solve it, no?

[2020-11-29 12:14] rickoneeleven commented on #60
Only one way to find out 😆

[2020-11-29 12:21] urbanspike commented on #61
Ok, if i understand :
Install APK on my phone
Install Zwift on my pc on Windows
Paire phone and PC on bluetooth
And go ?
Is it OK ?

[2020-11-29 12:35] urbanspike commented on #61
Ok i have install APK on my Phone.
Connected with bike is OK. Just cadence (rpm) don't work. And button + or - for resistance not working on UI but if i chaage on bike it's ok (synchronisation with UI)

[2020-11-29 12:52] cagnulein commented on #61
Yes

[2020-11-29 12:53] cagnulein commented on #61
Ok i will check the plus and minus button for resistance and cadence. Did you see them correctly on Zwift?

[2020-11-29 16:13] urbanspike commented on #61
Problem:
Bike 500 and apk connection : OK
Smartphone connected on bluetooth with my windows 7 pc
Zwift installation on pc : OK
Zwift not view any bluetooth connection
Any ideas ?

[2020-11-29 16:14] cagnulein commented on #60
@rickoneeleven done! tomorrow i will add also a filter for zwift device

[2020-11-29 16:15] cagnulein commented on #61
@urbanspike try to restart the app on android, it helps.
in the mean time i fixed the cadence issue on UI

[2020-11-29 16:27] urbanspike commented on #61
restart as no effect.
is the zwift companion app useful?

[2020-11-29 16:31] cagnulein commented on #61
No the companion is useless for this. On another phone check with the nrfconnect app if you see the bridge (usually the name of the phone where you have installed the bridge)

[2020-11-29 16:45] urbanspike commented on #61
with another phone, i see with nfrconnect the bridege on my first phone.
On Zwift in my pc, no bluetooth connection view

[2020-11-29 16:56] cagnulein commented on #61
Very very strange, are you sure about bluetooth on PC? Does it see any other bluetooth devices in windows? Did you try on the other pc?

[2020-11-29 17:00] urbanspike commented on #61
i think it's a problem with my bluetooth key on pc. it's a bluetooth key 5.0 and i think it's a problem for zwift

[2020-11-29 17:07] cagnulein commented on #61
It's possible, do you try on the other pc?

[2020-11-29 17:12] urbanspike commented on #61
i have try with my second phone. i have install Zwift companion in this second phone. i have paire first phone (bridge phone) with second phone (zwift companion). Now, Zwift view a bluetooth device with the bridge phone name. It's mark connected but no transfer data.
suddenly, I think it's a problem with my bluetooth key 5.0 on pc.
I try test with a laptop on Windows 10 with intéerated bluetooth.

[2020-11-29 18:48] urbanspike commented on #61
ok. It's Ok with my laptop...YES !
But just Heart bpm not in zwift. Any Ideas ?

[2020-11-29 18:58] cagnulein commented on #61
Did you select the Heart icon on zwift when you choose the bridge?

[2020-11-29 20:12] urbanspike commented on #61
I have check. When i select heart icon on zwift, it is empty (bridge not view).
Cadence  and watts are ok...

[2020-11-29 20:46] cagnulein commented on #61
@kenands heart works for you on zwift?

[2020-11-29 21:35] marklogan17 opened #62 "Echelon Connect Sport Bluetooth Log"
I got one of the Echelon Connect Sport bikes from Walmart.  I thought it would be nice to be able to connect to Zwift and/or Peleton (any reason we can't use the bridge to fake being a cadence sensor and connect to the Peleton app?).  I followed the instructions to collect the bluetooth log on my Pixel 2 XL.  I've attached the file here.

I thought I would have a look at the file first so I sorta

[2020-11-29 21:37] cagnulein commented on #62
Great! Tomorrow I will check it and I'll start to implement it!

[2020-11-29 21:40] marklogan17 commented on #62
Thank you!  Please let me know what I can do to help.

[2020-11-29 22:16] kenands commented on #61
@cagnulein last time I tried it worked, but I didn't use my bike since 2 weeks. I will try tomorow to see if it's still working.
@urbanspike I'm french too :)
If your computer doesn't see the bridge it could be the same issue that I had #49

[2020-11-30 07:20] cagnulein commented on #62
@marklogan17 ok i will keep in mind. Just a info: which is your favourite device for the test? raspberry, linux device, android? I will build a test version for your device (or can you build it yourself?)

[2020-11-30 09:23] cagnulein commented on #62
@marklogan17 ok, i've done! 👍
you can build the last commit or, if you want, i can build it for you (tell me your favourite target device).

I guess we need several tries to have something working correctly, but we should see at least a connection on this commit.

Just a few questions:
1. i didn't see any frame to the display of the echelon. Do you have a display on your bike? If yes i guess it's

[2020-11-30 09:27] cagnulein opened #63 "elevation gain doesn't work"
elevation gain on treadmill is always 0

[2020-11-30 10:40] rickoneeleven commented on #60
cool, i'll be running tonight so can test it then :heart:

[2020-11-30 10:45] #63 closed

[2020-11-30 10:49] cagnulein commented on #51
i've just release the android version on the main page https://github.com/cagnulein/qdomyos-zwift/releases/tag/1.0.0
I'm closing this one. If you have some android specific issue, feel free to open a new issue.
Thanks

[2020-11-30 10:49] #51 closed

[2020-11-30 10:56] cagnulein commented on #62
you should see on the UI and also in the console log the resistance level. And yes, i guess it's more fine grained for what i saw in your snoof log.

[2020-11-30 13:25] marklogan17 commented on #62
Wow I woke up to all kinds of progress :) I do have a couple of pi's around but the quickest turn around time for me now would be an android build.  I'm happy to also test the pi one.  I'll read the build instructions to see if I can set up a manual dev environment to save that step in the future for you guys, but it may take a couple of days.

to answer your questions:
1) There is no display on t

[2020-11-30 13:32] cagnulein commented on #62
[android-build-debug.zip](https://github.com/cagnulein/qdomyos-zwift/files/5616152/android-build-debug.zip)
this is the android version. allow positiong and storage permission so it should log to the download folder.
if it works or if it doesn't, post here the log
thanks :)

1. , 2. and 3. ok :)

[2020-11-30 14:08] marklogan17 commented on #62
I installed it and tried it.  It starts up and connects to the bike.  All the values are zero except the Odometer is reading something like 2500Km.  I tried cycling at various different cadence and resistance levels but the displays stayed at zero.  I then went in the Download folder to get the log and there was none.  Researched the android build and realized I needed the storage permission so I

[2020-11-30 14:26] cagnulein commented on #62
@marklogan17 for the odometer i had already fixed it. I'm checking the log too, because it doesn't write it on my android 10 phone neither. I'm looking into it.

[2020-11-30 14:36] cagnulein commented on #62
[android-1.1.0.zip](https://github.com/cagnulein/qdomyos-zwift/files/5616530/android-1.1.0.zip)
ok odometer and logs fixed. please retry ;)

[2020-11-30 14:59] marklogan17 commented on #62
Log attached.
[debug-Mon Nov 30 09_48_53 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5616684/debug-Mon.Nov.30.09_48_53.2020.log)

[2020-11-30 15:03] cagnulein commented on #62
@marklogan17 did you ride during this log? because i saw everything to 0. maybe i missed something in the init phase in order to give a "start" command

[2020-11-30 15:09] cagnulein commented on #62
[android-1.1.1.zip](https://github.com/cagnulein/qdomyos-zwift/files/5616751/android-1.1.1.zip)
fixed! stupid typo on init phase! @marklogan17

[2020-11-30 16:10] marklogan17 commented on #62
Nice work!

- Cadence looks like its working correctly.
- Distance is counting but seems off - felt like maybe its displaying meters are Km?  i.e. 2.50 Km should be 250m - but that's just a guess based on watching the display as I rode for a couple of minutes.
- Resistance is just displaying '0'.  I did hit the +/- buttons on resistance a couple of times to see if that triggered it to start readin

[2020-11-30 16:22] cagnulein commented on #62
Great! Now I'm outside but i Will check the log later today
For the odometer: i just read a pure number and i divide by ten, i really don't know which is the unit, but yes could be km. In any case this value is not useful to zwift.

See you later

[2020-11-30 18:12] cagnulein commented on #62
[android-1.1.2.zip](https://github.com/cagnulein/qdomyos-zwift/files/5617853/android-1.1.2.zip)
resistance fixed! (another stupid typo :P)

about the odometer: i guess i will add a unit option in order to let you select the correct unit in the UI (zwift wants km)

[2020-11-30 18:28] cagnulein commented on #62
[android-1.1.3.zip](https://github.com/cagnulein/qdomyos-zwift/files/5617967/android-1.1.3.zip)

ok i also fixed the odometer dividing it by 10

we have only to prepare a better watt table.

[2020-11-30 18:54] cagnulein commented on #62
[android-1.1.4.zip](https://github.com/cagnulein/qdomyos-zwift/files/5618111/android-1.1.4.zip)

added a watt table too.

[2020-11-30 19:13] marklogan17 commented on #62
got a few calls for the next couple of hours.  Will test again as soon as I can get free.  Thanks again for all your work on this.

[2020-11-30 19:41] urbanspike commented on #61
Hello,
Some test this evening with Zwift and bridge android application
1: When i start android application, no problem with connection on bike but screen on bike is frozen.First data has receive but after, frozen.
2: Heart bpm view on bridge and work but no view in Zwift and impossible to link.
3: Cadence RPM view on Zwift but no on bridge
4: Name bike detected on bridge application is "Domyos_Bi

[2020-11-30 19:42] cagnulein commented on #62
Ok, no problem, I'm GMT+1 so i guess we will update tomorrow ;)

Have a good day ;)

[2020-11-30 19:56] cagnulein commented on #61
Thank you for your test:
1. Could you please install the version 1.1.0 that you find in the release and send me the log?
2. I have an idea about it, i have to add an option on the android app to solve it
3. Ok i will check it
4. Isn't right?
5. I put the resistance equal to the inclination. So you mean I have to double it? Ok no problem
6. I send the speed to zwift but i guess Zwift recalculated i

[2020-11-30 20:03] urbanspike commented on #61
Name Bike is Domyos Bike 500, it's a detail ;-)
Ok, i test release 1.1.0 and send you log
Have a nice evening and huge thank you for your work

[2020-11-30 20:07] cagnulein commented on #61
Hah ok, that was the bluetooth name! ;)

[2020-11-30 21:17] urbanspike commented on #61
Cadence are ok on bridger with 1.1 version.
Where is the log file ? On phone ?

[2020-11-30 21:47] cagnulein commented on #61
Ups sorry, Yes in the download folder of the phone. You have to enable the storage permission for the bridge app

[2020-11-30 22:05] urbanspike commented on #61
Different debug file
[debug-Mon Nov 30 22_49_29 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5618979/debug-Mon.Nov.30.22_49_29.2020.log)
[debug-Mon Nov 30 22_47_39 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5618980/debug-Mon.Nov.30.22_47_39.2020.log)
[debug-Mon Nov 30 22_45_09 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5618982/debug-Mon.Nov.30.22_45_09

[2020-11-30 22:07] marklogan17 commented on #62
Cadence and Resistance looking good.  I'll have to pay some attention to distance to see if I can figure it out, but as you said, not a huge deal.  I think your watt table is a good start.  The Echelon app does output watts so I'll get some values of resistance vs cadence w/ associated watt values.  I'm just not sure if the app is calculating the watts based on resistance/cadence/bike version or i

[2020-12-01 02:00] marklogan17 commented on #62
I did some more riding tonight.  Loos like the distance from the bike is in miles so that's likely the reason its still a touch off.  I've started creating a watt table.  I looked at your code and see how you have it set up so I'll get min/max values for various cadences and we can extrapolate from there.  I did find the equation that Peleton uses to calculate output watts from cadence and resista

[2020-12-01 04:49] cagnulein commented on #62
I guest the best way is to have a reverse engineering approach: so, for example, record a video of the app showing the watt, cadence and resistance for 1-2 minutes and we can build a chart on excel and of course a math formula.
Does it sound good for you?

[2020-12-01 05:02] marklogan17 commented on #62
That's what I started. I did 60,70,80,90,100 cadence at various resistance levels and tracked output. I'm going to do 40 and 50 cadence, maybe some at 110 and possibly 120. I started at resistance 10 and went up to 31 by 3 to 4 levels at a time.  Will do some measurements at 0 and 5 resistance too. That should give enough info to extrapolate the rest.

It's midnight here so going to sleep now. Wil

[2020-12-01 05:18] cagnulein commented on #62
Great! Here is already Tuesday :) have a good night!

[2020-12-01 07:00] cagnulein commented on #61
@urbanspike ok i guess i fixed the display issue. i will build a new version later today.
@kenands are you ok if i will double the resistance in zwift? Now is, for example, 2% inclination = resistance level 3. i will do 2% inclination = resistance level 5

[2020-12-01 07:14] kenands commented on #61
@cagnulein sorry I didn't get the time to test yesterday.
About the resistance, I agree with @urbanspike I have the same feeling, it's too much easy at low % inclination.
I think, instead of doubling the resistance it could be better if you align 0% inclination at level 3 of resistance and add +1 on resistance for each increase of % inclination.
Thanks :)

[2020-12-01 07:52] urbanspike commented on #61
yes everyone has a different feeling but the proposal to start at level 4 for a slope of 1% is a good compromise

[2020-12-01 07:52] cagnulein commented on #61
[android-1.1.5.zip](https://github.com/cagnulein/qdomyos-zwift/files/5620980/android-1.1.5.zip)
@urbanspike in this version:
- i should fixed the display issue
- i should fixed the heart rate issue
- i changed the brdige name on bluetooth in order to save bluetooth data on advertising
- i doubled the resistance level

feedbacks are welcome :)

[2020-12-01 08:05] cagnulein commented on #61
ok, in the meantime test the 1.1.5 version when you have spare time. I will add anyway some parameters. i guess it's best solution even for the future

[2020-12-01 08:10] kenands commented on #61
I agree with you, It's a good feature idea, as it, every one could be choose his own level :)

[2020-12-01 11:17] urbanspike commented on #61
Ok quickly test 1.2.0:
When i change bpm settings and reboot bridge, setting always off...
In zwift no bpm view cause bridge setting is off.
Screen on bike is ok, live data ok.

[2020-12-01 11:24] cagnulein commented on #61
argh i'll check it! thanks

Right :)

Wow! Great!

[2020-12-01 13:02] cagnulein commented on #61
[android-1.2.1.zip](https://github.com/cagnulein/qdomyos-zwift/files/5622710/android-1.2.1.zip)
heart rate setting fixed @urbanspike

[2020-12-01 14:18] urbanspike commented on #61
I test as soon as possible

[2020-12-01 14:30] rickoneeleven commented on #60
tested it this morning, still needed to do a kill/go shuffle to get it to advertise bridge ⚡

[2020-12-01 14:39] cagnulein commented on #60
ok thanks, it would have been too easy

[2020-12-01 16:05] cagnulein commented on #60
@rickoneeleven only if you have time to put in the toilet: i found that the command 'btmon' could sniff the HCI commands to the raspberry bluetooth adaptor.

So if we run btmon in parallel for 2 session (1 not working and 1 does) we should compare them and try to understand something more.

I will do it myself if only i was able to reproduce it /(

[2020-12-01 16:08] cagnulein commented on #60
OMG! I found it i guess https://bugreports.qt.io/browse/QTBUG-53224?jql=text%20~%20%22Advertising%20disable%20failed%22
I will explain to you better tonight

[2020-12-01 16:32] rickoneeleven commented on #60
i still think it's related to the bridge disappearing quickly on the first start, as if it's connecting to something else, where you going to add a filter so the bridge would only take connects from the zwift app?

[2020-12-01 16:45] urbanspike commented on #61
OK, big problem with this version with heart bpm active or not.
At start app, bike connected bluetooth is ok but no data on bridge and on bike.
After 30sec-1min, bike disconnecte from bridge and go in normal mode (no bluetotth - go in "manual" mode)
therefore, on zwift, when you want pair bridge, bridge view ok but "no data" appaear and lost connection after some second.
If i restart bridge app, s

[2020-12-01 16:52] urbanspike commented on #61
quickly test version 1..1.5, same problem
I think bug start with version
sorry

[2020-12-01 16:58] cagnulein commented on #61
It changes only a line of UI code between the 2 versions, i guess it's
impossibile. Did you try to toggle the bluetooth on your phone? Did you try
to rollback to the previous version?

Il mar 1 dic 2020, 17:45 urbanspike <notifications@github.com> ha scritto:

[2020-12-01 17:01] urbanspike commented on #61
ok restart my phone, my bluetooth and test again 1.1.5

[2020-12-01 17:09] urbanspike commented on #61
Confirme freeze after few second...wtf

[2020-12-01 17:39] urbanspike commented on #61
[debug-Tue Dec 1 18_36_02 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5624332/debug-Tue.Dec.1.18_36_02.2020.log)
Debug smith freeze if hello you

[2020-12-01 17:52] urbanspike commented on #61
I observed the problem. when the bridge no longer works, i no longer see the bluetooth of the bike on the phone. if I close the bridge it is again visible. I compared with kinomap and I do not have this problem or any other. is it.possible that the.bridge saturates the bike?

[2020-12-01 18:11] urbanspike commented on #61
I have compare two log:
Nov 30.22_45_09 and Dec 1 18_36_02
i see in nov and dec log a line
Device found:  "Domyos-Bike-0003" "57:4C:54:A0:57:50" isLeScanResult: false Manufacturer data size: 0
But on dec log i see an another line device found
Device found:  "" "74:BF:A9:82:E6:27" isLeScanResult: false Manufacturer data size: 0
is it possible that another device is causing me problem ?

[2020-12-01 18:16] cagnulein commented on #61
Thank you for the log. I understood the issue (it related to the display issue that you saw the day before yesterday).
Today i understood from you that the display was ok, but at this point I misunderstood you, isn't it?

Anyway tomorrow I will fix it, and no, the found device is just a signal that you have another bluetooth device in the neighborhood, but it's a normal behavior.

I will let you k

[2020-12-01 18:16] marklogan17 commented on #62
I did a little ride and got more values and updated the spreadsheet.  So I have values for resistance levels 1, 5, 10, 13, 15, 18, 21, 25, 28 and 31 - and cadence values for 40, 50, 60, 70, 80, 90, 100 and 110.   I then extrapolated the likely values for the resistances in between (rows highlighted in blue in spreadsheet).  Finally I used the Excel/Google Sheets 'TREND' formula to populate the val

[2020-12-01 18:26] urbanspike commented on #61
arf, I try to help with my little knowledge ...
When I said yesterday that the display was ok, it was because for a while, I don't know which version, the display was ok on the bridge and on the bike live. I did not test for long but it was ok. Stroke of luck ?

In any case, thanks for the work, if we get an ok version for android and zwift, it's a big step forward for all those who have home trai

[2020-12-01 21:26] cagnulein commented on #60
filter is not so easy to insert but if you have this doubt, we can check the log: in the log the device who connects to the bridge will be printed out

[2020-12-01 21:28] cagnulein commented on #61
[android-1.2.2.zip](https://github.com/cagnulein/qdomyos-zwift/files/5625540/android-1.2.2.zip)
i can't sleep leaving this open :D so i made a little modification: i put a timeout in case something strange happens (logging it). So now it should work.
In case it doesn't, send me the log

[2020-12-01 21:36] cagnulein commented on #62
Wow great work!
Yes my code uses only min and max watts for each cadence, but i did in this way only because i don't have so much data to use for domyos bike :)

If you want, you can do a final step (or i can do it tomorrow): we can generate a math formula from these datas. I know that Excel has this feature. (add the data to a chart, add also the trend line and the formula behind the trend line).

[2020-12-01 21:51] urbanspike commented on #61
lol developers, you are crazy. but it's true it takes the head these stories. I'm testing this tomorrow morning, if I go now my wife will kill me ...😂

[2020-12-01 21:59] cagnulein commented on #61
I'm a home wrecker, ask to @rickoneeleven :P

[2020-12-01 22:08] marklogan17 commented on #62
I'll play with it while I'm working out tonight.  When I tried out the trend line on the chart last night it generated a straight line approximation which would really just work out the same as the math you already have with the min/max values.  I'll see if I can use Excel to get a more precise formula that matches the real values more appropriately.

[2020-12-01 22:23] kenands commented on #61
@cagnulein you are crazy and too fast, we can't follow you 😂
I tried the 1.2.1 and you already did 1.2.2.

1.2.1, doesn't work for me, the display console of bike is black without data until I pushed on the return button of my phone and came back on the app, at this moment console of bike wake up but I have to quit the app fastly because it was increasing and decreasing resistance of the bike to m

[2020-12-02 00:45] marklogan17 commented on #62
I played with Google Spreadsheets more than I care to admit.  I generated charts for the various cadences vs resistances and then found best fit.  Then I used the relationship of the values in the generated equations to the cadences - and generated a second equation to match that.  I combined them so that I now have two equations that come reasonably close to my measured values.  They get worse as

[2020-12-02 07:10] cagnulein commented on #61
ok i guess i found your issue @kenands , @urbanspike wait 1.2.3 before testing it

[2020-12-02 07:20] cagnulein commented on #61
[android-1.2.3.zip](https://github.com/cagnulein/qdomyos-zwift/files/5627569/android-1.2.3.zip)
ok @urbanspike i fixed the issue reported by @kenands
let's test :)

[2020-12-02 07:32] cagnulein commented on #62
[android-1.2.4.zip](https://github.com/cagnulein/qdomyos-zwift/files/5627622/android-1.2.4.zip)
ok @marklogan17 i implemented the function inside the apk. Let's try!

[2020-12-02 07:37] cagnulein commented on #60
for example, in this log, i saw no sign at all of a connection to the bridge. so i guess the path "something is connecting to my bridge without my consent" it's a wrong way.

When you will have some time, i guess the correct way it's using the btmon, i'm quite confident that the issue is in the bluez qt implementation. But i need some logs to send to the qt guys

[2020-12-02 09:56] urbanspike commented on #61
Hello,
Test 1.2.3 version. It's OK

[2020-12-02 09:57] cagnulein commented on #61
@urbanspike why did you close it? :D

[2020-12-02 10:01] urbanspike commented on #61
Hello,
I have test latest version.
It is ok ! Bike and bridge live data ok. Bike screen ok.
Hart bpm active ok
I will test with zwift later, not possible for the moment
Log file
[debug-Wed Dec 2 10_41_55 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5628391/debug-Wed.Dec.2.10_41_55.2020.log)

[2020-12-02 10:03] urbanspike commented on #61
Sorry for closing, wrong handling

[2020-12-02 10:07] cagnulein commented on #61
@urbanspike great! very good news! i saw in your log that my last night modification had effect! so your bike is perform different from the @kenands one, domyos' mistery :D

[2020-12-02 10:17] urbanspike commented on #61
my bike is very recent, i bought it less than a month ago. Maybe they still made changes in their firmware.
I test zwift at the end of the morning.

[2020-12-02 11:06] cagnulein commented on #61
yes, there are 2 different firmware for the same bike. You have the newest one :)

[2020-12-02 11:13] urbanspike commented on #61
I tested zwifte.
very stable. I just still have the problem with the heartbeat. I activated the option though.
Zwift cannot see the beat and cannot pair.

Another problem: at the start of the session, if my hands are not on the sensors of the bike, the bpm rises regularly and if I put my hands on the sensors, the beats are again seen and applied to the bridge with the correct measure . Weird. And

[2020-12-02 11:13] urbanspike commented on #61
[debug-Wed Dec 2 12_09_36 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5628849/debug-Wed.Dec.2.12_09_36.2020.log)

[2020-12-02 11:14] urbanspike commented on #61
[Uploading debug-Wed Dec 2 11_53_37 2020.log…]()

[2020-12-02 11:16] urbanspike commented on #61
[Uploading debug-Wed Dec 2 11_53_37 2020.log…]()

[2020-12-02 11:19] cagnulein commented on #61
when you change the option did you reboot the app?

i guess you will see the same behaviour even with kinomap. Domyos is famous about having issue on their heart sensor. My cardio belt does some strange things too, but it's not releated to the bridge

[2020-12-02 11:19] urbanspike commented on #61
[debug-Wed Dec 2 11_53_37 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5628872/debug-Wed.Dec.2.11_53_37.2020.log)

[2020-12-02 11:21] urbanspike commented on #61
Yes i have active option in settings and reboot app. Option active when i open bridge again.

[2020-12-02 11:21] cagnulein commented on #61
and you tried even with the option to false?

[2020-12-02 11:23] urbanspike commented on #61
no try with false... I test...

[2020-12-02 11:41] urbanspike commented on #61
Test with false
sometimes the beats are seen but we receive in zwift "no transmissions" and the possibility of making the pairing disappears.
Another problem with the option to false, impossible to match the bridge for cadence, resistance and power, it is not seen in zwift.

And confirm on true option, just heartbeat not view on zwift.

[2020-12-02 11:45] cagnulein commented on #61
Ok i Will have another look to the heart attribute. I will tell you something this afternoon

[2020-12-02 12:39] cagnulein commented on #61
ok i see the heart rate issue me too here simulating a bike. it's a zwift issue because with nrfconnect the heart rate worsk well...i would like to create a workaround..

[2020-12-02 12:52] cagnulein commented on #61
[android-1.2.5.zip](https://github.com/cagnulein/qdomyos-zwift/files/5629363/android-1.2.5.zip)
ok fixed. i also attached a screenshot of zwift
![IMG_20201202_134652](https://user-images.githubusercontent.com/48216/100874941-98a30200-34a5-11eb-8d80-4e00f2c14355.jpg)

[2020-12-02 13:39] urbanspike commented on #61
Sorry but exactly same problem with previous version.
If settings = true everything is ok except heartbeat, no view on zwift, even with the search button
If setting = false the beats appear but no recpetion indicates zwift and watts, cadence and invisible resistance for zwift
![heart](https://user-images.githubusercontent.com/20811473/100879683-06522c80-34ac-11eb-8ebb-a019f4d80a77.png)

[2020-12-02 13:45] marklogan17 commented on #62
Only had time for a quick test but its looking good!!

I did also do a quick test to see if I could connect as cadence to Peleton but that didn't work - but that's a separate issue.  I will create a Zwift account and give it a try there too.

Now that we have it working I'll do a test of similar cadence over say a minute, between the Echelon app and this app and compare all the values - output, sp

[2020-12-02 14:10] cagnulein commented on #61
@urbanspike  did you stay for some moment (30 seconds or so) searching the heart? i guess it's something about windows because on zwift on android works

[2020-12-02 14:25] cagnulein commented on #62
try to play with the heart rate setting (disable/enable it, reboot the app and retry)

[2020-12-02 14:34] urbanspike commented on #61
yes i am stay for test. again same problem
rrrrrrr
![heart2](https://user-images.githubusercontent.com/20811473/100886219-de66c700-34b3-11eb-8cea-fb6d3c0ad7ce.png)

[2020-12-02 14:39] cagnulein commented on #61
zwift creates a log file on its log folder, could you please send me it? maybe we're lucky and there is something relevant inside

[2020-12-02 14:47] urbanspike commented on #61
[Log (old 1).txt](https://github.com/cagnulein/qdomyos-zwift/files/5630010/Log.old.1.txt)
[Log.txt](https://github.com/cagnulein/qdomyos-zwift/files/5630011/Log.txt)
here are the two logs that seem interesting to me. These are the ones from my tests earlier. We see that from time to time, zwift sees a heart sensor and then loses it ... I look on the forums if some people do not have the same probl

[2020-12-02 14:50] cagnulein commented on #61
another stuff looking zwift log: which is your name of the android bluetooth device? mine is "mi", try to put "mi" too because if the name is too long you will loose space for useful bluetooth bytes!

[2020-12-02 14:52] urbanspike commented on #61
I think the name is Galaxy Note9. I'm looking for where to change it

[2020-12-02 14:52] cagnulein commented on #61
it's in the bluetooth settings of your phone

[2020-12-02 15:02] urbanspike commented on #61
I had a flash. I have a connected watch (honor) which is connected via bluetooth on this phone. I rarely put it on but it is well connected !!! I'm sure that's what prevents bluetooth from transmitting to zwift because it is already occupied by the watch ... I'm testing right away, let's cross the lines

[2020-12-02 15:05] cagnulein commented on #61
i'm not so sure about this is the issue, but let's try :)
anyway remember also to check the name of the bluetooth phone and put it as 'mi'

[2020-12-02 15:36] urbanspike commented on #61
watch off and Huawei app closed. false trail, still the same problem. with the option to true everything works except the heart. and with the option set to false, the heart is sometimes detected but the connection is quickly lost and the other options invisible for zwift

[2020-12-02 15:50] cagnulein commented on #61
Did you change the phone name? Is very important

[2020-12-02 15:54] urbanspike commented on #61
Yes change to mi and zwift view bridge on "mi" name now. Nothing change...

[2020-12-02 16:00] cagnulein commented on #61
Ok thanks, i have to think about it

Il mer 2 dic 2020, 16:54 urbanspike <notifications@github.com> ha scritto:

[2020-12-02 17:30] cagnulein commented on #61
[android-1.2.6.zip](https://github.com/cagnulein/qdomyos-zwift/files/5630993/android-1.2.6.zip)
last build for today: try it with setting = false. I put the heartrate service as "secondary" (before this build FTMS and Heart rate were primary both). Maybe this is the reason why zwift find only the heartrate.

Finger crossed @urbanspike !

[2020-12-02 18:24] urbanspike commented on #61
I did a zwift session with version 1.2.5 with the option enabled.
I had a loss of connection from the bridge to the bike. I think the phone went to sleep.
So I restarted the bridge, redone the pairing to zwift and continued my session, but this time even though zwift marked the bike as controllable for resistance, it was no longer done by itself. I continued anyway and changed the resistance manua

[2020-12-02 18:48] cagnulein commented on #61
I have to manage better the power management: i enabled in the developer settings the option to keep the display on but i have to manage inside the apk.

About the heart issue: tomorrow i will install zwift on a windows notebook and i would like if I will see the same issue.

To the next episode ;)

[2020-12-02 18:50] cagnulein opened #64 "Avoid sleep on android"
I did a zwift session with version 1.2.5 with the option enabled.
I had a loss of connection from the bridge to the bike. I think the phone went to sleep.
So I restarted the bridge, redone the pairing to zwift and continued my session, but this time even though zwift marked the bike as controllable for resistance, it was no longer done by itself. I continued anyway and changed the resistance manua

[2020-12-03 02:00] marklogan17 commented on #62
1) Connected to Zwift on iOS no problem tonight.  Speed, Cadence, etc all seemed to come across.  Only did a very quick test.
2) Failed to connect to Peleton.  However it is just looking for a cadence sensor so I'm wondering if its a bluetooth connection priority thing?  Seems that Zwift connects to the speed sensor first and then auto connects to the others?

3) Watt calculations look to be 'clos

[2020-12-03 05:56] cagnulein opened #65 "Peloton compatibility"
Failed to connect to Peleton.  However it is just looking for a cadence sensor so I'm wondering if its a bluetooth connection priority thing?  Seems that Zwift connects to the speed sensor first and then auto connects to the others?

_Originally posted by @marklogan17 in https://github.com/cagnulein/qdomyos-zwift/issues/62#issuecomment-737610453_

[2020-12-03 05:59] cagnulein commented on #65
@marklogan17 ok it should be easy to solve. Zwift looking for a FTMS device, peleton, instead, looking for a cadence sensor only. I could add an option to switch the behavior of the bridge.

What do you think?

[2020-12-03 06:03] cagnulein commented on #62
1. Great!
2. I created a separate issue
3. Ok i trust you :D
4. Ok this should be easy too to solve. Now I'm using a pure data on bluetooth that i guessed was the distance, but maybe it's something else. Anyway, we know the cadence so we can derive the speed and also the distance if you know the ratio. And what? We know the ratio, because the echelon app shows the speed! :)

So if we divide speed

[2020-12-03 06:05] cagnulein commented on #64
Duplicate #59

[2020-12-03 06:05] #64 closed

[2020-12-03 06:12] cagnulein opened #66 "Miles settings on UI (only Desktop)"
Add an option to change the unit in the UI (only in the UI, zwift needs km)

[2020-12-03 10:47] cagnulein commented on #65
https://learn.adafruit.com/bluetooth-bicycle-speed-cadence-sensor-display-with-clue/cycling-speed-and-cadence-service

[2020-12-03 10:50] cagnulein commented on #48
@firetrappe is everything allright? i'm starting to worry about you

[2020-12-03 11:11] cagnulein commented on #65
i downloaded the peloton app but i don't understand how can i connect a bluetooth device to the app XD

[2020-12-03 11:26] cagnulein commented on #57
can we close this? or it's too early?

[2020-12-03 11:28] rickoneeleven commented on #57
Yeah let's close it, I had one seg fault and it reconnected, if I have any issues that aren't quite right I'll just raise a new issue.

Thanks for implementing this! ❤️

[2020-12-03 11:51] #57 closed

[2020-12-03 12:40] cagnulein commented on #31
this weekend i would like to build it statically, i think it's best solution https://doc.qt.io/qt-5.9/osx-deployment.html

[2020-12-03 13:31] marklogan17 commented on #62
Alright, I did a quick ride and grabbed cadence vs speed.  I then figured out the ratio (its all in tab three of the spreadsheet), but the short answer is:  the speed in MPH is 0.233 times the cadence.  I agree with you that your software should live in Km/h so the actual formula is:

speed (kph) = 0.233 * cadence * 1.60934
(or slightly optimized) speed = 0.37497622 * cadence

[2020-12-03 13:37] marklogan17 commented on #65
That sounds like the way to go.  Unfortunately it seems that Peleton's android app is severely limited and you can only connect a Heart Rate Monitor currently. Lucky I had an iPhone for work that I can use to test against :). I wonder if there's an equivalent android app that receives info from a cadence sensor that we could also test with.  I'll search.

[2020-12-03 13:46] cagnulein commented on #65
@marklogan17 ok, in case you don't find it, you'll be my tester :D

[2020-12-03 14:44] marklogan17 commented on #65
Looks like Kinetic Fit is free and will connect to Cadence sensors.  You would need to create an account but then should work.  I've installed it so I'll test with both it and Peleton.
https://support.kurtkinetic.com/hc/en-us/articles/206235206-Getting-Started-Pairing-Sensors-Android-

Supposedly the Wahoo app will connect with third party sensors too.  I may download that as well.

[2020-12-03 14:51] cagnulein commented on #65
i already wrote the code. tonight/tomorrow morning i will test it

[2020-12-03 14:53] marklogan17 commented on #65
:) You're too fast!

[2020-12-03 15:19] cagnulein commented on #62
@marklogan17 implemented, in the next release you will find the speed and distance (hopefully :D)
i guess to release a new one, tomorrow

[2020-12-03 15:40] drainuzzo commented on #32
Hey I'm back :)

I made some test to check the real distance of my TR, and I found there are meaningful differences regarding the speeds and distances reported on the TR, I can post the results but this is not related to the Bridge so I don't know if these can be useful for the program

Now I will update the program end retry with sudo to see what happens..

[2020-12-03 15:52] cagnulein commented on #32
hi @drainuzzo ! welcome back! in the meanwhile i built an android version, i don't know if it could be useful for you...

[2020-12-03 16:00] cagnulein commented on #54
@mitchoklemen any news?

[2020-12-03 16:01] drainuzzo commented on #32
Could be useful, but I can run Zwift and the bridge on the same device?

[2020-12-03 16:07] cagnulein commented on #32
no you can't @drainuzzo
Maybe in the future you will do but only on Windows.

[2020-12-03 16:11] urbanspike commented on #61
Hello,
just for information. I installed zwift on my Samsung Galaxy Note 9 (the one I used as a bridge until then). I have a second phone (Galaxy S7 Edge) but it is in android 6. I am updating it, it is currently in android 7 nougat. Is this version ok for the bridge?

[2020-12-03 16:16] cagnulein commented on #61
I never tested it, but yes i guess so! :)

Il gio 3 dic 2020, 17:12 urbanspike <notifications@github.com> ha scritto:

[2020-12-03 16:25] drainuzzo commented on #32
Tried all with sudo, after 2 reboots

[code]

Crashed, after a bit, sometimes sooner someother after the BT connection

attached logs
[debug-TR-AppGate-5.zip](https://github.com/cagnulein/qdomyos-zwift/files/5637431/debug-TR-AppGate-5.zip)

[2020-12-03 16:51] urbanspike commented on #61
Bluetooth ok and bike connection ok but no zwift cast (gray icon)
Update continu to next android version....

[2020-12-03 17:27] cagnulein commented on #61
The Gray zwift icon means that no zwift client is connected. Had you try to
search it?

Il gio 3 dic 2020, 17:52 urbanspike <notifications@github.com> ha scritto:

[2020-12-03 17:58] cagnulein commented on #32
This is new! The TOORX0083 device is trying to connect TO the bridge! It's
insane! Did you change something? Maybe the toorx firmware?

Il gio 3 dic 2020, 17:25 drainuzzo <notifications@github.com> ha scritto:

[2020-12-03 18:26] urbanspike commented on #61
search zwift client ?

[2020-12-03 19:28] cagnulein commented on #61
I mean, when the zwift icon is gray on the bridge means that you're not connected to zwift. So you have to open your zwifr client and search the bridge.

On newest android version (10 and 11) the zwift icon is always on but it's a bug.

[2020-12-03 19:30] cagnulein opened #67 "Elevation gain measure less meters"
Probably i have to fix the qtimer used in the math

[2020-12-03 19:31] cagnulein opened #68 "Add calories to zwift"
Add calories to ftms

[2020-12-03 20:37] cagnulein commented on #61
@urbanspike i'm trying zwift on Windows 10, no bluetooth device found. I found this on zwift log [21:30:11] BLE  : Native BLE - Bluetooth Radio NOT Found.

It's, of course, a different issue from yours. Zwift on Windows is really a shit :D

[2020-12-03 20:45] cagnulein commented on #61
ok @urbanspike now i'm seeing exactly your same issue. Let's investigate! :D

[2020-12-03 20:56] urbanspike commented on #61
Ha ha windows is a shit...
With my second phone (android 8.0 max...), bridge stopping after 30sec....
suddenly, I try the opposite (bridge on android 10 and zwift on android 8) Test .....
Ha ha big problem, zwift sees the bridge for a few seconds then loses it ...
Definitely no luck ...
IF you have the same problem as me, good or bad news LOL

[2020-12-03 21:03] cagnulein commented on #61
it's definitely a good news for you and a bad news for me :P

[2020-12-03 21:16] cagnulein commented on #61
![Immagine](https://user-images.githubusercontent.com/48216/101088472-12291600-35b4-11eb-8f79-f9d09203f8f9.png)
seems stable to me,
[versione 1.2.5](https://github.com/cagnulein/qdomyos-zwift/files/5629363/android-1.2.5.zip)
settings = false

**would you like to know the secret?**
When you first bond the 4 icon the first time, after some seconds you got a "no signal" error, isn't it? ok, after thi

[2020-12-03 21:21] cagnulein commented on #61
i guess i got it!!! i'm checking but i found a small issue that cause zwift going mad on windows ahahah if so, tomorrow morning i will shit in front of the microsoft HQ :D

[2020-12-03 21:31] urbanspike commented on #61
![zwifterror](https://user-images.githubusercontent.com/20811473/101090591-2de1eb80-35b7-11eb-82c6-78639f82953d.png)
I tested the method.
The problem is that when the option is wrong, I never have the resistance and the cadence detected.
It's crazy. I have several connection which opens in "Potenza" and "Frequenza cardiaca" as in the photos

[2020-12-03 21:33] cagnulein commented on #61
yes it's normal, just select always the last one. every time you disconnect zwift from the bridge, the bridge recreates an instance of its self

[2020-12-03 21:35] cagnulein commented on #61
do this step:
select potenza, cadenza controllabile and frequenza cardiaca (in this order i always did)
wait that zwift says "no signal" and then deselect them all.
after this reselect potenza, cadenza controllabile and frequenza cardiaca (in this order i always did)

[2020-12-03 21:36] urbanspike commented on #61
the problem is that I do not touch the bridge it is always open on the telephone and well connected to the bike and the bike and the bridge exchanges information live. Just in zwift, the different connections happen as they go. If I select one, it switches to no connections after a few seconds and then disappears. it only does this when I have the false option. if I set to true everything is ok ex

[2020-12-03 21:38] cagnulein commented on #61
yes @urbanspike do exactly what i write upthere

`do these steps:
select potenza, cadenza controllabile and frequenza cardiaca (in this order i always did)
wait that zwift says "no signal" and then deselect them all.
after this reselect potenza, cadenza controllabile and frequenza cardiaca (in this order i always did)`

[2020-12-03 21:39] cagnulein commented on #62
i'm testing #61 with @urbanspike for tonight @marklogan17 , so i will release a version for you tomorrow, sorry ;)

[2020-12-03 21:42] urbanspike commented on #61
![Uploading 20201203_223936.jpg…]()

[2020-12-03 21:45] urbanspike commented on #61
yes I understood that I had to select the first time in order, remove everything and redo it. The problem as I said is that the control and the pedaling frequency are not detected by zwift, impossible to select it. I upload a photo

[2020-12-03 21:45] cagnulein commented on #32
i will check it closer tomorrow ;)

[2020-12-03 21:47] urbanspike commented on #61
![20201203_223936](https://user-images.githubusercontent.com/20811473/101092055-54a12180-35b9-11eb-8225-7ada71262772.jpg)

[2020-12-03 21:47] cagnulein commented on #61
i'm making a video, just to be sure

[2020-12-03 21:48] urbanspike commented on #61
Ok no pb

[2020-12-03 21:55] cagnulein commented on #61
https://drive.google.com/file/d/1qpRZqUiuaVsa3__-T-wYb4AGiQueD9qq/view?usp=sharing

[2020-12-03 21:57] cagnulein commented on #61
anyway, now i'm going to bed now. we will continue in the next days :D
have a nice night

[2020-12-03 22:09] urbanspike commented on #61
I confirm as in my photo. I can select "potenza" but no data. "cadenza" is invisible as "controllabile". "Freqenza cardiaca" is also visible but no data. and I have the option "heart rate service outside FTMS" which is false. good night.

[2020-12-03 22:12] cagnulein commented on #61
Ok maybe there is something else different.
I will try to understand why I have to reconnect in order to have a stable condition. Maybe the key of problem is there.

[2020-12-04 04:38] cagnulein commented on #61
ok i found it something: it's releated to this https://stackoverflow.com/questions/59965595/ble-status-gatt-conn-terminate-peer-user-if-ble-server-is-running-on-android-6 and infact, if i disable the scanning in BTLE, the first connection issue disappear!
The issue, when it's present, it's still visible on nRFConnect too.

My plan now is to wait some moment before starting the bridge, waiting that

[2020-12-04 05:57] cagnulein commented on #60
I think it's related https://github.com/cagnulein/qdomyos-zwift/issues/61#issuecomment-738559748
This morning i will release a patch, maybe fix this issue too

[2020-12-04 06:25] mitchoklemen commented on #54
Sorry didnt have time to test... I'll try this weekend. Will report!

[2020-12-04 06:44] rickoneeleven commented on #60
Cool ill test later ❤️

[2020-12-04 07:28] drainuzzo commented on #32
nope Tapiro it's unchanged 😁

[2020-12-04 08:52] cagnulein commented on #65
[android-1.3.0.zip](https://github.com/cagnulein/qdomyos-zwift/files/5641563/android-1.3.0.zip)
ok give a try to this. With nrf connect it works well. I added a settings in order to enable the peloton compatibility. Remember to reboot the bridge after changing the setting.

[2020-12-04 08:53] cagnulein commented on #62
ok [android-1.3.0.zip](https://github.com/cagnulein/qdomyos-zwift/files/5641563/android-1.3.0.zip) this is too for the speed and distance. I added also the miles setting

[2020-12-04 08:54] cagnulein commented on #61
ok i guess i fixed something

[android-1.3.0.zip](https://github.com/cagnulein/qdomyos-zwift/files/5641563/android-1.3.0.zip)

give it a try, it should work with settings = false.
On my tries, you will never see the "no signal" issue again, hopefully. If you see it, try anyway to do what we did yesterday. I fixed something on the second connection too.

[2020-12-04 09:02] cagnulein commented on #32
ok, first of all, avoid now hciconfg, @rickoneeleven saw that it is useless or worse!
second: try with and without sudo
i would check if we had a regression or not
thanks

[2020-12-04 09:02] cagnulein commented on #60
committed

[2020-12-04 09:38] urbanspike commented on #61
Hello,
Android 10 phone:
exactly the same problem:
Potenza = seen but no reception
Cadenza = not seen, impossible to select it
controllabile = not seen, impossible to select it
Frequenza cardiaca = seen but no reception

Android 8 phone :
Bike and Bridge connection ok for 30sec and after bike lost bridge, impossible to test...

[2020-12-04 09:39] #67 closed

[2020-12-04 09:52] cagnulein commented on #61
in the meanwhile could you please send me the log for the android 8 when it lost connection?

[2020-12-04 10:13] urbanspike commented on #61
[debug-Fri Dec 4 10_32_24 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5642006/debug-Fri.Dec.4.10_32_24.2020.log)
[debug-Fri Dec 4 10_17_32 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5642007/debug-Fri.Dec.4.10_17_32.2020.log)
[debug-Fri Dec 4 10_17_07 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5642008/debug-Fri.Dec.4.10_17_07.2020.log)
Différent Androi

[2020-12-04 10:24] cagnulein commented on #61
ok a good news. on android 10 i saw the same issue too (i was always trying on android 6)
very strange the android 8 error, i'm looking into it also.

so today we discovered a thing, android is a shit too :D every version has different bug XD

[2020-12-04 10:47] urbanspike commented on #61
what is crazy is that if I set the option to true on the bridge under android 10, everything works except the heart

[2020-12-04 10:55] rickoneeleven commented on #60
I wasn't fixed in d5424a38fac9c20498c3170f8e3830ea95955735 - I always reboot the pi before testing, the other day without a reboot it did seem to connect first time, so I thought you'd fixed it. I rebooted and had to kill/go to get it to appear.

Same with this commit, started bridge, didn't show, killed it and started it again and it appeared 👍

[2020-12-04 13:26] marklogan17 commented on #62
Did some testing.  Speed looks like its correct.  I'll repeat the one minute ride at 70 cadence a little later to confirm distance - ran out of time before my first meeting :) Will report in other issue on the peleton connection.

[2020-12-04 13:30] marklogan17 commented on #65
I tested connecting to Peleton.  The cadence connection showed up quickly and connected quickly.  The first two or three times I connected, I just saw zero cadence come across and it stayed at zero.  The last time I connected it started showing cadence but it went from 59 area up to 117 or so and back.  I was pedalling reasonably consistently at 70.  I have a bunch of logs (because I restarted the

[2020-12-04 13:33] urbanspike commented on #61
I test this week-end your ova file for virtualbox to see if its a Windows issue or other issue.
Download ova now

[2020-12-04 13:42] cagnulein commented on #65
strange cadence values are ok, i need to trim that alghorithm, it's different from the one that i use on zwift, it's more complicated. so ok :)

kinetic has the same behaviour to me too, but i guess it's something on kinetic itself.

[2020-12-04 13:43] cagnulein commented on #61
ok @urbanspike remember to pull the repository and build. i'm continuing to work on the android 10 issue, i think we can manage it!

[2020-12-04 13:47] urbanspike commented on #61
what do you mean by extracting the repository and compiling it? Sorry but it's new to me ...

[2020-12-04 13:49] marklogan17 commented on #65
Yes I'm not sure if I just don't understand the app, or if the app has a problem.  I'll try again in a little while on iOS and I've been looking online for any suggestions on connecting.

Added the log to my previous comment for the connection to Peleton.

[2020-12-04 14:12] cagnulein commented on #61
you have to run several command from bash, i don't know if it's easy for you.
anyway you have to go to the qdomyos-zwift/src folder on the desktop and run
sudo git pull
sudo make clean
sudo qmake
sudo make -j4
sudo ./qdomyos-zwift

[2020-12-04 14:19] urbanspike commented on #61
OK no problem.
Can I take the new folder (qdomyos-zwift-master.zip) in the code part of github to put it on the linux desktop under virtualbox? and then do the sudo commands.

[2020-12-04 14:36] cagnulein commented on #61
yes you can do like that ;)

[2020-12-04 15:19] marklogan17 commented on #65
More testing:
1) Installed Wahoo app on android.  Tried to connect.  Showed up as Heart rate.  In bridge I turned 'on' Heart Rate service outside of FTMS and rebooted.  This time connected as cadence.  Cadence values were more consistent than peleton AND closer to actual correct values, but still off by around 10 on average

2) Went back to Kinetic on Android.  Seems that when the connection appea

[2020-12-04 15:22] cagnulein commented on #65
great news @marklogan17 tomorrow i will study better the cadence algorithm

[2020-12-04 15:50] cagnulein commented on #61
ok @urbanspike i have some news, i run a full debug session on android 10 and these are my discoveries:

1. if i advertise only the heart rate service, nrfConnect show the bridge well
2. if i advertise only FTMS with heart rate in it, nrfConnect show the bridge well
3. if i advertise the heart rate servce + a simple FTMS characteristc, nrfConnect can't show me the value of my char. (as zwift does)

[2020-12-04 15:55] urbanspike commented on #61
Ok, so that would be more of a zwift problem? I am almost finished downloading the virtualbox image, I think I can test this evening maybe. Have a good ride with Logan.

[2020-12-04 17:39] cagnulein commented on #61
Yes, it seems so.

[2020-12-04 20:48] urbanspike commented on #61
I have download from github/code - Download ZIP
I obtain a zip file name qdomyos-zwift-master.zip
Copy this zip to linux under virtualbox
extract zip on desktop
Obtain folder qdomyos-zwift-master
go on terminal
cd /home/qdomyos-zwift/Desktop/qdomyos-zwift-master/src
sudo git pull
error fatal: not a git repository
Help me, i'm a newbie ;-)

[2020-12-04 21:11] cagnulein commented on #61
You can skip this command, you already pull it :)

Il ven 4 dic 2020, 21:48 urbanspike <notifications@github.com> ha scritto:

[2020-12-04 21:19] urbanspike commented on #61
Ok, it's ok.
test with linux and bridge ON
Bike detect bridge for 30sec and lost connection with bike.
in terminal screen, i see : device not open. I think is the consequence bike lost connection
![Capture bvridge linux](https://user-images.githubusercontent.com/20811473/101215813-bd9e9d00-367e-11eb-91b4-f46d58f67975.PNG)
i check log bridge on linux...

[2020-12-04 21:31] urbanspike commented on #61
[debug-Fri Dec 4 16_06_41 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5645588/debug-Fri.Dec.4.16_06_41.2020.log)
[debug-Fri Dec 4 16_12_18 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5645589/debug-Fri.Dec.4.16_12_18.2020.log)
[debug-Fri Dec 4 16_15_07 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5645590/debug-Fri.Dec.4.16_15_07.2020.log)
[debug-Fri Dec 4

[2020-12-05 00:52] marklogan17 commented on #62
Repeated the test of one minute at 70 cadence.  Speed looked right and the distance looked correct too.  So I think that's all good.  Next step will be to do a full ride on Peleton and/or Zwift to make sure I don't get any connection issues over a longer time.

[2020-12-05 05:39] #62 closed

[2020-12-05 06:59] cagnulein commented on #61
In the meanwhile I received the confirmation that is a Zwift issue
![Screenshot_20201205_075737_com facebook katana](https://user-images.githubusercontent.com/48216/101236232-cff4f700-36cf-11eb-9a58-2190a3aec544.jpg)

[2020-12-05 08:30] cagnulein commented on #61
ok i will check them today

[2020-12-05 08:35] kenands commented on #61
Hi @cagnulein I tried 1.3.0, I have too the same heart rate issue, by the way the heart rate sensor of the bike is not accurate so it's not very useful.
I saw an other issue on resistance, resistance moved well on the bike when %incline increase or decrease but it's not moving exactly by one after each %incline change. For exemple at %1 resistance was at 5, %2 it was at 6 but at %8 it was at 8.
Se

[2020-12-05 09:19] cagnulein commented on #61
ok thank you. Now we known that is a zwift issue, not a bridge issue :)

i checked your log and the max %incline that zwift sent is 4%, so again is a zwift issue. i guess you have to pump up the ratio setting in the bridge to have a more realistic simulation.

yes i know it, i'm publishing the app on google play, and that version will be native on android 10

Great! Midnight issue solved finally!

[2020-12-05 09:23] cagnulein commented on #61
@urbanspike i checked your log on linux and i guess your bluetooth dongle isn't compatible with server and client bluetooth

`Warning:   received advertising error
Debug: bluetooth.cpp void bluetooth::debug(QString) "Fri Dec 4 16:18:03 2020 1607116683484 virtualbike::controller:ERROR AdvertisingError"`

which dongle is? manufacturer and model i mean

[2020-12-05 09:41] urbanspike commented on #61
It's not a dongle, it is include in my laptop (HP Probook 450 G3)
It's a intel Bluetooth
(Intel Dual Band Wireless-AC 3165 802.11a/b/g/n/ac (1x1) Wi-Fi and Bluetooth 4.0 Combo OR
Intel Dual Band Wireless-AC 8260 802.11a/b/g/n/ac (2x2) Wi-Fi and Bluetooth 4.2 Combo)

[2020-12-05 09:43] urbanspike commented on #61
I have a dongle if you want. It's a bluetooth 5.0 dongle. I can test with this dongle if you want.

[2020-12-05 09:45] cagnulein commented on #61
yes, try please

[2020-12-05 09:48] cagnulein commented on #65
ok i changed a little the algorithm, tell me if it's a little better
[android-1.3.1.zip](https://github.com/cagnulein/qdomyos-zwift/files/5646813/android-1.3.1.zip)

[2020-12-05 10:13] cagnulein commented on #61
i have a 8265 and it works great, now i'm checking the 8260 bluetooth chars.

Roberto Viola
Software engineer and open source enthusiast
http://robertoviola.cloud

Il giorno sab 5 dic 2020 alle ore 10:41 urbanspike <notifications@github.com>
ha scritto:

[2020-12-05 10:17] cagnulein opened #69 "limit android 10 to have only ftms service"
ok @urbanspike i have some news, i run a full debug session on android 10 and these are my discoveries:

1. if i advertise only the heart rate service, nrfConnect show the bridge well
2. if i advertise only FTMS with heart rate in it, nrfConnect show the bridge well
3. if i advertise the heart rate servce + a simple FTMS characteristc, nrfConnect can't show me the value of my char. (as zwift does)

[2020-12-05 11:07] urbanspike commented on #61
![linux](https://user-images.githubusercontent.com/20811473/101240877-53bfdb00-36f2-11eb-9e0f-77af1818687e.png)
With Bluetooth 5.0 realtek dongle.
Capture OK on virtualbox but on bridge this message and impossible to connect on the bike...

[2020-12-05 12:51] cagnulein commented on #61
you're very unlucky!
ok just to summarize:
- your android 10 phone works but, of course, no heart rate
- your android 8 phone disconnects from the bike after 30 seconds
- your windows box can't advertise to zwift

which way do you like to follow?
I mean: i can't do anything with android 10 because it's a limitation of android and zwift.
So i guess the only way to achieve a full working setup is wi

[2020-12-05 13:16] urbanspike commented on #61
Yes, to tell the truth, I have the heart rate on the bike and on the bridge but not in zwift with the bridge under android 10. And I have my connected watch which gives it to me too. So it's not really a problem.
If you want to work on the problem with android 8 i'm ok.
I almost want to buy a rasberry or a zwift compatible heart belt.
I'm a little pissed off that none of my devices are 100% ok, wh

[2020-12-05 13:20] cagnulein commented on #61
a raspberry pi0w it's a good choice, because is very cheap and fully compatible.
With android 8 were you very near to the bike? Could be a distance issue? Could you try to install the domyos app on android 8 to check if the domyos app works fine on that phone?

[2020-12-05 13:22] urbanspike commented on #61
Yes I put the phone just above the dial of the bike, this is the location for that so no problem of distance.
Ok I install the domyos app to test with this phone. I can also put kinomap if that helps

[2020-12-05 13:23] cagnulein commented on #61
kinomap or domyos, which one you prefer :) just to verify the godness of the phone, thanks.
if they work, we have to work us too :D

[2020-12-05 13:38] urbanspike commented on #61
![20201205_143238](https://user-images.githubusercontent.com/20811473/101244509-4103d100-3707-11eb-9a96-5dd045252967.jpg)
![Screenshot_20201205-143433_Kinomap](https://user-images.githubusercontent.com/20811473/101244525-55e06480-3707-11eb-8ad9-3f5ad1fc5b04.jpg)
Kinomap work with this android 8 Phone.no pb

[2020-12-05 13:40] cagnulein commented on #61
great, i will analyze the android 8 log again

[2020-12-05 13:41] urbanspike commented on #61
kinomap only displays calories, resistance, time and cadence on the bike. The heart is not ffiché on the bike but is present in kinomap. Maybe a lead?

[2020-12-05 13:49] cagnulein commented on #61
mmm i don't think so, it just a missing info in the display frame.
I'm thinking: kinomap only talks with the bike, without making a bridge. Looking your android 8 seems that the issue starts when the advertise to zwift starts. So i would like to add a setting to disable (just to debug it) the bridge to zwift. In this way we could play with the same kinomap cards . What do you think? It should be e

[2020-12-05 13:52] cagnulein commented on #61
did you try with android 8 to leave the bridge running without searching it with zwift?

[2020-12-05 13:53] urbanspike commented on #61
no i will try. Juste with ftms option on false or true ?
You are the expert, we test what you want ;-)

[2020-12-05 13:56] urbanspike commented on #61
Just for information, I just bought a rasberry pi 0 w kit, it was really cheap with black friday

[2020-12-05 13:57] cagnulein commented on #61
without zwift, true or false make no difference :D

[2020-12-05 14:03] urbanspike commented on #61
OK just bridge and bike.
it works fine and the bike disconnects after 20-30 seconds. And the bridge seems frozen on the phone.

[2020-12-05 14:08] urbanspike commented on #61
[debug-Sat Dec 5 14_59_22 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5647177/debug-Sat.Dec.5.14_59_22.2020.log)
[debug-Sat Dec 5 15_00_31 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5647179/debug-Sat.Dec.5.15_00_31.2020.log)

[2020-12-05 14:11] cagnulein commented on #61
thanks i'm analyzing them

[2020-12-05 14:46] cagnulein commented on #61
@urbanspike could you please test version https://github.com/cagnulein/qdomyos-zwift/files/5620980/android-1.1.5.zip on ANDROID 8? My idea is the timeout fix that i introduced for android 10, gives some issue on android 8.
Just the bike, no zwift.
Thanks

[2020-12-05 14:54] urbanspike commented on #61
[debug-Sat Dec 5 15_52_22 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5647247/debug-Sat.Dec.5.15_52_22.2020.log)
Same pb...

[2020-12-05 14:56] cagnulein commented on #61
ok, so it's not a regression. The strange this is happens always on the display frame. Unbelieavable. I'm continuing to study it

[2020-12-05 15:16] urbanspike commented on #61
I have a slightly older phone ... I'm trying to charge it and bridge it with this one. this is my last hope with material lol

[2020-12-05 15:51] marklogan17 commented on #65
@cagnulein I gave it a test - connected to Wahoo.  Its closer, seems to be off by 4 or 5 either direction.  So if bridge is showing 60 then I'm getting 56-65 say.  I did see one time when it went to 117 and back down to like 5 before popping back up to the 60 range.

[2020-12-05 15:53] cagnulein commented on #61
ok i watched again the snoop log ( https://github.com/cagnulein/qdomyos-zwift/issues/48#issue-735990167 ) and i saw that the display frame was sent once every second. The bridge, starting from 2 weeks ago, it writes every 500 ms. Maybe the bike doesn't like it.
I creating a new version with the updating of the display every seconds. I haven't so many hope on this, but it's the only thing that have

[2020-12-05 16:04] urbanspike commented on #61
Yes indeed, at one point we had spoken that the display of the bike did not update live ...Maybe

[2020-12-05 16:06] cagnulein commented on #61
[android-1.3.2.zip](https://github.com/cagnulein/qdomyos-zwift/files/5647346/android-1.3.2.zip)
ok trying this one. i relaxed the timing...maybe...

[2020-12-05 16:08] cagnulein commented on #65
ok so the direction is right. well! i add some point (5) in the average, so we can get a more stable value.
[android-1.3.2.zip](https://github.com/cagnulein/qdomyos-zwift/files/5647348/android-1.3.2.zip)

i guess that the one time glitch was releated to the overflow of the cadence counter. If it happens again send me the log.
Thanks

[2020-12-05 16:32] marklogan17 commented on #65
So I started testing and was getting consistently 5-8 lower than I was seeing on the bridge.  I decided to take a video for you to see it so I got off the bike, grabbed my other phone, came back and started pedaling.  Now the values were very close (see video below).  I'm wondering if getting the cadence to zero for a bit brought the average in line?  So maybe the cadence going across needs to sta

[2020-12-05 16:36] urbanspike commented on #61
once i managed to get everything on zwift with this version even the heartbeat !!!! I specify that I put zwift on the android phone 10 and the bridge on the android 8. but I can not reproduce it, what a bad luck ...

[2020-12-05 16:40] cagnulein commented on #61
@urbanspike one thing at a time: the 30 second disconnection issue is still there?

[2020-12-05 16:45] cagnulein commented on #65
Very interesting, no, from my side I don't need any reset but maybe to the app which reads the cadence it does something useful

The log will speak ;)
I will have a look at it

[2020-12-05 16:47] urbanspike commented on #61
Yes one disconnection after 20-30 but with this version reconnecte auto and its OK after no disconnection...

[2020-12-05 16:54] cagnulein commented on #61
Well so this version is better than before. Could you please send me the
log? What about zwift?

Il sab 5 dic 2020, 17:47 urbanspike <notifications@github.com> ha scritto:

[2020-12-05 16:56] urbanspike commented on #61
![Screenshot_20201205-175212](https://user-images.githubusercontent.com/20811473/101258473-f98b3e00-3722-11eb-9506-56a13d001192.jpg)
ok I think I have found the order so that everything is ok. power heart rate czdence and control. the last bur is that zwift does not control the resistance in fact it does not move

[2020-12-05 17:11] urbanspike commented on #61
ok it's not very stable. let me explain : I start the bike i start the bridge on android 8. the connection between the two is made, the bike switches to Bluetooth then after 20-30 seconds, the bike loses the Bluetooth connection but reconnects itself to the bridge. the bridge receives the information from the bike again without worries. i start zwift on android 10. I have to put the power source f

[2020-12-05 17:16] cagnulein commented on #61
Almost there so :)
Ok first of all send me the log, i have to compare to the previous one.
Second: are you sure that resistance doesn't change because the inclination in game is 0%?

[2020-12-05 17:17] urbanspike commented on #61
ha i noticed that at the first connection with the bike the zwift cast icon is ok but after reconnecting the bike it is gray.

[2020-12-05 17:19] urbanspike commented on #61
I am sure for the resistance because the last time if I changed manually on the zwift bike put it back as it wanted and this is no longer the case

[2020-12-05 17:28] cagnulein commented on #61
Ok so send me the log! :)

[2020-12-05 17:35] urbanspike commented on #61
Ok zwift session. Resistance no change
[debug-Sat Dec 5 18_20_42 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5647551/debug-Sat.Dec.5.18_20_42.2020.log)

[2020-12-05 17:47] urbanspike commented on #61
we can clearly see the disconnection I am talking about in the log at Sat Dec. 5 18:21:17 2020
and after no disconnections, everything is ok except zwift which does not control the resistance however the control is well connected in zwift.

[2020-12-05 17:50] cagnulein commented on #61
I don't see any writing from zwift: seems that you haven't selected the
controlled icon. Could you try again? If you change the resistance by
button on bike or on the bridge, does it change?

Il sab 5 dic 2020, 18:35 urbanspike <notifications@github.com> ha scritto:

[2020-12-05 17:54] urbanspike commented on #61
[Log (old 1).txt](https://github.com/cagnulein/qdomyos-zwift/files/5647599/Log.old.1.txt)
Zwift log

[2020-12-05 17:57] cagnulein commented on #65
This log is from version 1.3.1, didn't you try the 1.3.2?

Il sab 5 dic 2020, 17:32 marklogan17 <notifications@github.com> ha scritto:

[2020-12-05 18:13] urbanspike commented on #61
I did a test again. And I confirm that zwift does not handle resistance yet it is well selected in zwift and zwift does not indicate a problem.
I made a video, I try to transmit it

[2020-12-05 18:17] urbanspike commented on #61
As I said above, when the bike and the bridge are connected for the first time, the zwift cast icon is active. But after disconnecting / reconnecting the bike, it turns gray and no longer seems to be active.But you will see better in the video, it uploads 15-20min

[2020-12-05 18:20] marklogan17 commented on #65
I thought I did.  I went back and looked and when I installed the app it actually gave me an 'app not installed' error.  Seems it fails to upgrade on this version for some reason.  I uninstalled the old version and installed the new now.  On first run it tells me its for an old version of android...

I tried it and I actually think the old version - post stopping/restarting pedaling - is more accu

[2020-12-05 18:24] cagnulein commented on #61
ok i understood. when it disconnect, it lost the zwift connection so you have to enter in the menu in zwift, settings, bluetooth and repair the bridge because the bridge it had recreated the interface to zwift.

i would try tomorrow to avoid this behaviour (so if the bike disconnect and riconnect, the bridge to zwift must stay connected)

[2020-12-05 18:29] urbanspike commented on #61
I think it's not really that because before doing anything in zwift, I wait for this phenomenon of disconnection between the bike and the bridge. I wait for everything to be ok and only after that I make the connection with zwift.

[2020-12-05 18:55] cagnulein commented on #61
hah ok, thanks for this clarification. so i have to double check again the log. have a nice saturday covid evening :D

[2020-12-05 18:57] cagnulein commented on #65
tomorrow i will try to trim it up! thanks for your time!

[2020-12-05 19:32] urbanspike commented on #61
https://wetransfer.com/downloads/8afcc59a704cf82fed84cdeb5c757c9220201205181447/802d3383dc3aa4be60a01c73355f6ed420201205181513/d013e5

[2020-12-06 07:22] cagnulein commented on #31
built statically. @Martoni74 try https://github.com/cagnulein/qdomyos-zwift/releases/tag/1.3.1

[2020-12-06 07:22] #31 closed

[2020-12-06 07:42] cagnulein commented on #61
i'm downloading the video, but in this log i see clearly the zwift inclination and the command to the bike to change the resistance! I see resistance from 5 to 8!

[2020-12-06 07:51] cagnulein commented on #61
so for example, these lines are extracted for your log

`Debug: ..\src\bluetooth.cpp void bluetooth::debug(QString) "ven. déc. 4 23:17:06 2020 1607120226860 characteristicChanged 10969 11 00 00 cd 00 28 33"`

here zwift send me a inclination of 2%

`Debug: ..\src\bluetooth.cpp void bluetooth::debug(QString) "ven. déc. 4 23:17:06 2020 1607120226991 writing resistance 7"`

here i'm writing to the bi

[2020-12-06 08:16] urbanspike commented on #61
Are you sure example is extract from log file 5 dec 18_20 ?
Because on your example date is 4 dec 23:17

[2020-12-06 08:26] cagnulein commented on #65
ok i guess i saw the same issue here (i'm simulating it by software). i hope to release a new version today. Finger crossed! :D

[2020-12-06 08:37] cagnulein commented on #61
sorry my fault, i'm doing 2 tasks in parallel and i made confusion :D

[2020-12-06 08:42] urbanspike commented on #61
😂
I think the problem with zwift is really related to what you can see on the video. that is, the zwift cast is grayed out and therefore seems to no longer be done after disconnecting reconnection of the bike and the bridge.

[2020-12-06 08:49] cagnulein commented on #61
yes but the icon is gray on android 8 if zwift is not connected to the bridge. This is why i asked you to reconnect it after the disconnection. That icon will never turn colored again if you try to reconnect to zwift?

[2020-12-06 08:53] urbanspike commented on #61
No Never.

[2020-12-06 09:11] cagnulein commented on #65
i guess i managed it! i have only to rebuild a version for you! i hope i will release today :)

[2020-12-06 09:11] cagnulein commented on #61
now i have to go, i will check the logs later today. have a nice sunday!

[2020-12-06 10:34] cagnulein commented on #65
[android-1.3.3.zip](https://github.com/cagnulein/qdomyos-zwift/files/5648601/android-1.3.3.zip)
this one will rock!

[2020-12-06 11:02] cagnulein commented on #61
[android-1.3.4.zip](https://github.com/cagnulein/qdomyos-zwift/files/5648647/android-1.3.4.zip)
ok i tried to destroy the bridge to zwift when the disconnection happens. in this way it should recreate cleanly the bridge to zwift.
if it's work i will to simulate it here with the treadmill.

[2020-12-06 11:03] urbanspike commented on #61
OK i test that

[2020-12-06 11:26] urbanspike commented on #61
test version 1.3.4
it's worse with that one.
Still the same connection / disconnection problem with the bike and the zwift cast icon becomes grayed out.
The only difference is that with the previous version, zwift could see all bluetooth sources and it was possible to pair them even if the resistance was not managed.
Now, after disconnecting the bike, the bridge reconnects to the bike and receives

[2020-12-06 11:37] urbanspike commented on #61
[debug-Sun Dec 6 12_34_14 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5648682/debug-Sun.Dec.6.12_34_14.2020.log)

[2020-12-06 11:52] cagnulein commented on #61
[android-1.3.5.zip](https://github.com/cagnulein/qdomyos-zwift/files/5648697/android-1.3.5.zip)
you're right, i forgot a modification in the 1.3.4 (i saw it in the log, thanks!)

[2020-12-06 12:04] urbanspike commented on #61
Now we have the disconnection, reconnection of the bike every 20-30 seconds. The zwift icon always comes back active but in zwift, each time you disconnect / reconnect the bridge and the bike, the bluetooth sources are lost. Zwift sees new ones but we loop on this problem without ever having a few things stable between the bridge and the bike and therefore in zwift

[2020-12-06 12:06] urbanspike commented on #61
[debug-Sun Dec 6 12_58_00 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5648714/debug-Sun.Dec.6.12_58_00.2020.log)

[2020-12-06 12:07] urbanspike commented on #61
I have the impression that when we have the active zwift cast, it saturates either the bridge or the bike and we lose the connection between the two ...

[2020-12-06 12:08] cagnulein commented on #61
Yes i guess so too, i think we have to wait the raspberry :( all that i can
do i did :(

Il dom 6 dic 2020, 13:07 urbanspike <notifications@github.com> ha scritto:

[2020-12-06 12:15] urbanspike commented on #61
yes we will wait for the rasberry. Well I'll have to understand how it works ;-).
in the meantime, version 1.3.2 under android 10 works with the resistance managed by zwift but without the heart rate, it is already enormous.
A big thank you for the time spent and all these tests !

[2020-12-06 13:43] marklogan17 commented on #65
I gave it a try.  Connected to Wahoo and the cadence was either perfect, or so close that I couldn't notice a difference.  Connected to Peleton and I think it has a touch of a lag displaying the cadence, but to me the cadence values were absolutely correct.  So in short, I think you can consider Peleton working for cadence!!!

I believe you can connect a heart rate monitor to Peleton too, so not s

[2020-12-06 13:47] marklogan17 opened #70 "Add Total Output Metric"
The Echelon app and I believe the Peleton app have measures of Total Output measured in KiloJoules.  Its essentially the sum of your output over time.  I found this definition on an Echelon/Peleton Facebook page:

A joule is 1 watt in 1 second. So if you pedal consistently and have an average output of 100, then that's 100 joules per second (on average). 100 watts x 1 second = 100 joules. If you p

[2020-12-06 13:49] marklogan17 commented on #65
Also - there are a lot of people using the Echelon bike for Peleton.  Let me know if/when you think I should mention this bridge on their Facebook group.  I think your users will go up quickly - but with that would come people wanting support :)

[2020-12-06 13:58] cagnulein commented on #65
Thanks for the coffees and for your time! I really appreciate your debug sessions!
I would like to submit the app to apple and Google store so it would be easier to give them assistance.

Obviously this app will remain open source!

I'm closing it, ok?

[2020-12-06 13:59] #65 closed

[2020-12-06 14:02] cagnulein commented on #70
Yeah sure no problem. I could add it to UI in the app, do you need over bluetooth also? I think that peloton doesn't read, isn't it?

[2020-12-06 14:52] marklogan17 commented on #70
Yes this would just be for the UI.

[2020-12-06 15:03] cagnulein commented on #70
[android-1.4.0.zip](https://github.com/cagnulein/qdomyos-zwift/files/5648950/android-1.4.0.zip)
you asked for it you got it :)

[2020-12-06 16:57] marklogan17 commented on #70
Nice!  I'm out for a couple of hours but I'll test as soon as I'm home!!

[2020-12-06 17:30] mitchoklemen commented on #54
[debug-Sun Dec 6 14_50_52 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5649212/debug-Sun.Dec.6.14_50_52.2020.log)

There is debug file from my Android 10 TVbox. Old version was ok most of times. With new one 1.1.0 I have problem connecting. It starts treadmill by it self, cant operate with buttons, fan works but only to +.

[2020-12-06 18:22] marklogan17 commented on #70
I gave it a try. Looks like it's working!  Great job!

[2020-12-06 18:37] cagnulein commented on #70
wow! can we close this so?

[2020-12-06 18:38] cagnulein commented on #54
hi @mitchoklemen i don't see any issue in your log. the treadmill is well connected. did you try to clean the app (remove data and cache)? did you try the last version avaiable https://github.com/cagnulein/qdomyos-zwift/files/5648950/android-1.4.0.zip ?

the last one you tried is this one https://github.com/cagnulein/qdomyos-zwift/issues/51#issuecomment-731965289 ?

[2020-12-06 18:41] marklogan17 commented on #70
Yup I think so!

[2020-12-06 18:43] cagnulein commented on #70
ok! in case feel free to reopen this ;)

[2020-12-06 18:43] #70 closed

[2020-12-07 09:18] #69 closed

[2020-12-07 14:52] cagnulein commented on #62
@marklogan17 hi, i'm releasing the app on the Apple store, do you have an iPhone or an iPad to test it? If yes, add yourself here https://www.facebook.com/groups/1064761680643892 and write on messenger (roberto viola, i'm the administrator of that group). I will send you a free invitation for the beta testing.
Thanks

[2020-12-07 14:53] cagnulein commented on #57
@rickoneeleven  hi, i'm releasing the app on the Apple store, do you have an iPhone or an iPad to test it? If yes, add yourself here https://www.facebook.com/groups/1064761680643892 and write on messenger (roberto viola, i'm the administrator of that group). I will send you a free invitation for the beta testing.
Thanks

[2020-12-07 14:53] cagnulein commented on #61
@urbanspike @kenands  hi, i'm releasing the app on the Apple store, do you have an iPhone or an iPad to test it? If yes, add yourself here https://www.facebook.com/groups/1064761680643892 and write on messenger (roberto viola, i'm the administrator of that group). I will send you a free invitation for the beta testing.
Thanks

[2020-12-07 14:58] urbanspike commented on #61
Hello, sorry, no pad or iphone for me.
I think I am allergic to apple, yet we have said that wondows and android are shit
:-)

[2020-12-07 14:58] marklogan17 commented on #62
Yes I have an iPhone.  Happy to test for you.  I registered for the group.

[2020-12-07 17:34] rickoneeleven commented on #57
i have an iPad, but not facebook. i don't use the iPad for my setup anymore, just laptop and pi and to be honest, it's pretty much working perfectly 👍

not even had a seg fault the last few times. a few things are off like, the distance on the treadmill display is always a lot higher than in game and the having to restart the app sometimes to make zwift pick up the bridge, but other than that it's

[2020-12-08 18:05] mitchoklemen commented on #54
I installed 1.4.0. Can you look LOG file for errors?
[debug-Mon Dec 7 19_36_25 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5660920/debug-Mon.Dec.7.19_36_25.2020.log)

[2020-12-08 18:22] cagnulein commented on #54
Yes the treadmill stop to answering back after 20 seconds from the startup. Maybe it's when you try to connect with Zwift? Did you clean the app data as i suggested? It's very strange

[2020-12-08 18:30] cagnulein commented on #54
Could you try also this version again? https://github.com/cagnulein/qdomyos-zwift/files/5581370/android-build-debug.zip it's the first one you tried. I would like to be sure that this one works for you so I can check the differences

[2020-12-09 09:17] mitchoklemen commented on #54
Yes I cleaned the data. I'll try with first ver. and report.

[2020-12-09 11:44] drainuzzo commented on #32
this time if I run it withoud sudo it says:

[2020-12-09 12:56] cagnulein commented on #32
@drainuzzo could you try run with sudo and gdb in order to check where is the issue?

$ sudo gdb ./qdomyos-zwift

when the error happens, use the command "bt" to print the stack trace and send me the result. Thanks!
There is also another user on runningforum that wants to use this :)

[2020-12-09 13:34] drainuzzo commented on #32
`Debug: bluetooth.cpp void bluetooth::debug(QString) "Wed Dec 9 14:26:03 2020 1607520363606 Found new device: TOORX0083 (FF:90:CE:BE:F5:FC)"
Warning:   Using BlueZ LE DBus API
Debug:   QLowEnergyControllerPrivateBluezDBus::connectToDevice()
Debug:   BluetoothManagement: Ignored event: b
Debug:   HCI event triggered, type: 3e
Debug:   received connection complete event, handle: 65
Debug:   HCI even

[2020-12-09 13:37] cagnulein commented on #32
ok i will fix asap, thank for the debug!

i don't know, maybe it's releated. First i will fix this issue and next we will see what will happen after

yes!

ahahahah welcome aboard! :D

[2020-12-09 14:17] cagnulein commented on #32
@drainuzzo ok, i guess i fixed. pull it, build it and give it a try! thanks!

[2020-12-09 16:47] drainuzzo commented on #32
@cagnulein

now it's much better, i run it with sudo and didn't crash! And I see the bridge from Zwift as well
but...
my avatar doesn't move... 😢

attached new logs
[debug-TR-AppGate-7.zip](https://github.com/cagnulein/qdomyos-zwift/files/5667371/debug-TR-AppGate-7.zip)

[2020-12-09 17:23] cagnulein commented on #32
got it! pull and build this time will rock!
if it doesn't work, from zwift, disconnect and reconnect to the bridge.

[2020-12-10 09:40] cagnulein commented on #54
@rickoneeleven which commit are you using now? just to give a @mitchoklemen a hand, @rickoneeleven  could you try to use the last commit?
i would like to see if i hadn't put a regression, because another user on facebook alerts me about the same @mitchoklemen issue on T900C.
thanks

[2020-12-10 09:50] rickoneeleven commented on #54
I'm using commit d5424a38fac9c20498c3170f8e3830ea95955735

I'll compile latest version tonight and give it a go

[2020-12-10 09:53] cagnulein commented on #54
ok thanks @rickoneeleven . any chance to give a try to the android version too? just to understand if the @mitchoklemen issue is only on android and if you see it too only on android. thanks

[2020-12-10 09:55] rickoneeleven commented on #54
the andrio version never worked for me, bridge wouldn't show up in zwift

[2020-12-10 10:00] cagnulein commented on #54
@rickoneeleven yes because in the first versions i didn't manage the heart service correctly. In the new android version i can't share the heart rate service as i did to linux or older android version. In the https://github.com/cagnulein/qdomyos-zwift/files/5648950/android-1.4.0.zip i managed and it should work. There is also a setting to play with it if not works. Anyway i'm interested in the con

[2020-12-10 10:02] rickoneeleven commented on #54
i'll try the latest commit tonight, and take a look at android tomorrow or Saturday :+1:

[2020-12-10 11:20] cagnulein commented on #57
while i was checking about the #54 issue i guess i solved this issue too. i mean i guess i understood why, sometimes, your t900 disconnects. i wasn't wait the poll packet and, sometimes, 2 packet will be send before receiving the answer.
Anyway, before pushing it, i will test on my treadmill tonight. If it works i think we have finally found your root crash/disconnect issue!

[2020-12-10 11:23] cagnulein commented on #70
i saw something very stupid last night @marklogan17 kjoules and calories are the same thing :D i guess you didn't noticied because the echelon bike doesn't send it via bluetooth. But instead, on my treadmill, that sends it, i saw kjoules and calories with the same value :D

what do you think?

[2020-12-10 11:25] rickoneeleven commented on #57
beautiful - to be fair the last few sessions i've had, it hasn't even seg faulted anyway, it seems for the most part to be pretty sweet! but look forward to this improvement too :smile:

[2020-12-10 13:10] cagnulein commented on #57
for example: another thing that i didn't see when i looked your log the first time was that your treadmill start always to speed 1 when connects to the bridge if no saved values are avaiable.
It isn't right: my treadmill, in that scenario, stays still to speed 0. I guess it's all releated.

[2020-12-10 13:16] drainuzzo commented on #32
It doesn't work and cannot see TR data on the program and my avatar doesn't go on zwift (tried many times)

new logs attached
@cagnulein
[debug-TR-AppGate-8.zip](https://github.com/cagnulein/qdomyos-zwift/files/5672961/debug-TR-AppGate-8.zip)

[2020-12-10 13:32] cagnulein commented on #32
@drainuzzo could you tell me the contents of the file /etc/bluetooth/main.conf ? i guess there is an issue with rasp 3b. When the bridge to zwift starts it lost the connection to the treadmill. So i'm guessing that the ble is not configured for "dual"

source: https://raspberrypi.stackexchange.com/questions/100031/raspberry-pi-3b-ble-peripheral-android-cant-retrieve-services-list-ok-with

[2020-12-10 13:33] marklogan17 commented on #70
In Echelon they show calories (likely calculated in app) but they are different than total output. Not a huge difference - I think they may take someone's weight into effect.  Here's a post from the Echeleon/Peleton Facebook page on it:

https://www.facebook.com/groups/pelotonplusecholon/permalink/270899844212690

[2020-12-10 13:34] cagnulein commented on #70
ok so the kjouice that i added is more precise than calories?

[2020-12-10 13:41] marklogan17 commented on #70
It is an 'accurate' measure of total output.  I think calories is more personal and would change with different people/sizes/BMI/etc.  So having them the same as a base is probably not incorrect.  I think it would require more personal information to make the calories 'more' correct.

[2020-12-10 13:42] drainuzzo commented on #32
cat /etc/bluetooth/main.conf
`
[General]

# Defaults to 'BlueZ X.YZ', if Name is not set here and plugin 'hostname' is not loaded.
# The plugin 'hostname' is loaded by default and overides the Name set here so
# consider modifying /etc/machine-info with variable PRETTY_HOSTNAME=<NewName> instead.
#Name = BlueZ

# Default device class. Only the major and minor device class bits are
# considered. De

[2020-12-10 14:00] urbanspike commented on #61
I received my rasberry. Update in progress. Suspence

[2020-12-10 14:02] cagnulein commented on #32
ok @drainuzzo a lot of good news :D

so first let's end the test with this raspberry.
I would like to give a try to all these 3 settings:

`# Possible values: "dual", "bredr", "le"
#ControllerMode = dual`

so set ControllerMode to "bredr" and if it doesn't work to "le". I think "le" should be the winner.
Of course you have to comment out the ControllerMode line and you have to restart the raspbery

[2020-12-10 18:01] urbanspike commented on #61
make -j4 takes a long time to do this, it has been running for 10 minutes, Normal ?

[2020-12-10 18:13] rickoneeleven commented on #54
just had a full session with 235748cd680cd2a4bb4c76df3a4950038cb4408e - zero segfaults (or if there were any, i never noticed them), so doesn't look you've introduced any issues

[2020-12-10 18:47] cagnulein commented on #54
Ok, so i guess it's an android issue. Thanks

[2020-12-10 19:34] cagnulein commented on #61
Yes the raspberry has only one core. Doesn't run with -j4. Run just make

[2020-12-10 20:50] urbanspike commented on #61
Ok, I was able to test the bridge on raspberry. Everything is OK with the bike and Zwift.
The only problem I have and unfortunately it's still the same is that zwift can't see the heartbeat.
Otherwise a suggestion, the speed field is really too small on the bridge, you can't see the speed, that's a detail.
Another suggestion, it would be perfect if in the Raspberry version, we could do as on Andro

[2020-12-10 20:54] cagnulein commented on #61
Great!

Try to use argument -heart-service

yes i know. In these day i focused all my effort to the android/apple versione

you could already do with -bike-resistance-gain and -bike-resistance-offset parameters

yes, i have to add as an option. I think there is also a issue opened

[2020-12-10 21:57] cagnulein commented on #54
ok i've uploaded the new commit about synchronizing event on domyostreadmill. Tomorrow i will build it for android too and i would like if @mitchoklemen will try it.
have a good night guys!

[2020-12-11 07:36] cagnulein commented on #54
@mitchoklemen @rickoneeleven could you please test this version? send me the logs at the end, thanks.
http://80.211.67.253:8080/android-build-1.5.1.zip

[2020-12-11 07:38] rickoneeleven commented on #54
what should I do to test? usually I do a run on zwift but if the bridge bit possibly doesn't work yet, what do you want me to do, just see if it connects to treadmill?

[2020-12-11 07:41] cagnulein commented on #54
yes @rickoneeleven , anyway, as i said before, with this version zwift should work. you have only to play with the heart rate setting (try it with on or off).

But a quick connection test to the treadmill is enough (try to change the speed, start and stop command...)

[2020-12-11 10:08] drainuzzo commented on #32
Ok LE seems working with program (now I can see data) but I always have the Zwift issue... nothing to do to move the avatar 😭

@cagnulein

Attached the logs..
[BREDR-debug-FriDec11.zip](https://github.com/cagnulein/qdomyos-zwift/files/5678491/BREDR-debug-FriDec11.zip)
[LE-debug-FriDec11.zip](https://github.com/cagnulein/qdomyos-zwift/files/5678492/LE-debug-FriDec11.zip)

[2020-12-11 10:13] cagnulein commented on #32
thanks @drainuzzo i'm looking the logs. in the meanwhile try to test it on android http://80.211.67.253:8080/android-build-1.5.1.zip

[2020-12-11 10:28] cagnulein commented on #32
i saw a connection from

GATT connection from device "94:65:2D:C2:AC:88" "OnePlus 5T"

but what do you see on zwift? are you able to select the speed icon? did it find the domyosbridge? could you please take me some picture of zwift? it seems everything fine from my side

[2020-12-11 13:12] urbanspike commented on #61
Hello,
Good news.
The bridge under raspberry is ok with Zwift under android 8 or under Windows 10 with the -heart-service argument. Even The heartbeat is OK. It's the Christmas miracle LOL !!!

On the other hand, Zwift under android 10 does not see any possible bluettoth connections. It's a very rotten version!

Good luck for further development and thank you again!

[2020-12-11 13:33] cagnulein commented on #61
thank you for sharing your story! i use zwift on android 10 every day but i guess it's a matter of phone. anyway i will close this, if you have any issue, feel free to reopen it!

[2020-12-11 13:33] #61 closed

[2020-12-11 16:18] mitchoklemen commented on #54
Logs...
I still have problem with it... at start its ok, then buttons just wont change the speed or inclinacion (like freez)

[debug-Fri Dec 11 16_51_26 2020 (1).log](https://github.com/cagnulein/qdomyos-zwift/files/5680282/debug-Fri.Dec.11.16_51_26.2020.1.log)
[debug-Fri Dec 11 16_55_53 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5680284/debug-Fri.Dec.11.16_55_53.2020.log)
[debug-F

[2020-12-11 19:10] andyw8 opened #71 "iOS - Echelon cadence is zero"
Hi, I bought the iOS app from the App Store. It connects successfully to my Echelon Sport bike and to my iPhone SE 2020. But the cadence stays at zero. I have the "Cadence Sensor (Peloton compatability)" enabled. Any suggestion for troubleshooting? I've tried restarting everything.

[2020-12-11 19:29] marklogan17 commented on #71
@andyw8 do you see the boxes appear (under the start/stop buttons) for speed/distance/cadence/output/etc?  Do any of them get values?  If you could post a picture or a screen shot that may be helpful.

The Cadence Sensor setting (and the Heart rate outside of FTMS) setting are only for the connection to Peleton or Zwift.  You should be able to essentially replicate the Echelon Free Ride functional

[2020-12-11 19:40] andyw8 commented on #71
Sorry, missed some detail – the cadence shows in the qdomyos-zwift app but not in the Peleton app.

[2020-12-11 19:43] cagnulein commented on #54
@mitchoklemen in the log I saw version 1.4.8 are you sure you use version 1.5.1 that i have linked above?
Thanks!

[2020-12-11 20:01] andyw8 commented on #71
<img width="211" alt="Screen Shot 2020-12-11 at 3 01 11 PM" src="https://user-images.githubusercontent.com/13400/101949527-bb2dcd00-3bc1-11eb-86d4-95d520835c3d.png">
<img width="565" alt="Screen Shot 2020-12-11 at 3 01 03 PM" src="https://user-images.githubusercontent.com/13400/101949528-bbc66380-3bc1-11eb-97f8-9d555653642f.png">

[2020-12-11 20:04] mitchoklemen commented on #54
sure! I dont have any onther than 1.5.1 and older 1.4.

[2020-12-11 20:06] marklogan17 commented on #71
Interesting.  I never saw that.  What are your settings in the bridge (top left corner menu, then settings)?

[2020-12-11 20:11] andyw8 commented on #71
"Use Miles unit in UI" off
"Cadence Sensor (Peloton compatability)" on
"Heart Rate service out FTSMS" off
Zwift Resistance Offset 4
Zwift Resistance Gain 1

[2020-12-11 20:20] cagnulein commented on #71
Could you try to short up your phone name and avoiding strange character?
Maybe just "iphone".

Il ven 11 dic 2020, 21:11 Andy Waite <notifications@github.com> ha scritto:

[2020-12-11 20:22] cagnulein commented on #54
No i guess i didn't explain me well. You are using the version 1.4.8
I guess the installation of the 1.5.1 didn't go well. Could you please
double check it?
Thanks

Il ven 11 dic 2020, 21:04 mitchoklemen <notifications@github.com> ha
scritto:

[2020-12-11 20:23] marklogan17 commented on #71
You also may want to try 'Heart Rate' set to 'on' too.  That's where I have it set.

[2020-12-11 20:40] andyw8 commented on #71
Thanks for both suggestions but no luck so far.

[2020-12-11 20:48] cagnulein commented on #71
Just to be sure: qdomyos runs on iphone 2020 se, peloton where does it run? You know that you need another device isn't it?

I know this is a dumb question, but i have to evaluate every way.

@marklogan17 could we try another app instead of peloton?

[2020-12-11 20:50] marklogan17 commented on #71
@andyw8 could you install Kinetic or Wahoo apps and try and connect the cadence sensor to them instead of the peleton app?

[2020-12-11 20:51] andyw8 commented on #71
I'm running the Peleton app on an iPad mini 2, 32GB, iOS 12.4.8.

I'll try with one of those other apps.

[2020-12-11 22:25] marklogan17 commented on #71
@andyw8 are you on the beta or the released version?

[2020-12-11 22:26] andyw8 commented on #71
Official release from the app store.

[2020-12-11 22:27] andyw8 commented on #71
So I tried both Kinetic and Wahoo - no luck. Could it be that the Bluetooth hardware in my iPad is too old? It's from ~2014.

[2020-12-11 22:28] marklogan17 commented on #71
I'm finally (almost) finished work for the day.  I'll be trying to replicate this shortly...

[2020-12-11 23:50] taylorschaerer commented on #71
This is a long shot, but may be worth trying. I have the same bike (echelon sport) and I just downloaded the domyos-Zwift app in the store to try it today. I'm running the app on a 2020 iPhone SE and Zwift on a first gen iPad Pro. I had trouble keeping stable Bluetooth connection between the phone and iPad. I eventually disabled WiFi and Antenna (leaving Bluetooth enabled) and my connections were

[2020-12-12 00:11] marklogan17 commented on #71
I just ran some tests.  My Pixel 2 XL worked perfectly with the most recent version, connecting to my Galaxy S20 FE and to my iPhone 8.  On the galaxy I connected to Wahoo.  On the iPhone I connected to Wahoo and Peleton.  I then tried from Galaxy S20 and neither my pixel nor the iPhone received it.  I did get a couple of times within Wahoo where it saw the connection briefly but not constant and

[2020-12-12 00:18] andyw8 commented on #71
I tried disabling wifi (it's non-cellular iPad) but it didn't seem to have any effect.

[2020-12-12 00:19] marklogan17 commented on #71
Try on your iPhone.  Its feeling to me like maybe its the broadcasting that is weak, more than the receiving...

[2020-12-12 01:37] marklogan17 commented on #71
Interesting.  I connected my Galaxy to my bike.  I started Wahoo app on iPhone.  No connection.  Turned off wifi on my Galaxy, instant connection to iPhone and cadence came across.  While pedaling I turned on the wifi on the galaxy phone again and the cadence value disappeared right away.  Waited a few seconds, turned off wifi on the galaxy again - had to 'search' for the connection in the wahoo a

[2020-12-12 07:31] cagnulein commented on #54
@mitchoklemen sorry, my fault. i uploaded a wrong file. please try again with this http://80.211.67.253:8080/android-build-1.5.1a.zip

[2020-12-12 07:48] cagnulein commented on #71
@marklogan17 could you please collect me some logs when wifi is on? on both these logs everything seems fine, i saw cadence to peloton/zwift is ok

[2020-12-12 11:19] rickoneeleven commented on #57
sorry to go off topic here, I don't suppose you know what technology the cheap heart rate strap that came with my treadmill uses to connect to your bridge? i assumed you were grabbing it via bluetooth (as it works) so tried to pair the heartrate strap with an andriod app to read my rate through the day, but it won't show up. and i'm starting to think maybe it's not bluetooth?

it looks like this i

[2020-12-12 11:21] cagnulein commented on #57
t900c and intense run have analogic heart rate belt, so no, it's not bluetooth. but for the t900c i read the heart rate from the treadmill, don't you get it ?

[2020-12-12 11:37] rickoneeleven commented on #57
ahhhh i see, thanks for answering. on an unrelated note, ill go and download that andriod version now and give it a test.

will update in 20 minutes or so

[2020-12-12 11:39] cagnulein commented on #57
@rickoneeleven great! just to be sure, use this apk http://80.211.67.253:8080/android-build-1.5.1a.zip
thanks!

[2020-12-12 11:47] rickoneeleven commented on #54
okay using that version, it has connected to my treadmill and zwift. it's running now in my garage (where the treadmill is). i increased and decreased the speed using the buttons on my treadmill and that successfull sped up and slowed down on zwift, do you need me to test anything else?

[2020-12-12 11:50] cagnulein commented on #54
Great! So this version is running on android! Well! @mitchoklemen i need a confirm from you now. Because if it doesn't work to you I guess it's something in your setup that we have to understand.

@rickoneeleven just as reference, could you please attach here the log available on your download folder on android?

Thanks

[2020-12-12 11:58] rickoneeleven commented on #54
yes https://photos.app.goo.gl/FAcW5qPZigBEPgnNA log to follow

[2020-12-12 12:02] rickoneeleven commented on #54
log
[debug-Sat Dec 12 11_44_08 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5683025/debug-Sat.Dec.12.11_44_08.2020.log)

[2020-12-12 14:18] marklogan17 commented on #71
@cagnulein both of those were with wifi on.  That galaxy log was where I didn't get a connection to any other device.  i.e. it connected to the bike and ran perfectly, but the connection to peleton/wahoo/etc just didn't appear.

The log below is from when I triggered wifi on and off on the galaxy.  This is the one where I got the connection to wahoo when the wifi was off and then the connection we

[2020-12-12 14:59] cagnulein opened #72 "Getting heart rate from Apple Watch"

[2020-12-12 16:49] mitchoklemen commented on #54
OK now it is 1.5.1. when I tap fan it stuck.
[debug-Sat Dec 12 17_32_35 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5683448/debug-Sat.Dec.12.17_32_35.2020.log)
[debug-Sat Dec 12 17_30_17 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5683449/debug-Sat.Dec.12.17_30_17.2020.log)
[debug-Sat Dec 12 17_28_36 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5683450/d

[2020-12-12 16:52] marklogan17 commented on #71
Did a bunch of testing - here are steps and results:
1) Rebooted Galaxy S20
2) Started app and connected to bike - note:  wifi ON
3) Ran nrf Connect on Pixel 2XL - found S20, found cadence
4) Thought I closed nrf Connect (didn't actually but turned out not to matter), ran Wahoo on Pixel.  Found cadence sensor, connected, cadence came across correctly, closed Wahoo
5) Ran wahoo on iPhone 8 - did NO

[2020-12-12 17:04] cagnulein commented on #71
@marklogan17 thank you very much for sharing your discoveries! so we can summarize it "if the iphone doesn't see the bridge, restart the phone", isn't it?

[2020-12-12 17:07] marklogan17 commented on #71
:)  Well that certainly fixed it for me this time.  Interested to see if others have the same experience.  If I can make it fail consistently again, I'll reboot and see.

[2020-12-12 17:20] cagnulein commented on #54
thanks @mitchoklemen this time is very clear on the logs! if you don't touch the fan does it work well? i'm trying to understand and solving the fan issue

[2020-12-12 17:48] cagnulein commented on #54
@mitchoklemen finally solved the fan issue too http://80.211.67.253:8080/android-build-1.5.2.zip !! give me a confirmation, please :)

[2020-12-12 19:02] mitchoklemen commented on #54
Yihaaa, Everything works! 👍👏
One strange thing only... I didnt find the LOG file in Downloads... date and time wasn't right... I checked the system date and its OK. One question more... on the treadmill, the run time stops (was 13:41) or is not synced with Zwift... can you look at it?

[debug-Fri Nov 6 14_23_44 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5683605/debug-Fri.Nov.6.14_2

[2020-12-12 19:51] cagnulein commented on #54
Do you want to know what problem is about the time? Check better the logs, the datetime has synced during the workout, so at one moment, instantly the date passed from 6th November to today :D and of course everything based on time was shit :D

So i guess it's a no-problem ;)

[2020-12-12 19:51] cagnulein commented on #54
If you are ok, we can close this one ;)

[2020-12-12 20:34] mitchoklemen commented on #54
sure! Bravo to you and thanx for get us great link ... to Zwift

[2020-12-12 20:42] #54 closed

[2020-12-14 07:13] cagnulein commented on #71
@andyw8 any news about it?

[2020-12-14 07:26] cagnulein commented on #48
@firetrappe i'm closing this one. if you have any issue, feel free to reopen it!

[2020-12-14 07:26] #48 closed

[2020-12-14 07:44] cagnulein opened #73 "Enabling log writing on iOS"
I guess i have to follow these steps https://forum.qt.io/topic/89053/writing-ios-app-logfiles-to-public-accessible-folder-qstandardpaths/7

[2020-12-14 11:31] cagnulein opened #74 "Carnielli treadmill support"

[2020-12-14 17:26] drainuzzo commented on #32
@cagnulein
Attached the screenshots
![Screenshot_20201214-180959__01](https://user-images.githubusercontent.com/1389932/102113771-b83d1180-3e39-11eb-8b36-5fce919ad04e.jpg)
![Screenshot_20201214-181009__01](https://user-images.githubusercontent.com/1389932/102113814-c723c400-3e39-11eb-8295-026a306bad3f.jpg)

Today I updated all but now I cannot see data on the program also.. attached logs as well

[2020-12-14 17:54] cagnulein commented on #32
hi @drainuzzo today i worked at trxappgateusb module because #74 has the same protocol, so yes, i could have broke something. i will check the log and i will let you know

[2020-12-14 18:12] cagnulein commented on #32
@drainuzzo i said it wrong because i didn't pushed yet the modification. so it's strange. anyway i'm waiting for the confirmation that #74 is now working and i will push the mods. they will improve your TRX too. i will keep you informed

[2020-12-15 07:02] cagnulein opened #75 "Domyos T900C Treadmill connection timeout on Samsung S7"
[debug-Mon Dec 14 21_56_00 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5693891/debug-Mon.Dec.14.21_56_00.2020.log)
With a Samsung S10 and the same treadmill (with the same user) it works well.

[2020-12-15 07:32] cagnulein commented on #74
[debug-Tue Dec 15 08_27_00 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5694039/debug-Tue.Dec.15.08_27_00.2020.log)

[2020-12-15 08:23] cagnulein commented on #74
[debug-Tue Dec 15 09_15_38 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5694306/debug-Tue.Dec.15.09_15_38.2020.log)
[debug-Tue Dec 15 09_13_22 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5694308/debug-Tue.Dec.15.09_13_22.2020.log)

[2020-12-15 08:57] cagnulein commented on #74
[debug-Tue Dec 15 09_50_44 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5694525/debug-Tue.Dec.15.09_50_44.2020.log)
[debug-Tue Dec 15 09_51_34 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5694526/debug-Tue.Dec.15.09_51_34.2020.log)
[debug-Tue Dec 15 09_52_14 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5694527/debug-Tue.Dec.15.09_52_14.2020.log)

[2020-12-15 14:27] cagnulein opened #76 "Add a setting for each metric in order to hide/view it"

[2020-12-15 17:57] istephenzz commented on #62
Hi! I've been using the app for a couple of days now on my Echelon Sport and have had a great experience. Previously I was using the HR2VP app which converted your heartrate to power but it wasn't the most accurate data especially during sprints. I had a couple questions:
1. Why does it seem that the speed on Zwift is always about 5-7 mph faster than what is being displayed in Zwift?
2. Is there a

[2020-12-15 18:44] cagnulein commented on #62
Hi @istephenzz !
1) speed on zwift is calculated on power value, qdomyos instead, has the real speed based on the crank ratio. Just math :)
2) yeah i thought about it too! Maybe a vocal notification. What do you think?

Love to see that you're enjoying it!

[2020-12-15 19:07] istephenzz commented on #62
Thanks for the quick response!
1. That's what I anticipated the answer to be thank you for confirming! I'm sure Zwift has its own unique algorithm especially when dealing with hills and such as mentioned in my 2nd question
2. That would be an amazing feature but wouldn't it have to come from Zwift's end? I don't code but I figure I'd ask the question here because I'm not even sure where the issue

[2020-12-15 19:11] cagnulein commented on #62
2. Yes it comes from zwift, infact it already comes! On domyos bike, my app already controls the resistance based on the grade of the hills, so it's just a matter of coding to have a voice announcement :)

I will open a new issue for this ;)

[2020-12-15 19:12] cagnulein opened #77 "Vocal/visual announcement for resistance changing"
2. That would be an amazing feature but wouldn't it have to come from Zwift's end? I don't code but I figure I'd ask the question here because I'm not even sure where the issue lies. Would the qdomyos app be able to get real-time Zwift changes in elevation and be able to give the user audio feedback to change your resistance to match the angle you are climbing or going down?

_Originally posted by

[2020-12-15 19:19] istephenzz commented on #62
Amazing thanks for being so responsive. I assume your app wouldn't be able to control the resistance on an Echelon Connect Sport, correct?

[2020-12-15 20:19] cagnulein commented on #62
@istephenzz no because echelon sport connect has only manual resistance not automatic.

[2020-12-15 20:24] istephenzz commented on #62
Got it. Thank you for the response and for opening an issue! Looking forward to it! :)

[2020-12-16 07:42] cagnulein commented on #75
i guess i understood, it happens when the advertise period for the virtual interface stops.

[2020-12-16 10:21] cagnulein opened #78 "Chart for echelon-peloton resistance conversion"
![echelon-peloton-resistance conversion](https://user-images.githubusercontent.com/48216/102335878-c2255880-3f90-11eb-80ed-012ab0de24a0.jpg)

add an option to enable it

[2020-12-16 13:27] marklogan17 commented on #78
I could see other bikes wanting this too.  So maybe rather than displaying the chart, its a preference to turn on and then in the resistance field it shows the Peleton resistance rather than the echelon one.  I'm sure we could create a nice linear algorithm to convert.  We would certainly get lots of feedback :)

[2020-12-16 14:15] cagnulein commented on #78
[echelon peloton resistance.xlsx](https://github.com/cagnulein/qdomyos-zwift/files/5703220/echelon.peloton.resistance.xlsx)
i created the formula here, i'm adding to the source code now

[2020-12-16 15:01] #78 closed

[2020-12-16 16:56] cagnulein commented on #19
power doesn't show up on strava https://www.strava.com/activities/4479902418#

[2020-12-16 17:59] tbendis opened #79 "Connect to other Cycling Services?"
I purchased the iOS app of qdomyos-zwift yesterday, and it works great! It's really nice to use Zwift with my Echelon exercise bike - very nice work!

Question: is it possible to add functionality to the qdomyos-zwift app that would allow it to connect to other riding services (e.g., iFIT, Rouvy, FulGaz, etc.)

[2020-12-16 18:16] cagnulein commented on #79
hi @tbendis thanks! it already possibile, did you try? qdomyos advertise itself as a bluetooth cadence sensor or FTMS sensor. You have just to play with the "peloton setting" in order to change this behaviour (it depends about the app you wuold like to use).

I hope i answered to your question.

[2020-12-16 18:51] tbendis commented on #79
Because of the "zwift" in the title of the project/app, I just assumed that it was only compatible with Zwift -- sorry about that!

I will try it with other services this evening.

[2020-12-16 20:28] cagnulein commented on #79
Hahah i definitely need to change the name of the project :D

Il mer 16 dic 2020, 19:52 tbendis <notifications@github.com> ha scritto:

[2020-12-16 20:38] cagnulein commented on #32
i didn't forget about you! the girl with same treadmill now has a working
setup, so please let's try yourself.
Thanks!

Roberto Viola
Software engineer and open source enthusiast
http://robertoviola.cloud

Il giorno lun 14 dic 2020 alle ore 18:26 drainuzzo <notifications@github.com>
ha scritto:

[2020-12-17 04:17] marklogan17 opened #80 "Calculate calories burned for devices that don't provide it"
I've been researching how we can get a reasonably accurate calculation for calories burned based on output.  I looked at the two links below to get somewhat consistent values for METs vs output in watts.  The first link also provides the equation for calories burned per minute for a given MET output and bodyweight.  Since you now have bodyweight in the application, you should have everything you n

[2020-12-17 07:25] cagnulein commented on #80
added to 1.6.1 if i didn't wrong :D

[2020-12-17 07:25] #80 closed

[2020-12-17 10:57] #76 closed

[2020-12-17 10:58] #22 closed

[2020-12-17 11:01] cagnulein commented on #58
i'm closing this one, if it happens again feel free to reopen it

[2020-12-17 11:01] #58 closed

[2020-12-17 14:03] cagnulein commented on #74
done!

[2020-12-17 14:03] #74 closed

[2020-12-17 18:18] urbanspike commented on #61
Hello,
Some news.

I just tested with a new pc running windows 10. It's a Windows 10 business. Version is: 19042.685
The pc is an HP 250 G7. The bluetooth adapter is a realtek. The bluetooth driver is the version of 05/22/2020.
On the pc, I just enabled bluetooth visibility. Installed Zwift and also the Framework 3.5 sp1 for Windows 10. It seems important.
The bridge runs on a P0w raspberry.

I ne

[2020-12-17 18:22] cagnulein commented on #61
What do you mean with "launch the bridge directly with -heart-service,",
isn't the same as the previous step?

Il gio 17 dic 2020, 19:19 urbanspike <notifications@github.com> ha scritto:

[2020-12-17 18:23] cagnulein commented on #61
Oh ok understood now! Very strange!

Il gio 17 dic 2020, 19:22 cagnulein <cagnulein@gmail.com> ha scritto:

[2020-12-18 14:33] cagnulein commented on #73
done!

[2020-12-18 14:33] #73 closed

[2020-12-18 14:33] cagnulein commented on #79
any news @tbendis ?

[2020-12-20 16:47] RhysOnlyBetter commented on #46
My setup:
- Echelon Sport Connect
- 2015 Macbook
- Oculus Quest 2
- Holofit App
![PXL_20201220_164215727](https://user-images.githubusercontent.com/4860207/102718925-4a716980-42c1-11eb-9559-afcaa72adfba.jpg)

Went for my first VR ride this morning, the bridge worked great with the Quest 2! Thanks for all your hard work :)

[2020-12-20 16:54] cagnulein commented on #46
@RhysOnlyBetter wonderful! so you can use zwift with the oculus?

[2020-12-20 16:57] RhysOnlyBetter commented on #46
I don't think there's a zwift app for Oculus yet, but there are 2 similar apps; Holofit and VZFit Play. I tried out Holofit and it worked great, VZFit I was able to connect the bridge, but had trouble registering the app, so wasn't able to try it out fully.

[2020-12-20 17:00] cagnulein commented on #46
@RhysOnlyBetter you have to definitely record a video of these :D

[2020-12-20 19:34] rickoneeleven opened #81 "t900 - pi0w - zwift on laptop (connection fails without segfault)"
i'm only getting one connection drop between bridge and treadmill approximately every hour, although this isn't a specific pattern. just on average it drops once per hour.

the problem is, it isn't segfaulting - otherwise my auto restart script would just restart it and reconnect. the bridge continues to run but just treadmill stops and disconnects, i can't tell if it's also disconnected from zwif

[2020-12-20 21:07] cagnulein commented on #81
The strange thing is that it's not connected again automatically...i will check it tomorrow.

[2020-12-20 21:15] rickoneeleven commented on #81
even if you can get the bridge to exit/close when it loses connection to the treadmill so my auto restart script kicks it back into action and restores the connection - that would help.

maybe when this event occurs: BTLE stateChanged InvalidService

[2020-12-20 21:27] cagnulein commented on #81
I could add an option to do it, yes.
You're the king of workaround :)

Il dom 20 dic 2020, 22:15 Ryan Partington <notifications@github.com> ha
scritto:

[2020-12-21 06:32] cagnulein opened #82 "Clear stats button"
Add a button to clear the stats for the current session

[2020-12-21 06:37] cagnulein commented on #81
@rickoneeleven pull it and build it. i added a -no-reconnection for you. Tell me if it will work

[2020-12-21 07:19] rickoneeleven commented on #81
beautiful thank you, i'll test over the next few days ❤️

[2020-12-21 07:24] cagnulein commented on #81
this is my christmas present for you :D

[2020-12-21 07:25] rickoneeleven commented on #81
❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️  ❤️

[2020-12-21 11:50] drainuzzo commented on #32
hello @cagnulein

today updated all and tried again but this time is worse, cannot see my Toorx and its data on the program 😢
[debug-TR-AppGate-10.zip](https://github.com/cagnulein/qdomyos-zwift/files/5724146/debug-TR-AppGate-10.zip)

I attached all logs

bye

[2020-12-21 12:15] cagnulein commented on #32
@drainuzzo after the first try, the rasp or the treadmill went in error. So you reboot both (or just one of them and see if something changes).

Anyway, i saw that the RSSI from your treadmill is low:

Debug:   Discovered:  "FF:90:CE:BE:F5:FC" "TOORX0083" Num UUIDs 5 total device 9 cached RSSI -79 Class 0

i don't think this is the cause, but try to reduce the distance

for example, the hue lamp h

[2020-12-21 12:58] rickoneeleven commented on #81
got a load of these during make?
![mstsc_u3lW2pFzIg](https://user-images.githubusercontent.com/8156878/102779498-3d6d7c80-438c-11eb-8e5c-e2e7a5727fc6.png)

[2020-12-21 13:00] cagnulein commented on #81
yes they are normal, i added the FIT library from garmin and it has some warning, ignore them

[2020-12-21 13:02] rickoneeleven commented on #81
cool thanks

[2020-12-21 13:40] drainuzzo commented on #32
ok @cagnulein now I put the pi very near to TR but I had some crash or the same lack of tr data

new logs:
[debug-TR-AppGate-11.zip](https://github.com/cagnulein/qdomyos-zwift/files/5724552/debug-TR-AppGate-11.zip)

[2020-12-21 14:20] cagnulein commented on #32
ok @drainuzzo  i saw now a good RSSI.
Maybe i understood the issue. For the Carnielli treadmill, i put some delay on the init phase, and maybe this is the issue on you now. I removed for your type of treadmill.
Pull it and build it.
Thanks!

[2020-12-21 15:34] drainuzzo commented on #32
Ok I rebuilt it but again it fails on acquiring data and sometimes crashed after the start

new logs
[debug-TR-AppGate-12.zip](https://github.com/cagnulein/qdomyos-zwift/files/5725118/debug-TR-AppGate-12.zip)

[2020-12-21 15:50] cagnulein opened #83 "Average power tile"
Add a tile that show the average power for the current session

[2020-12-21 15:57] cagnulein commented on #32
i'm speechless, i don't understand what's going on, sometimes it starts and it hangs after few seconds, sometimes doens't start at all.
For sure the modification that i did today, helps it because i saw data finally in a log. But the disconnection are too much. @drainuzzo you definitely need to test it with something different from the pi3b (it's still it isn't it?). Don't you have a pi0w? or even

[2020-12-21 16:01] drainuzzo commented on #32
@cagnulein I have pi4s but need some time to configure things..I'll keep in touch I hope before end of the year

[2020-12-21 16:02] cagnulein commented on #32
no problem, if something else comes to my mind i will write you.
P.S. Did the mantide arrive? :D

[2020-12-21 16:11] drainuzzo commented on #32
mantide will arrive on feb..I hope in a good shape 😍 🙏

[2020-12-22 05:36] cagnulein opened #84 "Run in background on ios and android"
Now everything stops when the app is not in foreground

[2020-12-22 08:04] #83 closed

[2020-12-22 18:11] rickoneeleven commented on #81
[debug-Tue Dec 22 17_14_36 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5731375/debug-Tue.Dec.22.17_14_36.2020.log)

disconnected today but the bridge kept running, so had to CTRL+C it myself to restart it, also when it restarted the speed and incline had reset (0% incline and 1 speed i think) whereas I was running 1% incline and 6.4 speed

this is the event I was hoping it would aut

[2020-12-22 18:41] cagnulein commented on #81
Argh, tomorrow i will check it, sorry :/

Il mar 22 dic 2020, 19:11 Ryan Partington <notifications@github.com> ha
scritto:

[2020-12-23 04:09] cagnulein commented on #81
@rickoneeleven sorry, my fault. i was so used to write for mobile app that i forgot the behaviour for the linux target ;) (the parameter wasn't active, simply :/ )

[2020-12-23 06:54] rickoneeleven commented on #81
ahh cool, i'll pull it and give it a go over a next few days ❤️ ❤️ ❤️ ❤️ ❤️

[2020-12-23 21:24] cagnulein opened #85 "Elapsed goes mad after 59:59"
i guess it's just a stupid thing in the code as usual :D

[2020-12-23 21:25] cagnulein opened #86 "Elliptical Domyos"
[debug-Wed Dec 23 12_03_03 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5737176/debug-Wed.Dec.23.12_03_03.2020.log)
[debug-Wed Dec 23 13_09_11 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5737177/debug-Wed.Dec.23.13_09_11.2020.log)

[2020-12-23 21:26] cagnulein commented on #86
![image](https://user-images.githubusercontent.com/48216/103038114-e32c1180-456d-11eb-85da-4e2dc8742f58.png)
![image](https://user-images.githubusercontent.com/48216/103038123-e921f280-456d-11eb-8756-cf3c189f700f.png)

[2020-12-23 21:27] cagnulein opened #87 "Huawei P8 Lite Issue"
waiting https://bugreports.qt.io/browse/QTBUG-85493 Qt 5.15.3

[2020-12-23 21:52] IvanFernandezR opened #88 "Raspberry Pi WZero crashes when doing $ make -j4"
After doing $ make -j4, it is working about 1min and finally the raspberry crashes and I have to reboot manually.
What I'm doing wrong?
Thanks

[2020-12-23 22:23] cagnulein commented on #88
Run just make, without -j4.
Pi0w has one only core and few ram :)
I should definitely report in the faq.

Il mer 23 dic 2020, 22:53 IvanFernandezR <notifications@github.com> ha
scritto:

[2020-12-24 16:00] cagnulein commented on #72
Apple Watch feedbacks:
- disable notifications
- heart rate is visible only when the watch is active
- the app on the watch keeps running even if it closed

[2020-12-25 00:46] IvanFernandezR commented on #88
Hi @cagnulein!
Thanks for answering.
I tried again and now the proccess finished but I got an Error at the end.
Sorry because of so many questions but I am begginer in Raspberry and have no idea.
I think I am following the steps you described, but i am not achiving.
![image](https://user-images.githubusercontent.com/76537714/103111995-91a98280-4652-11eb-9a12-a0010946ba2e.png)

[2020-12-25 05:09] tbendis commented on #79
I was able to successfully use your app with FulGaz!

[2020-12-25 06:07] cagnulein commented on #88
Do:
make clean
make

It should fix it

[2020-12-25 19:51] #81 closed

[2020-12-25 19:51] rickoneeleven commented on #81
-no-reconnection fixed issue, still crashes (ill open another issue) for the program dumps out now and restarts at the correct speed ❤️

[2020-12-25 20:00] rickoneeleven opened #89 "t900c with pi0w intermittent crashes"
helps massively with the -no-reconnection but if you're still interested in stopping the crashes in general:

it started up and crashed quite quick, treadmill stopped and then restarted (thanks to -no-reconnection)
[debug-Fri Dec 25 17_23_53 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5742345/debug-Fri.Dec.25.17_23_53.2020.log)

now the following log is interesting, because I didn't

[2020-12-25 20:06] cagnulein commented on #89
Thank you for providing me the log.
I'm looking very quickly to your log and i saw a strange issue just before the crash happens

`Debug:   HCI event triggered, type: 13
Debug:   HCI event triggered, type: 13`

Usually it just one time I guess.
I will look into it

[2020-12-26 06:41] venkateshks opened #90 "Frequent disconnects with zwift, logs attached"
[debug-Fri Dec 25 21_41_11 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5742760/debug-Fri.Dec.25.21_41_11.2020.log)
[debug-Fri Dec 25 21_59_35 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5742761/debug-Fri.Dec.25.21_59_35.2020.log)
[debug-Fri Dec 25 21_52_24 2020.log](https://github.com/cagnulein/qdomyos-zwift/files/5742762/debug-Fri.Dec.25.21_52_24.2020.log)
[debug-Fri

[2020-12-26 06:45] cagnulein commented on #90
Ok @venkateshks as i said on messenger, let's see if the relaxed bluetooth setting helps.
Let me know

[2020-12-26 07:37] mgsimon opened #91 "connect garmin fenix 6"
Could not use this bridge to connect between domyos bike 500 and garmin fenix 6.

fenix 6 shall identify spped and cadence sensor if qdomyos advertise itself as a bluetooth cadence sensor or FTMS sensor, or?
Do I miss something or does fenix 6 not support this type of advertisement?

[2020-12-26 07:43] cagnulein commented on #91
Hi micheal, I'm aware of it, infact it's not an issue of code, infact if
you try to advertise ftms or cadence from nrfconnect you will see the same
result.
I think garmin see it as a phone and avoid to connect to it as a sensor.
Could you please investigate about this?
I don't have a Garmin watch
Thanks

Il sab 26 dic 2020, 08:37 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-26 08:09] mgsimon commented on #91
Hi Roberto,
I test the connection with the bridge on my linux dev notebeook and have no idea how to investigate what garmin watch is searching?

How do I cann setup test advertiser for ftms or cadence in nrfconnect to test if a connection from fenix to a virtual sensor is possible?

New advertising packet?
- name?
- record?
- options?
- connectable?
- scannable?
- intervall?
- tx power level?

[2020-12-26 08:30] cagnulein commented on #91
Yeah you're right, it's not so easy on nrfconnect.
Another idea: have you got a sensor (heart rate, cadence, or other) that
your garmin already see? We can compare it to our bridge on nrfconnect in
order to see the differences.
What do you think?

Il sab 26 dic 2020, 09:10 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-26 08:45] mgsimon commented on #91
I have heart rate and running pod sensor for my watch but I thinke these devices will use ant+ instead of BLE.

[2020-12-26 09:29] cagnulein commented on #91
Ok, in the meanwhile I remember that my old polar m430 has the same ability
of the Fenix 6 to connect to some sensor. I will give it a try too and i
let you know

Il sab 26 dic 2020, 09:45 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-26 11:59] cagnulein commented on #91
![Screenshot_20201226_123909_no.nordicsemi.android.mcp.jpg](https://user-images.githubusercontent.com/48216/103150997-2955c080-477a-11eb-8369-3ff01a3aa8cf.jpg)![Screenshot_20201226_123703_no.nordicsemi.android.mcp.jpg](https://user-images.githubusercontent.com/48216/103151000-2b1f8400-477a-11eb-8430-b7f1593a5627.jpg)![Screenshot_20201226_123648_no.nordicsemi.android.mcp.jpg](https://user-images.gi

[2020-12-26 12:41] mgsimon commented on #91
My Garmin RD Pod is using ANT+ but fenix shall support BLE sensors also.
Would be nice to test some of your ideas to get it running.

[2020-12-26 12:49] cagnulein commented on #91
Yeah i will do some test today

Il sab 26 dic 2020, 13:41 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-26 13:11] mgsimon commented on #91
I checked my heart sensor HRM-Tri from Garmin, but support ant+ only also.
Have no bluetooth sensor ... :-(

[2020-12-26 13:45] #85 closed

[2020-12-26 13:50] cagnulein commented on #91
@mgsimon i just added a cli argument called "-bike-cadence-sensor" that emulate a cadence sensor instead of a FTMS one. Could you please try to pull it, build it and give it a try? I'm doing the same thing on my Polar M430.
Thanks

[2020-12-26 14:57] cagnulein commented on #91
I got it!!! I will push the commit soon!

[2020-12-26 15:08] mgsimon commented on #91
:+1:

Currently I have a problem with my setup.

Bluetooth: `Bus 003 Device 002: ID 0b05:17cb ASUSTek Computer, Inc. Broadcom BCM20702A0 Bluetooth`

e.g.
[code]
Could you support me with APK for a fast test from my tablet / phone?

[2020-12-26 15:15] cagnulein commented on #91
@mgsimon if you want i could send it to beta tester group on google. is it ok for you?

[2020-12-26 15:17] mgsimon commented on #91
yes, pls. add my account to this group? :-)

[2020-12-26 15:22] cagnulein commented on #91
Write me it to roberto.viola83@gmail.com
I will do it in about 3 hours

Il sab 26 dic 2020, 16:18 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-26 17:33] cagnulein commented on #91
@mgsimon 1.8.5 Is available on beta testing. Give it a try!

[2020-12-26 18:04] mgsimon commented on #91
My fenix could not find any sensor ... :-(

First try with setting "Cadence Sensor (Peleton compatibility)" and second without ...

btw, I'm not connected with zwift, want to connect cadence and speed to watch only.
I will send log files by mail.

[2020-12-26 19:34] cagnulein commented on #91
Ok FTMS is not supported from garmin fenix 6 https://forums.garmin.com/outdoor-recreation/outdoor-recreation/f/fenix-6-series/224367/fenix-6-treadmill-bluetooth-ftms-fitness-machine-service-protocol

So we need to play with cadence

[2020-12-26 19:40] mgsimon commented on #91
I think ant+ is supported for sensors only?
Could not find any setup with a BLE sensor, all with Bluetooth and **ANT+**?

[2020-12-26 19:43] cagnulein commented on #91
Did you check on the manual?

Il sab 26 dic 2020, 20:40 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-26 20:05] cagnulein commented on #91
Are you following these steps
https://www8.garmin.com/manuals/webhelp/fenix66s6xpro/EN-US/GUID-0AA57B88-BA13-4983-ADAC-7EA7DABC735D.html
?

Il sab 26 dic 2020, 20:43 cagnulein <cagnulein@gmail.com> ha scritto:

[2020-12-26 22:08] mgsimon commented on #91
Sure, many times ...

In manual ant+ **or** bluetooth but could not find any hint in Garmin SDK for cadence or speed in context of bluetooth. Seems to be more generic. E.g ant+ listener exists and all found buyable sensors support ant+ **and** bluetooth.

[2020-12-26 22:32] cagnulein commented on #91
Could you try, with my app open and connected to the bike, check how your
phone is advertising over bluetooth?
You need a another phone/tablet with nrfconnect to do it. I'm interested
about the nrfconnect scan page, where it shows the full details of the
advertisement data.
Thanks

Il sab 26 dic 2020, 23:09 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-26 23:35] venkateshks commented on #90
@cagnulein I did another ride today, with experimental feature enabled. I still saw frequent disconnects (even though I didnt see multiple duplicate entries anymore). I was using HRM from garmin, through an ANT+ dongle. Once I unpaired the HRM, kept the HRM far away (so that my laptop would not see the bluetooth) I was able to ride without any disconnects for an hour. I have the logs for this too.

[2020-12-26 23:36] venkateshks commented on #90
I will try again in the my next ride to connect my HRM using bluetooth and see if that improves connection stability.

[2020-12-27 06:59] cagnulein commented on #90
I will add a feature to connect hr directly on my app if it helps

[2020-12-27 07:52] mgsimon commented on #91
Cadence Sensor (Peloton compatibility) active:
![Screenshot_20201227-084019_nRF Connect](https://user-images.githubusercontent.com/3304867/103166271-b5222800-4820-11eb-8e22-88501957483a.jpg)

[2020-12-27 07:58] mgsimon commented on #91
Scan:
![SmartSelect_20201227-083703_nRF Connect](https://user-images.githubusercontent.com/3304867/103166371-9bcdab80-4821-11eb-96e5-dd8f74b3f339.jpg)

[2020-12-27 08:27] cagnulein commented on #91
@mgsimon maybe your fenix has some issue because it saw that the mgNote8 has cadence and heart rate too. Maybe if i remove (with a setting) the heart rate service, it will find it. What do you think? Infact nrfConnect shows a heart icon too...

[2020-12-27 08:39] mgsimon commented on #91
You can test CSC with nRF Toolbox. If this works then we can test fenix connectivity again.

Maybe additional usefull informations:
- https://learn.adafruit.com/bluetooth-bicycle-speed-cadence-sensor-display-with-clue/cycling-speed-and-cadence-service
- https://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.sdk5.v14.0.0%2Fble_sdk_app_csc.html

[2020-12-27 08:44] cagnulein commented on #91
Ok i guess it's already working with that. That's how i test my app at
first. Anyway I will give another round later this morning and i will let
you know.

Il dom 27 dic 2020, 09:39 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-27 08:53] mgsimon commented on #91
btw I was not be able to connect with nRF Connect to advertiser by qdomyos, so I will try it with nRF Toolbox also.

Here is how my watch is advertising RSC profile maybe this could help also?

![SmartSelect_20201227-094739_nRF Connect](https://user-images.githubusercontent.com/3304867/103167168-00d8cf80-4829-11eb-81bf-5dc9882264a9.jpg)

[2020-12-27 09:17] cagnulein commented on #91
If your Watch doesn't see at all the Bridge, we have to focus on the
advertising page (scan page on nrfconnect). I guess it want to see just 1
main service.
I'm out with my dog now, i Will check my idea soon :)
Have a nice Sunday!

Il dom 27 dic 2020, 09:54 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-27 09:47] mgsimon commented on #91
nRF Toolbox will list my MGNOTE8 in CSC as available service but no values will be displayed if I connect to this one.

Which setup are you using to run qdomyos, Android device also? I could try to setup my Raspberry Pi to eliminate issues e.g. by Android.

Which distro do you use on Raspberry?

Have a nice Sunday also!

[2020-12-27 10:05] cagnulein commented on #91
ok i'm trying now

yes, i have a Xiaomi Mi3 and a Honor P20 lite

Raspbian :)

[2020-12-27 10:12] cagnulein commented on #91
@mgsimon ok wait now nrf toolbox says me that my bridge doesn't have the supported services. i'm digging into it

[2020-12-27 10:34] cagnulein commented on #91
nrf toolbox wants a battery service. now it seems to work. i'm doing other some test and i will push it

[2020-12-27 10:54] mgsimon commented on #91
I will try to setup my Raspberry Pi.

[2020-12-27 10:59] cagnulein commented on #91
ok @mgsimon i pushed the modification. so on the raspberry try to run

# ./qdomyos-zwift -battery-service -bluetooth-relaxed

it should connect to your bike and nrftoolbox should see it.
tell me what you will see, i'm really curious about this :)

[2020-12-27 12:34] mgsimon commented on #91
[code]
Could connect with my Raspberry PI to Domyos bike and see DomyosBridge in nRF Connect but I'm not be able to connect CSC by nRF Toolbox.

**Scan**
![SmartSelect_20201227-132146_nRF Connect](https://user-images.githubusercontent.com/3304867/103170880-17daea00-4848-11eb-8eed-9a8ba2e28dad.jpg)

**Client**
![SmartSelect_20201227-132215_nRF Connect](https://user-images.githubusercontent.com/3304

[2020-12-27 12:47] cagnulein commented on #91
Sorry you have also to add

-bike-cadence-sensor

Il dom 27 dic 2020, 13:35 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-27 13:03] mgsimon commented on #91
I could not see bridge anymore in nRF Connect with this addtional parameter.
[code]

[2020-12-27 13:06] cagnulein commented on #91
Yes because the services are changed. Try to reboot your phone. It usually
helps

Il dom 27 dic 2020, 14:03 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-27 13:50] mgsimon commented on #91
Does not work. I restarted my tablet and raspberry. Zwift Connection Status is not active. I'm not sure but is this an indicator for active advertising?

used cmd:
[code]

[2020-12-27 13:53] cagnulein commented on #91
@mgsimon i don't understand: don't you see the bridge anymore? could you please add me on facebook ( https://www.facebook.com/cagnulein/ ) or wherever you want just to follow you in real time? i really want to help you on this. it should work, at least on nrf toolbox

[2020-12-27 13:54] cagnulein commented on #91
try to remove "-bluetooth-relaxed"

[2020-12-27 14:06] mgsimon commented on #91
does not work could see any bridge ... :-(

[2020-12-27 14:11] cagnulein commented on #91
@mgsimon but you saw before with the same binary, so it has to work.
so first step try without -bike-cadence-sensor

It worked before so it has to work now too
If it so, move on, and try with -bike-cadence-sensor

try even with different phone, some phone stores the services of a bluetooth device and keep them in a local cache.

I repeat: if you want, choose a chat service, and i can follow you in

[2020-12-27 14:43] mgsimon commented on #91
There are some issue ...
... test with my phone instead of tablet:

Bridge is available again ...

![SmartSelect_20201227-152944_nRF Connect](https://user-images.githubusercontent.com/3304867/103173192-7066b300-4859-11eb-91e4-0da0fdf4d1e0.jpg)

... but for a short time only.

![SmartSelect_20201227-153350_nRF Connect](https://user-images.githubusercontent.com/3304867/103173202-85434680-4859-11eb-9

[2020-12-27 14:45] cagnulein commented on #91
try to remove the -bluetooth-relaxed

[2020-12-27 15:05] mgsimon commented on #91
**unbelievable** works :+1:

![20201227_155535](https://user-images.githubusercontent.com/3304867/103173574-2e8b3c00-485c-11eb-9014-e2d1c2d73fbc.jpg)

and I could connnect my fenix with DomyosBridge also! :-)

Now we know it could be possible to use this bridge to connect garmin fenix 6 also, but some is missing / wrong ...

- cadence values wrong, not same values as on trainer console and will no

[2020-12-27 15:12] cagnulein commented on #91
@mgsimon

1) cadence: maybe it's just a *2 factor? or something different? The cadence that i show in the qdomyos-app is correct?
2) speed should be autocalculated from the ratio that you've specified in the setting of nrf toolbox, isn't it? i will check again the CSC specs, but i don't remember if there is a speed attribute...
3) mmm i thinks it just a case...please retry this, UI and bluetooth h

[2020-12-27 15:18] cagnulein commented on #91
@mgsimon you're right about the cadence, i'm gonna push it a small modification!

[2020-12-27 15:22] cagnulein commented on #91
@mgsimon done, pull it and build it :)

[2020-12-27 15:31] mgsimon commented on #91
How is speed calculated by cadence only?

I'm not sure what to use for my final configuration, but I think smartphone / tablet could be more useful?
Do not know now, first need stable final version with correct values for speed and cadence.

some screenshots from my fenix:

List of sensors:
![ACRF1454](https://user-images.githubusercontent.com/3304867/103174095-a018b980-485f-11eb-9a1f-7e65d0f508ca

[2020-12-27 15:43] cagnulein commented on #91
Speed it's just ratio*cadence
So you have to know the ratio but it's very easy. Check to my app, i
already show you the cadence and the speed, so if you divide the cadence
for the speed you will obtain the ratio.
Insert the ratio in your fenix and it should work!

Il dom 27 dic 2020, 16:31 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-27 16:06] mgsimon commented on #91
ratio is the relation between cadence and resistance to calculate the speed by wheel size?

btw. value of cadence seems to be correct, but have big time gaps. console display also increase not by second ...

[2020-12-27 16:28] mgsimon commented on #91
But there is one missing value for my understanding ...

Real sensors for CSC are two.
- cadence
- speed

And speed sensor is rpm and speed is calculated by rpm * wheel size?

[2020-12-27 16:39] cagnulein commented on #91
@mgsimon CSC has wheel revs and cranks revs.
Now i'm only sending crank revs.
Wheel revs is not anyway the speed value, it always needs a wheel ratio, so i guess it's not so important, but i could send it of course, deriving it from the speed value and cadence value.

So yes, speed sensor is calculated by rpm * wheel size. But of course you the cadence rpm * ratio as i said before.

Did you alread

[2020-12-27 17:13] mgsimon commented on #91
but for a simple indoor bike is gear ratio by resistance and then the relation between cadence and speed. :-)

anyway how do i get speed value also, because i could set whell size for the detected bridge on my fenix only.

[2020-12-27 17:21] cagnulein commented on #91
@mgsimon as i said before, just take a simple cadence/speed screenshot of my app.
for example:
speed=20
cadence=90

just do: 20/90 = 0,222222222

ok this is the ratio you have to put in your fenix, because 90 * 0,2222222 = 20 km/h

Is it ok?

As i said also, resistance it doesn't in the game, because if you increase the resistance, you did more work, but if you can keep the same cadence you will g

[2020-12-27 17:48] mgsimon commented on #91
No, for my understanding is the indoor bike simulating gear ratio by resistance.
I made a short test without any connected device on this bike and console display following speeds by selected resist.

| Resist | km/h | Rpm (Cadence) |
| --- | --- | --- |
| 01 | 19.2 | 70 |
| 02 | 19.6 | 70 |
| 03 | 20.4 | 70 |
| 04 | 21.2 | 70 |
| 05 | 22.6 | 70 |
| 06 | 23.9 | 70 |
| 07 | 25.3 | 70 |
| ... | ...

[2020-12-27 17:54] cagnulein commented on #91
oh, ok, i didn't know @mgsimon
i don't own a bike so i guess it was act like a normal bike :)
ok i learn a new thing today, thanks :)

so i guess, on your fenix you have to set your ratio to resistance 1. what do you think? because fenix doesn't have the concept of "resistance".

maybe you take in consideration to do just the opposite :) i mean: qdomyos should read the the heart rate from the feni

[2020-12-27 17:54] rickoneeleven commented on #89
here's a log of the same happening today, although a lot further into the session. the auto reconnect (while loop) saved the day again, i'm so thankful for that implementation, but here's the log anyway incase you can get to the bottom of the crashes in the first place - although could just be my t900c with a poor bluetooth implementation?
[debug-Sun Dec 27 11_49_32 2020.log.zip](https://github.co

[2020-12-27 18:01] cagnulein commented on #89
this time there is not the double HCI event, so it's not releated...

[2020-12-27 18:18] mgsimon commented on #91
No because activities uploaded from 3rd party service like Zwift will not populate Training Status and Training Effect in Garmin Connect. This training information requires a compatible Garmin device.

I'm not sure but I think wheel rpm or cadence gear ratio have to be calculated by qdomyos-zwift depending on selected resist for this sensor to get the speed also.

And for training effect and -cond

[2020-12-27 18:28] cagnulein commented on #91
fair enough.
Now all these values are sending to FTMS, infact zwift reads power, resistance, cadence and speed.
Of course with only the cadence service, everything is much harder but definitely not impossible.

Ok let's go on, on our brain storming, you said we need just one value, the wheel size that you have to put in the fenix, isn't it?
So this value must be a costant (and you have to insert i

[2020-12-27 18:46] mgsimon commented on #91
I think user connected to Garmin device could want to train with Zwift also so both services Garmin and Zwift could collect sensor metrics?

Not sure maybe another sensor is more easier, because for calculation by garmin is required ...

- speed- & cadence-sensor
- power sensor could make cadence & speed not required
- new Smart-Trainer sensor seems more similar to Zwift

i'm just thinking loud of

[2020-12-27 19:49] cagnulein commented on #91
I think people or use zwift or Garmin, not both at the same time :)

Yes i think so

I check these ones.

This is FTMS, but you said that fenix doesn't see it, isn't it? Did you try with the battery service on? Maybe it just that one that allow the ftms to be discovered from the Fenix

LOL

[2020-12-28 08:38] cagnulein commented on #91
i think this one it should very easy to implement https://github.com/sputnikdev/bluetooth-gatt-parser/blob/master/src/main/resources/gatt/characteristic/org.bluetooth.characteristic.cycling_power_measurement.xml

i will use Watt and cadence. What do you think? @mgsimon

[2020-12-28 08:40] mgsimon commented on #91
Fenix option to add sensor Smart-Trainer could not find the bridge with all possible options.
I think `ANT+ FE-C` is required and this type of sensor wants to take control to set resistent level.

btw is the option `-only-virtualbike` for test? Because this option starts without UI.

[2020-12-28 08:41] cagnulein commented on #91
yes it is only for test :) good morning, did you read my message above?

[2020-12-28 08:48] mgsimon commented on #91
Would be nice to test this possibility! Good morning ... :-)

[2020-12-28 09:11] cagnulein commented on #91
done @mgsimon
i added a -bike-power-sensor
of course you have to use WITHOUT -bike-cadence-sensor

i tested only with nrfconnect but the data seem fine to me

[2020-12-28 12:06] mgsimon commented on #91
Can add this sensor to my Fenix but cannot connect for a training session ... could this profile tested with nrf toolbox also?

[2020-12-28 12:17] cagnulein commented on #91
No, nrftoolbox hasn't this :( maybe i missed something, I'll double check it

Il lun 28 dic 2020, 13:06 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-29 02:50] venkateshks commented on #90
@cagnulein Dont bother for now. Though it would help for other users. It worked well this time, did a 1hr ride with bluetooth HRM (without ANT+ dongle).  So disconnects, if it happens again will report here. Else we can close this issue

[2020-12-29 02:58] venkateshks commented on #91
I use zwift and would love to use garmin as well. Incase you need someone to test these features. I am already in the beta testing group (on android). I can also run the code directly if it helps.

[2020-12-29 03:02] venkateshks opened #92 "bridge and zwift on same machine?"
Will it work if I run the bridge and zwift on the same machine?

[2020-12-29 06:45] cagnulein commented on #92
No it's not possible, or at least you need 2 dongle by devices

Il mar 29 dic 2020, 04:02 Venkatesh Sharma <notifications@github.com> ha
scritto:

[2020-12-29 06:47] cagnulein commented on #91
Venkatesh which Watch have you got?

Il mar 29 dic 2020, 03:58 Venkatesh Sharma <notifications@github.com> ha
scritto:

[2020-12-29 07:28] cagnulein commented on #91
@mgsimon i took a look at it twice but i can't see issue. But this my idea: nrftoolbox on the cadence sensor, shows the speed so we have to populate it. When we did, fenix will receive it. So i will focus on that.
Do you agree?

[2020-12-29 07:28] cagnulein commented on #91
@mgsimon i took a look at it twice but i can't see issue. But this my idea: nrftoolbox on the cadence sensor, shows the speed so we have to populate it. When we did, fenix will receive it. So i will focus on that.
Do you agree?

[2020-12-29 07:33] cagnulein commented on #91
Infact

Wheel revolutions - used to calculate speed of a known wheel diameter

So i have just need to populate this one according to the speed recorded by the bike!

Today i will do it

[2020-12-29 08:53] mgsimon commented on #91
I willl check if fenix 6 could record cadence in a training session then.

[2020-12-29 09:07] cagnulein commented on #91
done!
just use these parameters:

qdomyos-zwift -bike-cadence-sensor -battery-service -service-changed -bike-wheel-revs

give me good news @mgsimon

[2020-12-29 09:08] cagnulein commented on #91
oh i used wheel circumference as 2000millimeter. if you want you can change it in the source code (i will add a parameter for this too)

[2020-12-29 10:28] cagnulein commented on #91
![Screenshot_20201229_112747_no.nordicsemi.android.nrftoolbox.jpg](https://user-images.githubusercontent.com/48216/103277269-eccbd400-49c8-11eb-9c4a-e77cefbfb529.jpg)

Here I was simulating just the wheel, but it works fine :)

[2020-12-29 11:08] mgsimon commented on #91
I could get values with my bike and CSC in nRF Toolbox also.
And I see you change the gear ratio by resist, have to be calibrated but good ... :-)
How do you calulate this gear ratio?

![Screenshot_20201229-115958_nRF Toolbox](https://user-images.githubusercontent.com/3304867/103279401-f99ef680-49cd-11eb-894d-56d56b30267a.jpg)

And I'm be able to add the bridge as sensor to my watch but cannot con

[2020-12-29 11:12] cagnulein commented on #91
The gear ratio is automatically obtained by nrftoolbox dividing the speed by the cadence :)

For the watch: maybe you have paired before and you have to disconnect it? Try to play with the parameters of qdomyos. I mean, if you remove the new wheel parameter, Fenix 6 can connect to the bridge?

Go go go!, we have almost done :)

[2020-12-29 13:59] mgsimon commented on #91
I can add the bridge as a sensor to my Fenix 6 but then I'm not be able to connect to this one.

1st step is done see and add a sensor.
2nd is to connect to this one to retrieve sensor metrics.

Maybe we can find a protocol for real sensors by Garmin to see the details?

[2020-12-29 14:46] cagnulein commented on #91
@mgsimon i thought that yesterday you achieved to connect and read cadence from your watch isn't it? Did you try also to add -bluetooth_relaxed ?
Be aware that when you use this setting, you have always to reboot the software when you close connection from the watch.

[2020-12-29 14:59] mgsimon commented on #91
No, cadence values never received on Fenix. In nRF toolbox only.

Seems that Fenix is only be able identify only.

I will try with with relax later.

[2020-12-29 15:03] cagnulein commented on #91
Ok, send me the qdomyoszwift log when you try maybe it's something stupid
R.

Il mar 29 dic 2020, 16:00 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-29 15:40] mgsimon commented on #91
used cmd:

[code]

Have to restart qdomyos-zwift many times before sensor appears in nRF Connect.

Fenix: Sensor could be added as a new sonsor if sensor is listed in nRF Connect but could not establish a connection to receive the metrics of sensor with or without stated training session.

[2020-12-29 15:47] mgsimon commented on #91
log by mail ...

[2020-12-29 16:10] mgsimon commented on #91
will check https://developer.garmin.com/connect-iq/sdk/ maybe device emulator?

[2020-12-29 16:15] cagnulein commented on #91
Oh wow! I will have a look into it!
Did you see this instead
https://apps.garmin.com/it-IT/apps/9bcc8b66-8385-4afb-b93e-f69e01422284 ?

Il mar 29 dic 2020, 17:11 Michael Simon <notifications@github.com> ha
scritto:

[2020-12-29 17:24] cagnulein commented on #91
i checked it and there isn't ANY trace of a connection from the garmin, ANY! it seems that the garmin doesn't like the advertised service from my app and so doesn't try to go forward..

[2020-12-30 06:40] #92 closed

[2020-12-30 06:41] cagnulein commented on #71
i just open an issue to Qt guys https://bugreports.qt.io/browse/QTBUG-89730

[2020-12-30 21:40] guidel96 commented on #86
Able to sync the Domyos EL520 elliptical trainer with the Android phone (Huawei Mate 20 Lite).
But unable to sync the android app with Zwift (on both iOS and MacOS).
The Android app "Speed transmitter" was able to connect the Android phone with Zwift (iOS and MacOS).
Have tried to connect my iPad with my Android phone with the nrfconnect but the app didn't find my phone.

Also, cadence is not show

[2020-12-31 08:43] mgsimon commented on #91
I do not know why the watch could not connect to simulated CSC sensor also. Maybe works with one of the next watch updates?
Now I will try to go forward with ant+ which is more supported by Garmin.

Many thanks for your help ... :-)

[2020-12-31 08:50] cagnulein commented on #91
@mgsimon leave this open, i will try to get it work, now i don't have the time to install the simulator. Did you try the app that I mentioned above?

[2020-12-31 09:19] mgsimon commented on #91
Screenshots from fenix 6 with BleScan:
![BLE_Scan_1](https://user-images.githubusercontent.com/3304867/103403574-e9fbeb00-4b50-11eb-92fb-9e2a06971f63.png)
![BLE_Scan_2](https://user-images.githubusercontent.com/3304867/103403575-ea948180-4b50-11eb-9394-a25c7e17c945.png)
![BLE_Scan_3](https://user-images.githubusercontent.com/3304867/103403576-ea948180-4b50-11eb-9a42-17bb6f13a3c0.png)

[2020-12-31 11:07] cagnulein commented on #91
thanks @mgsimon  looks to me correct. so yes, i guess is some inside the firmware of the fenix. I will have another look into my code. And, maybe i would like to buy a fenix device too in the future, so stay tuned :)

[2020-12-31 14:27] cagnulein opened #93 "Strava Autoupload"
oauth auth: start from here https://github.com/GoldenCheetah/GoldenCheetah/blob/d50e1a8552b98a4e2545dbed3c7b9b08a4ac3de1/src/Cloud/OAuthDialog.cpp

[2020-12-31 14:28] cagnulein commented on #79
i'm closing this one, if you need help, please reopen it or create a new one. Thanks!

[2020-12-31 14:29] #79 closed

[2021-01-01 01:55] unwirednet opened #94 "Zwift Power Source not Pairing"
Hi,

I am trying to bridge my Echelon Bike to use it with Zwift, because of the below issue the avatar is not moving.

Attached print screens from the App Host [Iphone 8] and the Zwift Host [Ipad Pro 1st Gen].
In short, Zwift is not able to pair with the Power Source from the App, it keeps searching endlessly.
The Cadence is paired and and value is displayed.  Attached also prints screens of the A

[2021-01-01 07:24] cagnulein commented on #94
Hi, you have simply disable the cadence sensor option and reboot my app :)
Give it a try!

Il ven 1 gen 2021, 02:55 unwirednet <notifications@github.com> ha scritto:

[2021-01-01 12:40] cagnulein commented on #91
today i would like to connect my polar m430 to running and cadence virtual sensor from qdomyos. i'm hoping to see the same issue you have on fenix @mgsimon (polar m430 only accepts running sensors)

[2021-01-01 13:15] cagnulein commented on #91
of course it's working flawless with my polar m430 :D so you're very unlucky ;) maybe i can buy one fenix from amazon, fix the issue and return it back :)

[2021-01-01 15:57] cagnulein commented on #91
@mgsimon it seems a firmware bug https://forums.garmin.com/outdoor-recreation/outdoor-recreation/f/fenix-5-series/131524/fenix-5-linking-to-bluetooth-smart-cadence-and-speed-sensor

[2021-01-01 16:06] cagnulein opened #95 "Incorrect Watt value on Echelon Bike"
bluetooth::debug(QString) "Fri Jan 1 09:39:27 2021 1609515567289 Current Watt: 609"
[debug-Fri-Jan-1-09_10_42-2021.log](https://github.com/cagnulein/qdomyos-zwift/files/5759143/debug-Fri-Jan-1-09_10_42-2021.log)

Current resistance: 29
Debug: /Users/cagnulein/qdomyos-zwift/src/bluetooth.cpp void bluetooth::debug(QString) "Fri Jan 1 09:39:27 2021 1609515567281 Current Heart from Apple Watch: 134"
D

[2021-01-01 16:07] cagnulein commented on #95
@marklogan17 just for your info :)

[2021-01-01 16:11] cagnulein commented on #91
@mgsimon check this answer https://forums.garmin.com/sports-fitness/cycling/f/accessories-sensors/232679/speed-and-cadence-sensor-failed-to-pair/1102621#1102621 it should definitely solve your issue!

[2021-01-01 16:25] cagnulein commented on #62
#95

[2021-01-01 16:41] mgsimon commented on #91
Do not know how this could resolve my issue. I want to connect my watch and not Garmin connect with the sensor to record a training session with watch only.

[2021-01-01 17:01] cagnulein commented on #91
@mgsimon i thought that the only problem for you is recording it as a garmin training session. in that way you could achieve it. anyway seems a firmware bug as you said on the watch.

[2021-01-01 19:22] unwirednet commented on #94
Thank You Roberto, that made it work, appreciate your support and happy new year.

Had my best 1 hour Zwifting this morning,

Regards

[2021-01-01 19:22] #94 closed

[2021-01-01 19:36] cagnulein commented on #94
I Love to hear it! Don't forget to rate it on the store!
Thank you, have a nice evening!

Il ven 1 gen 2021, 20:22 unwirednet <notifications@github.com> ha scritto:

[2021-01-01 22:56] cagnulein opened #96 "YOSUDA bike support"

[2021-01-01 22:56] cagnulein opened #97 "Joroto bike support"

[2021-01-01 22:56] cagnulein opened #98 "MaxKare bike support"

[2021-01-02 05:13] cagnulein commented on #75
https://bugreports.qt.io/browse/QTBUG-89757 i opened a  bug report

[2021-01-02 06:42] cagnulein opened #99 "Heart rate zone tile"

[2021-01-02 07:32] cagnulein commented on #86
ok @guidel96 i've done all the modifications. now you should read cadence on the UI.
it's very strange that you don't see the bridge from your phone. Are you sure that it doesn't popup with a different name, for example "DomyosBridge"? I saw in your logs that the bridge interface was correctly set up. Maybe is a lack of the bluetooth stack of your phone (peripheral and central bluetooth at the sam

[2021-01-02 10:28] cagnulein opened #100 "Power zone tile based on FTP"
https://l.facebook.com/l.php?u=https%3A%2F%2Fblog.tacx.com%2Fpower-zones-explained%2F&h=AT23OeUhlAlB2v_K6H5JqsBAV6DgF69vevWFOp3s87KbqPhsu5BGBgDEmBwQ0nOU_B2KGVbzTOkJp-51R94RkVKhG8MU8z6NAPQpGGbdxdgJc57OjEnzfxmKyDZtsbfgI9jMuJskD7TA

![image](https://user-images.githubusercontent.com/48216/103455447-9ffc3c00-4ced-11eb-8f8b-eb49add11f3a.png)

https://l.facebook.com/l.php?u=https%3A%2F%2Fblog.onepeloton

[2021-01-02 12:05] #100 closed

[2021-01-02 12:06] cagnulein commented on #95
@dsmitty166

[2021-01-02 18:00] mattm382 opened #101 "Fire Tablet 8 (8th gen)"
Can't connect to Zwift.  Open Zwift and it recognizes the tablet but shows "No Signal".
![20210102_092750](https://user-images.githubusercontent.com/76880353/103463393-e1d2b580-4ce0-11eb-8405-9a2d1235debd.jpg)

The first two logs are from when I manually paired the tablet with my PC before starting everything.  The second two logs are from when I unpaired the tablet and then started everything.  T

[2021-01-02 18:16] cagnulein commented on #101
did you turn the peloton setting off?

Roberto Viola
Software engineer and open source enthusiast
http://robertoviola.cloud

Il giorno sab 2 gen 2021 alle ore 19:00 mattm382 <notifications@github.com>
ha scritto:

[2021-01-02 18:23] mattm382 commented on #101
Yes.  Cadence Sensor (Peloton compatibility) set to Off.

[2021-01-02 18:48] cagnulein commented on #101
do you have the beta access to my app? if not, send me a mail to
roberto.viola83@gmail.com with your google play account email address and i
will add you

Roberto Viola
Software engineer and open source enthusiast
http://robertoviola.cloud

Il giorno sab 2 gen 2021 alle ore 19:23 mattm382 <notifications@github.com>
ha scritto:

[2021-01-02 19:00] mattm382 opened #102 "Samsung S6 Active (Android 7.0)"
I have connection stability issue.  The app will not stay connected to my Echelon Connect Sport bike.  It connects instantly but within 1 minute it loses connection.  Force close the app and reopen and same thing happens.
[btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5760750/btsnoop_hci.log)

[2021-01-02 19:02] mattm382 commented on #102
[btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5760752/btsnoop_hci.log)

[2021-01-02 19:39] mattm382 commented on #102
Here is a log I did with the Echelon app.  It did lose connection briefly one time during a 5 minute ride.
[btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5760789/btsnoop_hci.log)

[2021-01-02 19:42] mattm382 commented on #101
Mail sent, thank you.

[2021-01-02 20:13] cagnulein commented on #102
@mattm382 so looking on your #101 you don't have this issue on the fire tablet 8" isn't it? i guess it just a matter of the hardware inside of the S6. I mean, for what i quicly saw, when the bridge advertise ends, the connection to bike drops too. i can try to add an option to disable the bridge, just to understand if i'm right. If this is the issue, i could add an option to change the way i adver

[2021-01-02 20:13] cagnulein commented on #102
#75

[2021-01-02 20:15] mattm382 commented on #102
Correct.  The fire tablet has no connection issue to the bike.

[2021-01-02 20:21] cagnulein commented on #19
GPX file has wrong timestamp on version 1.11.1

[2021-01-02 20:57] mattm382 commented on #102
Here is a log with Relaxed Bluetooth mode enabled.

[btsnoop_hci.log](https://github.com/cagnulein/qdomyos-zwift/files/5760853/btsnoop_hci.log)

[2021-01-02 21:34] cagnulein opened #103 "HRM: check what's happening when the connection drops"

[2021-01-03 04:19] venkateshks commented on #91
@cagnulein Sorry, was off the radar last couple of days. I updated to latest beta and tested with Garmin edge 530 (a bike computer) and it doesnt work. I see that a virtual device emulation button is set in the latest update to the app. I can test further if you want to suggest what settings I need to try with?

[2021-01-03 06:21] cagnulein opened #104 "Cadence tile: change to RPM not BPM"

[2021-01-03 06:28] cagnulein commented on #71
**Notes to myself: try to use 16bit UUID instead of the qt default for cadence and heart service on iOS**

[2021-01-03 06:31] cagnulein commented on #91
@venkateshks no, don't touch that setting, it simple disable the bridge ;)
Did the watch see at least the bridge? Try to enable the battery service if it doesn't.
And if it doesn't again try to enable "service changed" setting too.
Let me know

[2021-01-03 06:42] cagnulein opened #105 "Incorrect layout on settings page on smalls screen"
For example my Xiaomi Mi3

[2021-01-03 07:03] cagnulein commented on #104
done

[2021-01-03 07:03] #104 closed

[2021-01-03 07:04] cagnulein commented on #102
just a note: with "Virtual Device" setting to off, the connection is stable. It means that the advertising of the bridge make it drops (not at the very start, i guess when it stops)

[2021-01-03 07:33] cagnulein opened #106 "QML layout on iPad Split Scren"
now:
![image](https://user-images.githubusercontent.com/48216/103473936-561f5e80-4d9e-11eb-9212-45bcadfa3f5c.png)

requested:
![image](https://user-images.githubusercontent.com/48216/103473939-59b2e580-4d9e-11eb-9c51-137fc478077a.png)

[2021-01-03 07:48] cagnulein commented on #71
https://bugreports.qt.io/browse/QTBUG-89768

[2021-01-03 08:08] AimanFarooq commented on #106
These screenshots are on the Desktop view of a Samsung device in Dex mode. My suggested layout is one take but I think this could work in other ways too. The user story for this request is: As an Android user with a single large display (Dex or larger phone/tablet) I would like a way to view just my relevant metrics while maintaining a large view of my class.

[2021-01-03 08:14] AimanFarooq commented on #106
For reference, here is how I was doing this previously with the Echelon app.
![Screenshot_20210103-001204_Echelon Fit](https://user-images.githubusercontent.com/3269808/103474434-9d82fc00-4d58-11eb-84c1-95fd413694b1.png)

[2021-01-03 09:41] mgsimon commented on #91
@cagnulein training session is recorded with watch only and it is independent of garmin connect. Garmin connect is for sync and mgmt only.

[2021-01-03 09:51] cagnulein commented on #91
ok :) i definitely need to buy a garmin too :D

Roberto Viola
Software engineer and open source enthusiast
http://robertoviola.cloud

Il giorno dom 3 gen 2021 alle ore 10:41 Michael Simon <
notifications@github.com> ha scritto:

[2021-01-03 10:16] mgsimon commented on #91
Another solution could be to implement ant+ like https://github.com/haraldh/iconsole-android ... :-)

[2021-01-03 10:28] cagnulein commented on #91
is your phone ant+ compatible? did you test with "ANT Tester"?
It's a great idea!

Roberto Viola
Software engineer and open source enthusiast
http://robertoviola.cloud

Il giorno dom 3 gen 2021 alle ore 11:16 Michael Simon <
notifications@github.com> ha scritto:

[2021-01-03 10:33] cagnulein commented on #106
done, you will find a new option in the next beta (i guess, i will release it today)! If you like it, when you will test it, close this :)

[2021-01-03 10:47] mgsimon commented on #91
Yes, my phone is ant+ compatible!

[2021-01-03 10:52] cagnulein commented on #91
Yuppi!! ok i will add it in the next releases.
But before doing this, i have to add strava auto upload. So please be
patience :D

Roberto Viola
Software engineer and open source enthusiast
http://robertoviola.cloud

Il giorno dom 3 gen 2021 alle ore 11:47 Michael Simon <
notifications@github.com> ha scritto:

[2021-01-03 11:35] cagnulein commented on #106
@AimanFarooq beta update is live ;)

[2021-01-03 14:51] mgsimon commented on #91
Hint: library from https://github.com/ant-wireless/ANT-Android-SDKs/tree/master/ANT_Android_SDK/API is required for the ant implemention

and

PredefinedNetwork class have to be replaced by own for broadcasting as in example of ...
https://github.com/ant-wireless/ANT-Android-SDKs/tree/master/ANT_Android_SDK/API

[2021-01-03 18:49] cagnulein opened #107 "Domyos Treadmill has no working plus/minus speed and inclination"
[debug-Sun Jan 3 18_51_45 2021.log](https://github.com/cagnulein/qdomyos-zwift/files/5762078/debug-Sun.Jan.3.18_51_45.2021.log)

[2021-01-03 20:15] AimanFarooq commented on #105
I just noticed that the UI shifts in a similar way on the tile screen when going from portrait>landscape>portrait on Samsung Galaxy S20.
![Screenshot_20210103-121003](https://user-images.githubusercontent.com/3269808/103487885-672b9800-4dbd-11eb-958c-a05ebc1c46ec.png)

[2021-01-03 20:18] AimanFarooq commented on #106
This looks great know, thank you for the update! One last thing that would really put this over the top, it would be great to hide the action bar on scroll to maximize tile display in a small window.
![Screenshot_20210103-120249](https://user-images.githubusercontent.com/3269808/103487933-ae198d80-4dbd-11eb-9c2d-f102002f0b94.png)

[2021-01-04 09:42] cagnulein commented on #107
[debug-Mon Jan 4 10_31_53 2021.log](https://github.com/cagnulein/qdomyos-zwift/files/5764030/debug-Mon.Jan.4.10_31_53.2021.log)
remote controller events

[2021-01-04 13:37] cagnulein commented on #102
https://bugreports.qt.io/browse/QTBUG-89757

[2021-01-04 13:39] cagnulein commented on #101
@marklogan17 remember to give it a try with nrfconnect, thanks!

[2021-01-04 14:12] cagnulein commented on #106
done! it will be avaiable in the next beta :P

[2021-01-04 14:27] cagnulein commented on #105
@AimanFarooq does it happen right after the start if you just start it on portrait mode?

[2021-01-04 14:37] cagnulein commented on #105
@AimanFarooq fixed this too! avaiable in the next beta!

[2021-01-04 19:05] cagnulein opened #108 "Power Zone Pack Chart"
![image](https://user-images.githubusercontent.com/48216/103569763-308e7400-4ec8-11eb-842b-f877b426045c.png)

[2021-01-04 21:37] cagnulein commented on #103
Add a timeout in order to start a workout even without the heart rate belt

[2021-01-05 06:20] venkateshks commented on #91
@cagnulein No luck with Garmin Edge 530. The edge is not able to see the app even when I turn on the battery service option.

[2021-01-05 06:22] cagnulein commented on #91
Ok thanks for reporting it. I think the best way for garmin should be the ant as @mgsimon said

[2021-01-05 10:06] cagnulein commented on #93
https://github.com/Loukei/Qt-Google-OAuth2-Demo

[2021-01-05 21:26] cagnulein commented on #107
just need keycode for the 4 and 4 buttons on the console

[2021-01-06 02:43] jadair32 opened #109 "oneplus 6t does not even appear in zwift"
using an echelon connect sport bike, Peloton compatible setting is turned off, app is connecting to the bike and showing metrics in the app (super useful in its own nice touch adding the 'Peloton equivalent') but when launching the Zwift game on my laptop nothing is being found when searching for a power source.

[2021-01-06 06:26] cagnulein commented on #109
Check this
https://www.facebook.com/groups/149984563348738/permalink/151337329880128/

He has the same problem and he fix it ;)

Write here a feedback at the end, thanks

Il mer 6 gen 2021, 03:43 jadair32 <notifications@github.com> ha scritto:

[2021-01-06 16:06] jadair32 commented on #109
I completely uninstalled and reinstalled zwift (I'm on a windows machine by the way) to no avail; phone is already connected to the laptop via bluetooth; I also tried to disconnect their pairing and re-pair them once Zwift was searching, same results. I know that oneplus has some aggressive battery management, maybe it has to do with that (I turned off battery optimization on the qDomyos applicati

[2021-01-06 16:14] cagnulein commented on #109
@jadair32 do you have another phone on which you could install Zwift and try to see if it will find the OnePlus?
Just to understand of course

[2021-01-06 16:27] jadair32 commented on #109
I'll have to wait for the wife to get home and have her purchase the application on her google account, I have an OLD Blu device but it doesn't even connect to the bike with the Echelon Fit app.

[2021-01-06 16:46] jadair32 commented on #109
Oh, I just comprehended what you were asking, I tried Zwift from her phone last night it did not work, I have yet to try her phone with my laptop though.